openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.0.0
servers:
- url: https://stg34.visionplus.io:24500/fva_apac
tags:
- name: Card Management
paths:
  /v1/cards/{cardNumber}/controls:
    put:
      tags:
      - Card Management
      summary: Update Card Controls
      description: This service updates the card controls for a given card number
      operationId: UpdateCardControls
      x-group-name: Card Management
      x-proxy-name: Update Card Controls
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: "Business Unit - Identification number associated with this Account\
          \ Base Segment record, the values are 001–998"
        required: true
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 100
      - name: cardNumber
        in: path
        description: Card Number - Token Number assigned to the cardholder embosser
          record
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19.0
          example: 0009846801010434751
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardControlsReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCardControlsResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/cards/{cardNumber}/details:
    get:
      tags:
      - Card Management
      summary: Inquire Card
      description: This service is used to fetch card details for a given card number
      operationId: InquireCard
      x-group-name: Card Management
      x-proxy-name: Inquire Card
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: "Business Unit - Identification number associated with this Account\
          \ Base Segment record, the values are 001–998."
        required: true
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 600
      - name: cardNumber
        in: path
        description: Card Number - Token Number assigned to the cardholder embosser
          record.
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19.0
          example: 0009544410000000062
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireCardResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/cards/{cardNumber}/validateCVV2:
    post:
      tags:
      - Card Management
      summary: Validate CVV2
      description: The Card Secure Code Validation service is used to validate the
        CVV2 and optionally the expiry date of a given card. This service is typically
        called before the card activation or PIN reset service to validate the cardholder.
      operationId: CardSecureCode
      x-group-name: Card Management
      x-proxy-name: Validate CVV2
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: "Business Unit - Identification number associated with this Account\
          \ Base Segment record, the values are 001–998"
        required: true
        schema:
          default: 0.0
          maximum: 999.0
          type: number
          minimum: 0.0
          maxLength: 3
          example: 100
      - name: cardNumber
        in: path
        description: Card Number - Token Number assigned to the cardholder embosser
          record.
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19.0
          example: 0009846801010065787
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardSecureCodeReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardSecureCodeResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/cards/{cardNumber}/transfer:
    put:
      tags:
      - Card Management
      summary: Transfer Lost Stolen Card
      description: This Lost or Stolen service is used to block the lost card and
        request for the replacement card.
      operationId: TransferLostStolenCard
      x-group-name: Card Management
      x-proxy-name: Transfer Lost Stolen Card
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: Business Unit - Identification number associated with this Account
          Base Segment record
        schema:
          default: 0.0
          maximum: 999.0
          type: number
          minimum: 0.0
          maxLength: 3
          example: 100
      - name: cardNumber
        in: path
        description: Card Number - Token Number assigned to the card-holder embosser
          record.
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19
          example: 0009846801010001345
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferLostStolenCardReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransferLostStolenCardResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/cards/{cardNumber}/spendLimits:
    put:
      tags:
      - Card Management
      summary: Update Spend Limits
      description: This service is used to update the spending limits to control the
        card usage. These limits are set at individual card level.
      operationId: UpdateSpendLimit
      x-group-name: Card Management
      x-proxy-name: Update Spend Limits
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: Business Unit - Identification number associated with this Account
          Base Segment record
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 100
      - name: cardNumber
        in: path
        description: Card Number - Token Number assigned to the cardholder embosser
          record.
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19
          example: 0009846801010273613
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSpendLimitReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSpendLimitResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/cards/{cardNumber}/profile:
    put:
      tags:
      - Card Management
      summary: Update Card Type
      description: This service is used to update the type of cardholder between primary
        and supplementary (Joint Cardholder).
      operationId: UpdateCardType
      x-group-name: Card Management
      x-proxy-name: Update Card Type
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: Business Unit - Identification number associated with this Account
          Base Segment record
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 600
      - name: cardNumber
        in: path
        description: Card Number - Token Number assigned to the cardholder embosser
          record.
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19
          example: 0009846801010273613
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardTypeReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCardTypeResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/cards/boardCard:
    post:
      tags:
      - Card Management
      summary: Board Card
      description: This service is used to board the new card
      operationId: BoardCard
      x-group-name: Card Management
      x-proxy-name: Board Card
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardCardReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardCardResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/cards/{cardNumber}/activate:
    put:
      tags:
      - Card Management
      summary: Activate Card
      description: This service is used to activate the card after successful verification
        of the cardholder.
      operationId: ActivateCard
      x-group-name: Card Management
      x-proxy-name: Activate Card
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: Business Unit - Identification number associated with this Account
          Base Segment record
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 100
      - name: cardNumber
        in: path
        description: Card Number - Token Number assigned to the cardholder embosser
          record.
        required: true
        schema:
          type: string
          maxLength: 19
          example: 0009846801010273613
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivateCardReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivateCardResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/cards/{cardNumber}/pinBlockChange:
    put:
      tags:
      - Card Management
      summary: Change PIN
      description: The PIN Block Change Service is used to update the PIN Block with
        the prerequisite that the existing PIN block must be supplied and validated.
      operationId: ChangePIN
      x-group-name: Card Management
      x-proxy-name: Change PIN
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: "Identification number of the organization associated with thisAccount\
          \ Base Segment record,The values are 001–998"
        required: true
        schema:
          default: 0.0
          maximum: 998.0
          type: number
          minimum: 0.0
          example: 600
      - name: cardNumber
        in: path
        description: Number that is embossed on the plastic card.
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19.0
          example: 0009544401000009153
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePINReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChangePINResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/cards/{cardNumber}/controlDetails:
    get:
      tags:
      - Card Management
      summary: Inquire Card Controls
      description: This service fetches the card controls for a given card number
      operationId: InquireCardControls
      x-group-name: Card Management
      x-proxy-name: Inquire Card Controls
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: "Business Unit - Identification number associated with this Account\
          \ Base Segment record, the values are 001–998"
        required: true
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 600
      - name: cardNumber
        in: path
        description: Card Number - Token Number assigned to the cardholder embosser
          record
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19
          example: 0009544410000000062
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireCardControlsResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/cards/{cardNumber}/clearPan:
    get:
      tags:
      - Card Management
      summary: Fetch Clear PAN from Token
      description: This service is used to fetch the clear pan for the requested First
        Vision's Token PAN..
      operationId: FetchClearPan
      x-group-name: Card Management
      x-proxy-name: Fetch Clear PAN from Token
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: "Business Unit - Identification number associated with this Account\
          \ Base Segment record, the values are 001–998"
        schema:
          default: 0.0
          maximum: 998.0
          type: number
          minimum: 0.0
          maxLength: 3
          example: 100
      - name: cardNumber
        in: path
        description: Number that is embossed on the plastic card.
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19
          example: 0009846801010273605
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchClearPanResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/cards/{cardNumber}/blockUnblock:
    put:
      tags:
      - Card Management
      summary: Block-Unblock Card
      description: This service is used to update the block codes and the reason codes
        for the block codes for cards and accounts. Same service can be used to unblock
        the card by passing spaces in the block-code field of the request body.
      operationId: BlockUnblockCard
      x-group-name: Card Management
      x-proxy-name: Block Unblock Card
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: Business Unit - Identification number associated with this Account
          Base Segment record
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 100
      - name: cardNumber
        in: path
        description: Card Number - Token Number assigned to the cardholder embosser
          record.
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 119
          example: 0009846801010273605
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockUnblockCardReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockUnblockCardResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'              
components:
  schemas:
    UpdateCardControlsReq:
      type: object
      properties:
        maximumAmountOtcCashAuthorizationsAllowed:
          default: 0.0
          description: Maximum Amount OTC Cash Authorizations Allowed - Maximum amount
            in monetary units and subunits of OTC cash authorizations allowed for
            this Embosser record for the frequency defined in the FREQ field
          type: string
          maxLength: 17
          example: 1000.00
        ecomactiveswitch:
          description: ECOM Active switch - ECOM Active switch
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: 0
        posflag:
          description: POS Flag - POS Flag
          type: string
          enum:
          - "Y"
          - "N"
          - ' '
          maxLength: 1
          example: "N"
        maximumNumberRetailAuthorizationsAllowed:
          default: 0.0
          description: Maximum Number Retail Auths allowed - Maximum number of retail
            authorizations allowed for this Embosser record for the frequency defined
            in the FREQ field
          type: number
          maxLength: 9
          example: 2
        maximumNumberOtcAuthorizationsAllowed:
          default: 0.0
          description: Maximum Number OTC Cash Authorizations Allowed - Maximum number
            of OTC authorizations allowed for this Embosser record for the frequency
            defined in the FREQ field
          type: number
          maxLength: 9
          example: 5
        cashBackTranFlag:
          description: Cash Back Transaction Flag -  Cash Back Transaction Flag
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "Y"
        maximumNumberAtmCashAuthorizationsAllowed:
          default: 0.0
          description: Maximum Number ATM Cash Authorizations Allowed - Maximum number
            of ATM cash authorizations allowed for this Embosser record for the frequency
            defined in the FREQ field
          type: number
          maxLength: 9
          example: 10
        singleOtcCashAuthorizationAllowed:
          default: 0.0
          description: Single OTC Cash Authorization Allowed - Maximum amount in monetary
            units and subunits of OTC authorizations allowed for this Embosser record
            for the frequency defined in the FREQ field
          type: string
          maxLength: 17
          example: 1200.00
        maximumAmountSingleAtmTransactionAllowed:
          default: 0.0
          description: Maximum Amount Single ATM Transaction Allowed - Maximum authorization
            amount in monetary units and subunits of a single ATM transaction allowed
            for this Embosser record for the frequency defined in the FREQ field
          type: string
          maxLength: 17
          example: 1000.00
        singleRetailAuthorizationAllowed:
          default: 0.0
          description: Single Retail Authorization Allowed - Maximum amount in monetary
            units and subunits of retail authorizations allowed for this Embosser
            record for the frequency defined in the FREQ field
          type: string
          maxLength: 17
          example: 1600.00
        maximumAmountRetailAuthorizationsAllowed:
          default: 0.0
          description: Maximum Amount Retail Auths allowed - Maximum amount in monetary
            units and subunits of retail authorizations allowed for this Embosser
            record for the frequency defined in the FREQ field
          type: string
          maxLength: 17
          example: 1000.00
        atmflag:
          description: ATM Flag - ATM Flag
          type: string
          enum:
          - "Y"
          - "N"
          - ' '
          maxLength: 1
          example: "Y"
        maximumAmountAtmCashAuthorizationsAllowed:
          default: 0.0
          description: Maximum Amount ATM Cash Authorizations Allowed - Maximum amount
            in monetary units and subunits of ATM cash authorizations allowed for
            this Embosser record for the frequency defined in the FREQ field.
          type: string
          maxLength: 17
          example: 1000.00
        maximumAuthorizationsFrequnecy:
          description: "Maximum Authorizations Frequency - Code that indicates the\
            \ frequency for the maximum authorization parameters. This frequency code\
            \ applies to the RETAIL PURCH AMT through TXN LIMIT RETAIL fields, inclusive"
          type: string
          enum:
          - 0
          - 1
          - 2
          - 3
          maxLength: 1
          example: 1
        motoflag:
          description: MOTO Flag - MOTO Flag
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "Y"
        intAtmPosFlag:
          description: International ATM POS Flag - International ATM POS Flag
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "Y"
        paywaveswitch:
          description: Pay Wave Switch - Pay Wave Switch
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "N"
    InquireCardResp:
      type: object
      properties:
        cardholderType:
          description: Cardholders Type - Code that indicates whether the cardholder
            is the primary cardholder or an additional cardholder associated with
            the account.
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: 0
        businessUnit:
          default: 0.0
          description: "Business Unit - Identification number associated with this\
            \ Account Base Segment record, the values are 001–998."
          type: number
          maxLength: 3
          example: 600
        lastCardExpirationDate:
          format: uppercase
          description: "Last Card Expiration Date - Date on which the previously issued\
            \ card expired, format is DD/MM/YYYY"
          type: string
          maxLength: 10
          example: 01/02/2020
        cardIssueDate:
          format: uppercase
          description: "Card Issue Date - The date when the most recently issued card\
            \ was produced, format is DD/MM/YYYY"
          type: string
          maxLength: 10
          example: 01/02/2020
        lastCardActivation:
          description: Last Card Activation - Indicates whether card activation needs
            to occur for the previously issued card.
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "N"
        postalCode:
          format: uppercase
          description: Postal Code - Postal code of the mailing address for cards
            and PIN mailers.
          type: string
          maxLength: 10.0
          example: ' '
        pinOverride:
          type: string
          enum:
          - 0
          - 1
          - 2
          - ' '
        typeOfCardRequested:
          default: 0.0
          description: Type of Card Requested - This field (REQ) is a user-defined
            code that identifies the type of card requested.
          type: number
          example: 0
        secureCodeActiveForAccount:
          description: Secure Code Active for Account - Code that indicates whether
            the account number has had at least one fully authenticated MasterCard
            SecureCode transaction and is eligible for SecureCode.
          type: string
          maxLength: 1
          example: 0
        firstIssueBranch:
          default: 0.0
          description: First Issue Branch - Branch number that identifies the card
            mailing location for the issue of new cards when the branch delivery option
            is used.
          type: number
          maxLength: 9
          example: 0
        spendingLimitPrepaymentAvailable:
          default: 0.0
          description: Spending Limit Prepayment Available - Current amount of the
            temporary increase in the spending limit for this cardholder as a result
            of a spending limit prepayment transaction.
          type: string
          maxLength: 17
          example: $0.00
        visaMiniCardVersion:
          description: VISA Mini Card Version - Code that indicates the version of
            Visa Mini card.
          type: string
          enum:
          - 0
          - 1
          - 2
          maxLength: 1
          example: 0
        dateFirstCardVerify:
          format: uppercase
          description: "Date First Card Verify - Date on which card activation requirements\
            \ are enforced, format is DD/MM/YYYY"
          type: string
          maxLength: 10
          example: 01/02/2020
        maximumAmountRetailAuthorizationsAllowed:
          default: 0.0
          description: Maximum Amount Retail Auths allowed - Maximum amount in monetary
            units and subunits of retail authorizations allowed for this Embosser
            record for the frequency defined in the FREQ field.
          type: string
          maxLength: 17
          example: "$1,000.00"
        addressLine1:
          format: uppercase
          description: Address Line 1 - Address used for mailing the card and PIN
            mailer.
          type: string
          maxLength: 40.0
          example: ' '
        addressLine2:
          format: uppercase
          description: Address Line 2 - Address used for mailing the card and PIN
            mailer.
          type: string
          maxLength: 40.0
          example: ' '
        currentChipSequenceNumber:
          default: 0.0
          description: Current Chip Sequence Number - Chip sequence number of the
            most recently issued card.
          type: number
          example: 0
        mailerDate:
          format: uppercase
          description: "Mailer Date - Date the current card was mailed to the cardholder,\
            \ format is DD/MM/YYYY"
          type: string
          maxLength: 10
          example: 01/02/2020
        mobileProvisionStatus:
          type: string
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
        emblem:
          default: 0.0
          type: number
        authorizationCriteriaTableIdNumber:
          format: uppercase
          description: Authorization Criteria Table ID Number - Identification number
            of the Authorization Criteria table assigned to the Embosser record.
          type: string
          maxLength: 3.0
          example: ' '
        cardReissueDeliveryOption:
          description: Card Reissue Delivery Option - Delivery option for reissued
            cards.
          type: string
          enum:
          - 0-999
          maxLength: 3
          example: 0
        blockDate:
          format: uppercase
          description: "Block Code Date - Date the Block Code was assigned, format\
            \ is DD/MM/YYYY"
          type: string
          maxLength: 10
          example: 25/01/202
        blockSecurityId:
          format: uppercase
          description: Block Security ID - Operator ID of the person who applied Block
            Code on Card.
          type: string
          maxLength: 3.0
          example: ' '
        name1TypeIndicator:
          description: Name 1 Type Indicator  - Type of name for EMBOSSED NAME 1.
            This field displays only for prepaid cards.
          type: string
          maxLength: 1
          example: 0
        cardholderName1:
          format: uppercase
          description: "Cardholders Name 1 - Name of the card-holder. If you leave\
            \ this field blank, CMS uses the name entered in EMBOSSED NAME 1. This\
            \ field is used when nprinting name and address information."
          type: string
          maxLength: 40.0
          example: ' '
        digitalId:
          format: uppercase
          type: string
          maxLength: 10.0
        cardholderName2:
          format: uppercase
          description: Cardholders Name2 - Name of the card-holder used for mailing
            the card and PIN mailers.
          type: string
          maxLength: 40.0
          example: ' '
        name2TypeIndicator:
          description: Name 2 Type Indicator - Type of name for EMBOSSED NAME 2. This
            field displays only for prepaid cards.
          type: string
          maxLength: 1
          example: 0
        maximumNumberRetailAuthorizationsAllowed:
          default: 0.0
          description: Maximum Number Retail Auths allowed - Maximum number of retail
            authorizations allowed for this Embosser record for the frequency defined
            in the FREQ field.
          type: number
          maxLength: 9
          example: 999999999
        stateProvince:
          format: uppercase
          description: State / Province - State or province of the mailing address
            for cards and PIN mailers.
          type: string
          maxLength: 3.0
          example: ' '
        maximumNumberOtcAuthorizationsAllowed:
          default: 0.0
          description: Maximum Number OTC Cash Authorizations Allowed - Maximum number
            of OTC authorizations allowed for this Embosser record for the frequency
            defined in the FREQ field.
          type: number
          maxLength: 9
          example: 999999999
        cardReissueDeliveryLocation:
          default: 0.0
          description: Card Reissue Delivery Location - Branch number that identifies
            the card mailing location for all reissued cards (all card actions except
            1) when the branch delivery option is used.
          type: number
          maxLength: 9
          example: 0
        warningBulletinDistributionRegion:
          format: uppercase
          description: Warning Bulletin Distribution Region - Code that identifies
            regions for distribution of the Recovery Card List or the Card Recovery
            Bulletin.
          type: string
          maxLength: 9.0
          example: ' '
        secureIdStatusChanged:
          format: uppercase
          description: Secure ID Status Changed - operator ID of the person who changed
            the status.
          type: string
          maxLength: 3.0
          example: C1X
        maximumAmountSingleAtmTransactionAllowed:
          default: 0.0
          description: Maximum Amount Single ATM Transaction Allowed - Maximum authorization
            amount in monetary units and subunits of a single ATM transaction allowed
            for this Embosser record for the frequency defined in the FREQ field.
          type: string
          maxLength: 17
          example: "$2,000.00"
        languageIndicator:
          format: uppercase
          description: Language Indicator - User-defined code to indicate the language
            spoken by the cardholder.
          type: string
          maxLength: 3.0
          example: ' '
        embosserRecordStatus:
          description: Status - Status of Embosser record.
          type: string
          maxLength: 1
          example: 0
        maximumAuthorizationsFrequnecy:
          description: "Maximum Authorizations Frequency - Code that indicates the\
            \ frequency for the maximum authorization parameters. This frequency code\
            \ applies to the RETAIL PURCH AMT through TXN LIMIT RETAIL fields, inclusive."
          type: string
          enum:
          - 0
          - 1
          - 2
          - 3
          maxLength: 1
          example: 1
        cardDelayDays:
          default: 0.0
          type: number
        cardNumber:
          format: uppercase
          description: Card Number - Token Number assigned to the cardholder embosser
            record.
          type: string
          maxLength: 19.0
          example: 0009544410000000062
        statusDateChange:
          format: uppercase
          description: "Status Change Date - Date on which the status was last changed,\
            \ format is DD/MM/YYYY"
          type: string
          maxLength: 10
          example: 01/02/2020
        transferEffectiveDate:
          format: uppercase
          description: "Fraud Transfer Date - Date that a fraud card transfer for\
            \ this embosser is effective, format is DD/MM/YYYY"
          type: string
          maxLength: 10
          example: 01/02/2020
        spendingLimitPrepaymentAmount:
          default: 0.0
          description: Spending Limit Prepayment Amount - Amount of the spending limit
            prepayment transaction that resulted in a temporary increase in the spending
            limit for this cardholder.
          type: string
          maxLength: 17
          example: $0.00
        city:
          format: uppercase
          description: City - City portion of the mailing address for cards and PIN
            mailers.
          type: string
          maxLength: 30.0
          example: ' '
        spendingCategoryStatistics:
          type: array
          items:
            type: object
            properties:
              spendingCategoryNumberLtd1:
                default: 0.0
                type: number
                description: Spending Category Number LTD - Total number of authorizations
                  for the spending category for this card life-to-date.
                maxLength: 9
                example: 999999999
              spendingCategoryAmountToday1:
                default: 0.0
                type: number
                description: Spending Category Amount Today - Total amount of authorizations
                  for the spending category for this card today.
                maxLength: 17
                example: "$1,000.00"
              spendingCategoryNumberCtd1:
                default: 0.0
                type: number
                description: Spending Category Number CTD - Total number of authorizations
                  for the spending category for this card cycle-to-date.
                maxLength: 9
                example: 999999999
              spendingCategoryNumberToday1:
                default: 0.0
                type: number
                description: Spending Category Number Today - Total number of authorizations
                  for the spending category for this card today.
                maxLength: 9
                example: 999999999
              spendingCategoryAmountCtd1:
                default: 0.0
                type: string
                description: Spending Category Amount CTD - Total amount of authorizations
                  for the spending category for this card cycle-to-date.
                maxLength: 17
                example: "$1,000.00"
              spendingCategoryAmountYtd1:
                default: 0.0
                type: string
                description: Spending Category Amount YTD - Total amount of authorizations
                  for the spending category for this card year-to-date.
                maxLength: 17
                example: "$1,000.00"
              spendingCategoryNumberYtd1:
                default: 0.0
                type: number
                description: Spending Category Number YTD - Total number of authorizations
                  for the spending category for this card year-to-date.
                maxLength: 9
                example: 999999999
              spendingCategoryAmountLtd1:
                default: 0.0
                type: string
                description: Spending Category Amount LTD - Total amount of authorizations
                  for the spending category for this card life-to-date.
                maxLength: 17
                example: "$1,000.00"
              spendingCategoryNumberWtd1:
                default: 0.0
                type: number
                description: Spending Category Number WTD - Total number of authorizations
                  for the spending category for this card week-to-date  (Sunday through
                  Saturday).
                maxLength: 9
                example: 999999999
              spendingCategoryAmountWtd1:
                default: 0.0
                type: string
                description: Spending Category Amount WTD - Total amount of authorizations
                  for the spending category for this card week-to-date (Sunday through
                  Saturday).
                maxLength: 17
                example: "$1,000.00"
        dateCurrentCardValid:
          format: uppercase
          type: string
        maximumNumberAtmCashAuthorizationsAllowed:
          default: 0.0
          description: Maximum Number ATM Cash Authorizations Allowed - Maximum number
            of ATM cash authorizations allowed for this Embosser record for the frequency
            defined in the FREQ field.
          type: number
          maxLength: 9
          example: 999999999
        singleOtcCashAuthorizationAllowed:
          default: 0.0
          description: Single OTC Cash Authorization Allowed - Maximum amount in monetary
            units and subunits of OTC authorizations allowed for this Embosser record
            for the frequency defined in the FREQ field.
          type: string
          maxLength: 17
          example: $0.00
        mobileDeviceId:
          format: uppercase
          type: string
          maxLength: 20.0
        currentCardNeedActivation:
          description: Current Card Needs Activation - Indicates whether card activation
            needs to occur for the most recently issued card.
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "N"
        nameOnCard:
          format: uppercase
          description: Name on Card - Name to be embossed on the first embossing line
            of the card. Enter the name exactly as it is to appear on the card.
          type: string
          maxLength: 26.0
          example: DAVID TEST 2
        nameOn2ndLine:
          format: uppercase
          description: Name on 2nd Card - Type of name for EMBOSSED NAME 2. This field
            displays only for prepaid cards.
          type: string
          maxLength: 26.0
          example: ' '
        spendingLimitPrepaymentExpiryDate:
          format: uppercase
          description: "Spending Limit Prepayment Amount - Date on which the temporary\
            \ increase in the spending limit expires for this cardholder, format is\
            \ DD/MM/YYYY"
          type: string
          maxLength: 10
          example: 01/02/2020
        posServiceCode:
          format: uppercase
          description: POS Service Code - Code that indicates the type of point-of-sale
            service in effect for a card.
          type: string
          maxLength: 3.0
          example: ' '
        fraudCardTransferNumber:
          format: uppercase
          description: Fraud Card Transfer Number - Number of the Embosser record
            replacement associated with a fraud card transfer.
          type: string
          maxLength: 19.0
          example: ' '
        maximumAmountAtmCashAuthorizationsAllowed:
          default: 0.0
          description: Maximum Amount ATM Cash Authorizations Allowed - Maximum amount
            in monetary units and subunits of ATM cash authorizations allowed for
            this Embosser record for the frequency defined in the FREQ field.
          type: string
          maxLength: 17
          example: "$1,000.00"
        cardsReturnedForEmbosser:
          default: 0.0
          description: Cards Returned for Embosser  - Number of cards that were returned
            for the current day.
          type: number
          example: 0
        reasonCode:
          format: uppercase
          type: string
          maxLength: 1.0
        issuingAttemptsRemaining:
          default: 0.0
          description: Reissue Attempts - Number of issue or reissue attempts remaining
            for this card.
          type: number
          maxLength: 3
          example: 0
        pinOffset:
          default: 0.0
          description: PIN Offset - Current PIN offset of the card.
          type: number
          maxLength: 1
          example: 0
        cardActivatedDate:
          format: uppercase
          description: "Card Activated Date - Date on which the card is activated,\
            \ format is DD/MM/YYYY"
          type: string
          maxLength: 10
          example: 19/08/2021
        expirationDate:
          format: uppercase
          description: "Expiration Date - Date on which the most recently issued card\
            \ expires, format is DD/MM/YYYY"
          type: string
          maxLength: 10
          example: 16/08/2024
        userdefinedField5:
          format: uppercase
          description: User-defined Field 5 - User-defined code for this Embosser
            record. You can change the field name in the Logo record (EMB CODES 5
            on ARML23).
          type: string
          maxLength: 1.0
          example: ' '
        maximumAmountOtcCashAuthorizationsAllowed:
          default: 0.0
          description: Maximum Amount OTC Cash Authorizations Allowed - Maximum amount
            in monetary units and subunits of OTC cash authorizations allowed for
            this Embosser record for the frequency defined in the FREQ field.
          type: string
          maxLength: 17
          example: "$1,000.00"
        userdefinedField4:
          default: 0.0
          description: User-defined Field 4 - User-defined code or description for
            this Embosser record. You can change the field name in the Logo record
            (EMB CODES 3–4 on ARML23).
          type: number
          maxLength: 4
          example: 0
        product:
          default: 0.0
          type: number
        blockCode:
          format: uppercase
          description: Block Code -  Block Code assigned to the cardholder.
          type: string
          maxLength: 1
          example: ' '
        numberOfCardsOutstanding:
          default: 0.0
          description: Number of Cards Outstanding - Number of cards currently outstanding
            for this embosser.
          type: number
          example: 1
        typeOfCard:
          default: 0.0
          description: Type of Card - This field (CARD) is a user-defined code that
            indicates the type of plastic stock.
          type: number
          example: 0
        authorizationSpendingLimits:
          type: array
          items:
            type: object
            properties:
              frequency1:
                type: string
                description: Frequency - Code that indicates the frequency for commercial
                  card spending limits.
                maxLength: 1
                example: 0
              number1:
                default: 0.0
                type: number
                description: "Number - Number of transactions allowed for the frequency\
                  \ defined in the FREQ field. If this field is zero, the number of\
                  \ transactions is unlimited."
                maxLength: 9
                example: 5
              maximum1:
                default: 0.0
                type: number
                description: Maximum - Spending limit in monetary units and subunits
                  for each commercial card spending category.
                maxLength: 17
                example: $0.00
        customersGender:
          type: string
          enum:
          - 0
          - 1
          - 2
        warningCode7:
          description: "Warning Code 2 - Warning codes 7, which determine whether\
            \ to authorize or decline authorizations for this Embosser record (card),\
            \ which is not currently used at the card level."
          type: string
          enum:
          - 0
          - ' '
          - 1
          - 2
          - 3
          maxLength: 1
          example: 0
        typeOfMailer:
          format: uppercase
          description: Type of Mailer - This field (MAIL) is a user-defined code that
            identifies the type of card mailer to use to mail the card.
          type: string
          maxLength: 2.0
          example: ' '
        pinDelayDays:
          default: 0.0
          description: PIN Delay Days -This field indicates the number of days to
            warehouse the PIN mailer before releasing it for printing.
          type: number
          maxLength: 2
          example: 0
        customerNumber:
          format: uppercase
          description: Customer Number  - Customer number that identifies the Customer
            Name/Address record which lists the mailing address of the cardholder.
            The customer number entered must identify an existing Customer Name/Address
            record previously added into CMS.
          type: string
          maxLength: 19.0
          example: ' '
        userdefinedField1:
          format: uppercase
          description: User-defined Field 1 - User-defined code or description for
            this Embosser record. You can change the field name in the Logo record
            (EMB CODES 1–2 on ARML23).
          type: string
          maxLength: 20.0
          example: ' '
        postToAccountNumber:
          format: uppercase
          description: "Post To Account Number - Code that indicates whether the account\
            \ being added is a transaction (cardholder), billing, control, or diversion\
            \ account. This field displays only in add mode (ARAB) and is open to\
            \ input only."
          type: string
          maxLength: 19.0
          example: 0006000022000000076
        userdefinedField3:
          format: uppercase
          description: User-defined Field 3 - User-defined code or description for
            this Embosser record. You can change the field name in the Logo record
            (EMB CODES 3–4 on ARML23).
          type: string
          maxLength: 19.0
          example: ' '
        warningCode1:
          description: "Warning Code 1 - Warning codes 1, which determine whether\
            \ to authorize or decline authorizations for this Embosser record (card)."
          type: string
          enum:
          - 0
          - ' '
          - 1
          - 2
          - 3
          - 4
          - 6
          - 8
          - 9
          maxLength: 1
          example: 0
        userdefinedField2:
          format: uppercase
          description: User-defined Field 2 - User-defined code or description for
            this Embosser record. You can change the field name in the Logo record
            (EMB CODES 1–2 on ARML23).
          type: string
          maxLength: 20.0
          example: ' '
        previousPinOffset:
          default: 0.0
          description: Previous PIN Offset - Previous PIN offset of the card.
          type: number
          example: 0
        singleRetailAuthorizationAllowed:
          default: 0.0
          description: Single Retail Authorization Allowed - Maximum amount in monetary
            units and subunits of retail authorizations allowed for this Embosser
            record for the frequency defined in the FREQ field.
          type: string
          maxLength: 17
          example: "$999,999,999,999,999.99"
        authorizationAccumulators:
          type: array
          items:
            type: object
            properties:
              accumulatedAuthorizationAmountCtd1:
                default: 0.0
                type: string
                description: Accumulator Auth Amt-2 - Total amount of ATM/OTC/Retail
                  cash authorizations for this card cycle-to-date.
                maxLength: 17
                example: $10234.00
              accumulatedAuthorizationAmountYtd1:
                default: 0.0
                type: string
                description: Accumulator Auth Amt-3 - Total amount of ATM/OTC/Retail
                  cash authorizations for this card year-to-date.
                maxLength: 17
                example: $123456.00
              accumulatedAuthorizationAmountToday1:
                default: 0.0
                type: string
                description: Accumulator Auth Amt-1 - Total amount of ATM/OTC/Retail
                  cash authorizations for this card today.
                maxLength: 17
                example: $1000.00
              accumulatedAuthorizationNumberToday1:
                default: 0.0
                type: number
                description: Accumulator Auth NBR-1 - Total number of ATM/OTC/Retail
                  cash authorizations for this card today.
                maxLength: 9
                example: 5
              accumulatedAuthorizationNumberCtd1:
                default: 0.0
                type: number
                description: Accumulator Auth NBR-2 - Total number of ATM/OTC/Retail
                  cash authorizations for this card cycle-to-date.
                maxLength: 9
                example: 6
              accumulatedAuthorizationNumberYtd1:
                default: 0.0
                type: number
                description: Accumulator Auth NBR-3 - Total number of ATM/OTC/Retail
                  cash authorizations for this card year-to-date.
                maxLength: 9
                example: 8
              accumulatedAuthorizationAmountLtd1:
                default: 0.0
                type: string
                description: Accumulator Auth Amt-4 - Total amount of ATM/OTC/Retail
                  cash authorizations for this card life-to-date.
                maxLength: 17
                example: $1234560.00
              accumulatedAuthorizationNumberLtd1:
                default: 0.0
                type: number
                description: Accumulator Auth NBR-4 - Total number of ATM/OTC/Retail
                  cash authorizations for this card life-to-date.
                maxLength: 9
                example: 12
        pinMailerSuppression:
          description: PIN Mailer Suppression - Flag indicating whether the PIN number
            and PIN mailer are produced.
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: 0
        visaPlusIndicator:
          description: "VISA Plus Indicator - Code that indicates whether the PLUS,\
            \ Cirrus, or Maestro symbol is displayed on the card."
          type: string
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          maxLength: 1
          example: 0
        cardAction:
          description: Card Action - Card issue action code that determines the action
            CMS performs during the next run of the Card Issue program.
          type: string
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          example: 1
        numberOfCardsRequested:
          default: 0.0
          description: Number of Cards Requested -  Identifies the number of cards
            required.
          type: number
          example: 1
        warningBulletinLastDate:
          format: uppercase
          description: "Warning Bulletin Last Date - Date on which the account last\
            \ appeared on a warning bulletin, format is DD/MM/YYYY"
          type: string
          maxLength: 10
          example: 01/02/2020
        nextCardExpirationDate:
          format: uppercase
          description: "Next Card Expiration Date - Next expiration date of the card,\
            \ format is DD/MM/YYYY"
          type: string
          maxLength: 10
          example: 01/02/2020
        previousChipSequenceNumber:
          default: 0.0
          description: Previous Chip Sequence Number - Chip sequence number of the
            card issued prior to the most recently issued card.
          type: number
          example: 0
    UpdateCardTypeReq:
      type: object
      properties:
        cardholderType:
          description: Cardholder Type - Code that indicates whether the cardholder
            is the primary cardholder or an additional cardholder associated with
            theaccount
          type: string
          enum:
          - 0-Additional
          - 1-Primary
          maxLength: 1
          example: 1
    ErrorList:
      type: array
      items:
        type: object
        properties:
          errorCode:
            type: string
            example: XXXXXX
            description: Error code associated with the response
          errorMessage:
            type: string
            example: Some message from the service
            description: Error message associated with the response
    
    CardSecureCodeReq:
      type: object
      properties:
        cvv2:
          format: uppercase
          description: Token Number assigned to the cardholder embosser record.
          type: string
          maxLength: 3.0
          example: 855
        expiryDateMmyy:
          format: uppercase
          description: Expire Date-valid card expire date should be provided which
            is of 4 character with MMYY format
          type: string
          maxLength: 4.0
          example: 1123
    UpdateCardControlsResp:
      type: object
      properties:
        maximumAmountOtcCashAuthorizationsAllowed:
          default: 0.0
          description: Maximum Amount OTC Cash Authorizations Allowed - Maximum amount
            in monetary units and subunits of OTC cash authorizations allowed for
            this Embosser record for the frequency defined in the FREQ field
          type: string
          maxLength: 17
          example: 1000.00
        businessUnit:
          default: 0.0
          description: "Business Unit - Identification number associated with this\
            \ Account Base Segment record, the values are 001–998"
          type: number
          maxLength: 3
          example: 100
        maximumNumberRetailAuthorizationsAllowed:
          default: 0.0
          description: Maximum Number Retail Auths allowed - Maximum number of retail
            authorizations allowed for this Embosser record for the frequency defined
            in the FREQ field
          type: number
          maxLength: 9
          example: 2
        motoFlag:
          description: MOTO Flag - MOTO Flag
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "Y"
        payWaveSwitch:
          description: Pay Wave Switch - Pay Wave Switch
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "N"
        maximumNumberOtcAuthorizationsAllowed:
          default: 0.0
          description: Maximum Number OTC Cash Authorizations Allowed - Maximum number
            of OTC authorizations allowed for this Embosser record for the frequency
            defined in the FREQ field
          type: number
          maxLength: 9
          example: 5
        cashBackTranFlag:
          description: Cash Back Transaction Flag -  Cash Back Transaction Flag
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "Y"
        maximumNumberAtmCashAuthorizationsAllowed:
          default: 0.0
          description: Maximum Number ATM Cash Authorizations Allowed - Maximum number
            of ATM cash authorizations allowed for this Embosser record for the frequency
            defined in the FREQ field
          type: number
          maxLength: 9
          example: 10
        singleOtcCashAuthorizationAllowed:
          default: 0.0
          description: Single OTC Cash Authorization Allowed - Maximum amount in monetary
            units and subunits of OTC authorizations allowed for this Embosser record
            for the frequency defined in the FREQ field
          type: string
          maxLength: 17
          example: 1200.00
        maximumAmountSingleAtmTransactionAllowed:
          default: 0.0
          description: Maximum Amount Single ATM Transaction Allowed - Maximum authorization
            amount in monetary units and subunits of a single ATM transaction allowed
            for this Embosser record for the frequency defined in the FREQ field
          type: string
          maxLength: 17
          example: 1000.00
        singleRetailAuthorizationAllowed:
          default: 0.0
          description: Single Retail Authorization Allowed - Maximum amount in monetary
            units and subunits of retail authorizations allowed for this Embosser
            record for the frequency defined in the FREQ field
          type: string
          maxLength: 17
          example: 1600.00
        maximumAmountRetailAuthorizationsAllowed:
          default: 0.0
          description: Maximum Amount Retail Auths allowed - Maximum amount in monetary
            units and subunits of retail authorizations allowed for this Embosser
            record for the frequency defined in the FREQ field
          type: string
          maxLength: 17
          example: 1000.00
        ecomActiveSwitch:
          description: ECOM Active switch - ECOM Active switch
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: 0
        atmFlag:
          description: ATM Flag - ATM Flag
          type: string
          enum:
          - "Y"
          - "N"
          - ' '
          maxLength: 1
          example: "Y"
        posFlag:
          description: POS Flag - POS Flag
          type: string
          enum:
          - "Y"
          - "N"
          - ' '
          maxLength: 1
          example: "N"
        maximumAmountAtmCashAuthorizationsAllowed:
          default: 0.0
          description: Maximum Amount ATM Cash Authorizations Allowed - Maximum amount
            in monetary units and subunits of ATM cash authorizations allowed for
            this Embosser record for the frequency defined in the FREQ field.
          type: string
          maxLength: 17
          example: 1000.00
        maximumAuthorizationsFrequnecy:
          description: "Maximum Authorizations Frequency - Code that indicates the\
            \ frequency for the maximum authorization parameters. This frequency code\
            \ applies to the RETAIL PURCH AMT through TXN LIMIT RETAIL fields, inclusive"
          type: string
          enum:
          - 0
          - 1
          - 2
          - 3
          maxLength: 1
          example: 1
        intAtmPosFlag:
          description: International ATM POS Flag - International ATM POS Flag
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "Y"
        cardNumber:
          format: uppercase
          description: Card Number - Token Number assigned to the cardholder embosser
            record
          type: string
          maxLength: 19.0
          example: 0009846801010434751
    UpdateCardTypeResp:
      type: object
      properties:
        cardholderType:
          description: Cardholder Type - Code that indicates whether the cardholder
            is the primary cardholder or an additional cardholder associated with
            theaccount
          type: string
          enum:
          - 0 - Additional
          - 1 - Primary
          maxLength: 1
          example: 1
        businessUnit:
          default: 0.0
          description: Business Unit - Identification number associated with this
            Account Base Segment record
          type: number
          maxLength: 3
          example: 600
        cardNumber:
          format: uppercase
          description: Card Number - Token Number assigned to the cardholder embosser
            record.
          type: string
          maxLength: 19
          example: 0009846801010273613
   
    CardSecureCodeResp:
      type: object
      properties:
        cardNumber:
          format: uppercase
          description: Card Number - Token Number assigned to the cardholder embosser
            record.
          type: string
          maxLength: 19
          example: 0009846801010065787
    ActivateCardReq:
      type: object
      properties:
        lastCardActivation:
          description: Last Card Activation required
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "Y"
        currentCardRequireActivation:
          description: Current Card Required Activation.
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "N"
    BlockUnblockCardReq:
      type: object
      properties:
        blockCode:
          description: "Block code - The block code assigned to the Embosser record,\
            \ Blcok code values can be be A- Z or SPACES."
          type: string
          enum:
          - X
          - E
          - F
          - G
          - ' '
          maxLength: 1
          example: X
    ChangePINReq:
      type: object
      properties:
        userFiller:
          description: User filler-This is filler used for future purpose
          type: string
          example: ' '
        product:
          default: 0.0
          maximum: 999.0
          description: Product - Product associated with this Account. The values
            are 001–998
          type: number
          minimum: 0.0
          example: 1
        signonName:
          description: Signon name- valid signin name should be provided
          type: string
          example: ' '
        requestedPinBlock:
          format: uppercase
          description: "Requested pin block(New pin block)-The new pin block should\
            \ be provided, This will be new pin Enter by customer"
          type: string
          maxLength: 16.0
          example: 123456
        pinChannel:
          description: "Pin channel-This field will identifiy the channel through\
            \ which The request has been ititialted The valid values are A-ATM,I-IVR,\
            \ W-WEB"
          type: string
          enum:
          - A
          - I
          - W
          example: A
        securitySignon:
          description: Security signon-valid signon id should be provided
          type: string
          example: ' '
        currentPinBlock:
          format: uppercase
          description: "Requested pin block(New pin block)-The new pin block should\
            \ be provided, This will be new pin Enter by customer"
          type: string
          maxLength: 16.0
          example: ' '
        keyAssociation:
          format: uppercase
          description: "Key association-The value will be used to read the keys stored\
            \ in KMS files,from input we always recive spaces"
          type: string
          maxLength: 3.0
          example: ' '
        vgsFiller:
          description: Vgs filler- This is filler used for future purpose
          type: string
          example: ' '
        pinOffset:
          default: 0.0
          maximum: 9999.0
          description: "Current pin Offset( Old Pin Offset)- The old pin block should\
            \ be provided, This will be old pin Enter by customer"
          type: number
          minimum: 0.0
          example: 0
    ChangePINResp:
      type: object
      required:
      - userFiller
      - filler
      - cardNumber
      properties:
        userFiller:
          description: User filler-This is filler used for future purpose
          type: string
          example: ' '
        filler:
          description: Vgs filler- This is filler used for future purpose
          type: string
          example: ' '
        cardNumber:
          format: uppercase
          description: "Card Number-if the service is sucessiful, the response the\
            \ updated card number will be sent"
          type: string
          example: 0009544401000009153
    FetchClearPanResp:
      type: object
      properties:
        cardNumber:
          format: uppercase
          description: Clear Pan - 19 digit Clear card number
          type: string
          maxLength: 19
          example: 0009846801010273605
    InquireCardControlsResp:
      type: object
      properties:
        maximumAmountOtcCashAuthorizationsAllowed:
          default: 0.0
          description: Maximum Amount OTC Cash Authorizations Allowed - Maximum amount
            in monetary units and subunits of OTC cash authorizations allowed for
            this Embosser record for the frequency defined in the FREQ field
          type: string
          maxLength: 17
          example: "$1,000.00"
        businessUnit:
          default: 0.0
          description: "Business Unit - Identification number associated with this\
            \ Account Base Segment record, the values are 001–998"
          type: number
          maxLength: 3
          example: 600
        maximumNumberRetailAuthorizationsAllowed:
          default: 0.0
          description: Maximum Number Retail Auths allowed - Maximum number of retail
            authorizations allowed for this Embosser record for the frequency defined
            in the FREQ field
          type: number
          maxLength: 9
          example: 2
        motoFlag:
          description: MOTO Flag - MOTO Flag
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "Y"
        payWaveSwitch:
          description: Pay Wave Switch - Pay Wave Switch
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "N"
        maximumNumberOtcAuthorizationsAllowed:
          default: 0.0
          description: Maximum Number OTC Cash Authorizations Allowed - Maximum number
            of OTC authorizations allowed for this Embosser record for the frequency
            defined in the FREQ field
          type: number
          maxLength: 9
          example: 5
        cashBackTranFlag:
          description: Cash Back Transaction Flag -  Cash Back Transaction Flag
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "Y"
        maximumNumberAtmCashAuthorizationsAllowed:
          default: 0.0
          description: Maximum Number ATM Cash Authorizations Allowed - Maximum number
            of ATM cash authorizations allowed for this Embosser record for the frequency
            defined in the FREQ field
          type: number
          maxLength: 9
          example: 2
        singleOtcCashAuthorizationAllowed:
          default: 0.0
          description: Single OTC Cash Authorization Allowed - Maximum amount in monetary
            units and subunits of OTC authorizations allowed for this Embosser record
            for the frequency defined in the FREQ field
          type: string
          maxLength: 17
          example: $100.00
        maximumAmountSingleAtmTransactionAllowed:
          default: 0.0
          description: Maximum Amount Single ATM Transaction Allowed - Maximum authorization
            amount in monetary units and subunits of a single ATM transaction allowed
            for this Embosser record for the frequency defined in the FREQ field
          type: string
          maxLength: 17
          example: "$2,000.00"
        singleRetailAuthorizationAllowed:
          default: 0.0
          description: Single Retail Authorization Allowed - Maximum amount in monetary
            units and subunits of retail authorizations allowed for this Embosser
            record for the frequency defined in the FREQ field
          type: string
          maxLength: 17
          example: "$1,000.00"
        maximumAmountRetailAuthorizationsAllowed:
          default: 0.0
          description: Maximum Amount Retail Auths allowed - Maximum amount in monetary
            units and subunits of retail authorizations allowed for this Embosser
            record for the frequency defined in the FREQ field
          type: string
          maxLength: 17
          example: "$1,000.00"
        ecomActiveSwitch:
          description: ECOM Active switch - ECOM Active switch
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: 1
        atmFlag:
          description: ATM Flag - ATM Flag
          type: string
          enum:
          - "Y"
          - "N"
          - ' '
          maxLength: 1
          example: "Y"
        posFlag:
          description: POS Flag - POS Flag
          type: string
          enum:
          - "Y"
          - "N"
          - ' '
          maxLength: 1
          example: "N"
        maximumAmountAtmCashAuthorizationsAllowed:
          default: 0.0
          description: Maximum Amount ATM Cash Authorizations Allowed - Maximum amount
            in monetary units and subunits of ATM cash authorizations allowed for
            this Embosser record for the frequency defined in the FREQ field.
          type: string
          maxLength: 17
          example: "$1,000.00"
        maximumAuthorizationsFrequnecy:
          description: "Maximum Authorizations Frequency - Code that indicates the\
            \ frequency for the maximum authorization parameters. This frequency code\
            \ applies to the RETAIL PURCH AMT through TXN LIMIT RETAIL fields, inclusive"
          type: string
          enum:
          - 0
          - 1
          - 2
          - 3
          maxLength: 1
          example: 1
        intAtmPosFlag:
          description: International ATM POS Flag - International ATM POS Flag
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "Y"
        cardNumber:
          format: uppercase
          description: Card Number - Token Number assigned to the cardholder embosser
            record
          type: string
          maxLength: 19
          example: 0009544410000000062
    BoardCardResp:
      type: object
      properties:
        expiryDate:
          format: uppercase
          description: Expiry Date - Expiry date of the Card. Date format is DD/MM/YYYY.
          type: string
          maxLength: 10
          example: 01/10/2025
        product:
          default: 0.0
          description: Product - Identification number of the product associated with
            the  account or relationship
          type: number
          maxLength: 3
          example: 1
        businessUnit:
          default: 0.0
          description: Business Unit - Identification number of the business unit
            associated with the  account or relationship
          type: number
          maxLength: 3
          example: 600
        cardActivationStatus:
          format: uppercase
          description: Card Activation Status -  This field indicates the Primary
            Card Activation status
          type: string
          maxLength: 1
          example: ' '
        tempCardNbr:
          format: uppercase
          description: TEMP CARD NBR -  This field indicates the temporary card number
          type: string
          maxLength: 19.0
          example: ' '
        nameOnCard:
          format: uppercase
          description: Name On Card - Name to be embossed on the first embossing line
            of the card
          type: string
          maxLength: 26.0
          example: JOHN
        maskedPanNumber:
          format: uppercase
          description: Masked PAN Number - Tokenized PAN Number
          type: string
          maxLength: 19.0
          example: 0004440010847192688
        cardNumberfvToken:
[...]
