openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.0.0
servers:
- url: https://stg34.visionplus.io:24500/fva_apac
tags:
- name: Customer Management
paths:
  /v1/customers/{customerNumber}/nameAddress:
    put:
      tags:
      - Customer Management
      summary: Update Customer Demographic
      description: This service will be used to update the customer demographic details
        such as Name / Address / Phone Number / Email ID/ Date of Birth of the given
        customer. The customer ID will be passed in the input request to retrieve
        the demographic information.
      operationId: CustomersNameAddressUpd
      x-group-name: Customer Management
      x-proxy-name: Update Customer Demographic
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: Identification number of the organization associated with thisAccount
          Base Segment record. The values are 001–998.
        required: true
        schema:
          default: 0.0
          type: number
          example: 100
      - name: customerNumber
        in: path
        description: Must be numeric and greater than zero. Max length = 19. Should
          be a valid customer number.
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19.0
          example: "0001000000000150191"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomersNameAddressUpdReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomersNameAddressUpdResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  
    get:
      tags:
      - Customer Management
      summary: Inquire Customer Demopgrahic
      description: This service is used to inquire account status
      operationId: CustomersNameAddressInquire
      x-group-name: Customer Management
      x-proxy-name: Inquire Customer Demopgrahic
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: Business Unit -Identification number of the organization associated
          with thisAccount Base Segment record. The values are 001–998.
        required: true
        schema:
          default: 0.0
          type: number
          example: 100
      - name: customerNumber
        in: path
        description: Must be numeric and greater than zero. Max length = 19. Should
          be a valid customer number.
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19.0
          example: "0001000000000150191"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomersNameAddressInquireResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/customers/{customerNumber}/accountList:
    get:
      tags:
      - Customer Management
      summary: List Customers' Accounts
      description: Finds an Account number associated with a Customer number
      operationId: ListCustomersAccounts
      x-group-name: Customer Management
      x-proxy-name: List Customers' Accounts
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: customerNumber
        in: path
        description: Customer Number
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19.0
          example: "0001000000000113902"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomersAccountsResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  
  /v1/customers/{customerNumber}/cardList:
    get:
      tags:
      - Customer Management
      summary: List Customers' Cards
      description: Gets card details associated with a Customer number
      operationId: ListCustomersCards
      x-group-name: Customer Management
      x-proxy-name: List Customers' Cards
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: customerNumber
        in: path
        description: Customer Number
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19.0
          example: "0001000000000113902"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomersCardsResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/customers/boardCustomer:
    post:
      tags:
      - Customer Management
      summary: Board Customer
      description: This service is used to board the new customer
      operationId: BoardCustomer
      x-group-name: Customer Management
      x-proxy-name: Board Customer
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardCustomerReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardCustomerResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/customers/searchCustomer:
    post:
      tags:
      - Customer Management
      summary: List Customers
      description: This service is used for the Extended Lookup Search Inquiry that
        retrieves customer information based on primary and optional search values.
      operationId: ListCustomers
      x-group-name: Customer Management
      x-proxy-name: List Customers
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListCustomersReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomersResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
components:
  schemas:
    CustomersNameAddressUpdReq:
      type: object
      properties:
        postalCode1:
          format: uppercase
          type: string
          maxLength: 10
          example: ""
        city1:
          format: uppercase
          description: City 1
          type: string
          maxLength: 30
          example: ""
        nameLine21:
          format: uppercase
          description: Name Line 2 1
          type: string
          maxLength: 40
          example: ""
        firstName1:
          format: uppercase
          description: First Name 1
          type: string
          maxLength: 40
          example: ABC
        emailAddress1:
          format: uppercase
          description: Email Address 1
          type: string
          maxLength: 60
          example: SAM@FISERV.COM
        homePhoneFlag1:
          description: Home Phone Flag 1
          type: string
          enum:
          - 0
          - 1
          - 2
          example: ""
        userDefinedField41:
          format: uppercase
          description: User Defined Field 4 1
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1.0
          example: "Y"
        stateProvince1:
          format: uppercase
          description: State/Province 1
          type: string
          maxLength: 3
          example: ""
        middleName1:
          format: uppercase
          description: Middle Name 1
          type: string
          maxLength: 40
          example: ""
        faxNumber1:
          format: uppercase
          description: Fax Number 1
          type: string
          maxLength: 20
          example: ""
        addressLine21:
          format: uppercase
          description: Address Line 2 1
          type: string
          maxLength: 40
          example: ""
        addressLine41:
          format: uppercase
          description: Address Line 4 1
          type: string
          maxLength: 40
          example: ""
        lastName1:
          format: uppercase
          description: Last Name 1
          type: string
          maxLength: 40
          example: ""
        faxPhoneFlag1:
          description: Fax Phone Flag 1
          type: string
          enum:
          - 0
          - 1
          - 2
          example: ""
        nameLine31:
          format: uppercase
          description: Name Line 3 1
          type: string
          maxLength: 40
          example: ""
        nameLine11:
          format: uppercase
          description: Name Line 1 1
          type: string
          maxLength: 40
          example: ""
        mobileNumber1:
          format: uppercase
          description: Mobile Number 1
          type: string
          maxLength: 20
          example: 112233
        countryCode1:
          format: uppercase
          description: Country Code 1
          type: string
          maxLength: 3
          example: ""
        languageIndicator1:
          format: uppercase
          description: Language Indicator 1
          type: string
          maxLength: 3
          example: ""
        addressLine31:
          format: uppercase
          description: Address Line 3 1
          type: string
          maxLength: 40
          example: ""
        sMSFlag1:
          description: SMS Flag 1
          type: string
          enum:
          - 0
          - 1
          example: ""
        homePhoneNumber1:
          format: uppercase
          description: Home Phone Number 1
          type: string
          maxLength: 20
          example: 1234567
        addressLine11:
          format: uppercase
          description: Address Line 1 1
          type: string
          maxLength: 40
          example: ""
        houseNumber1:
          format: uppercase
          description: House Number  1
          type: string
          maxLength: 20
          example: ""
        mobilePhoneFlag1:
          description: Mobile Phone Flag 1
          type: string
          enum:
          - 0
          - 1
          - 2
          example: ""
        dateOfBirth1:
          format: uppercase
          description: Date Of Birth 1
          type: string
          example: ""
    ErrorList:
      type: array
      items:
        type: object
        properties:
          errorCode:
            type: string
            example: XXXXXX
            description: Error code associated with the response
          errorMessage:
            type: string
            example: Some message from the service
            description: Error message associated with the response
    ListCustomersAccountsResp:
      type: object
      properties:
        totalAvailable:
          default: 0.0
          description: Total Available balance at the relationship level
          type: string
          example: $0.00
        dateofBirth:
          format: date
          type: string
        businessUnit:
          format: uppercase
          type: string
        homePhoneNumber:
          format: uppercase
          type: string
        gender:
          type: string
          enum:
          - 0
          - 1
          - 2
        mobileNumber:
          format: uppercase
          type: string
        nameLine1:
          format: uppercase
          type: string
        emailAddress:
          format: uppercase
          type: string
        sSNID:
          format: uppercase
          type: string
        workPhoneNumber:
          format: uppercase
          type: string
        cREDITlimit:
          default: 0.0
          description: Overall Credit Limit at the relationship level  (if relationship
            is active)
          type: string
          example: $0.00"
        addressLine1:
          format: uppercase
          type: string
        addressLine2:
          format: uppercase
          type: string
        addressLine3:
          format: uppercase
          type: string
        addressLine4:
          format: uppercase
          type: string
        relationshipnbr:
          format: uppercase
          type: string
        billingLvl:
          description: Flag indicating the Level of billing is at relationship level
            or at subordnate account level
          type: string
          enum:
          - 0
          - 1
          - 2
          example: 0
        userDefinedField4:
          format: uppercase
          type: string
        numberofCards:
          format: uppercase
          type: string
        numberofAccounts:
          format: uppercase
          type: string
        customerNumber:
          format: uppercase
          type: string
        customerName:
          format: uppercase
          type: string
        homeDistricName:
          format: uppercase
          type: string
        accountList:
          type: array
          items:
            type: object
            properties:
              product:
                format: uppercase
                type: string
                description: Product associated with the account
                example: 1
              businessUnit:
                format: uppercase
                type: string
              amountMemoCredit:
                default: 0.0
                type: string
              ddaAccountNumber:
                format: uppercase
                type: string
              mailingIndicator:
                type: string
                enum:
                - H
                - O
              blockCode2Date:
                format: date
                type: string
              accountNumber:
                format: uppercase
                type: string
              sUPPRESSTOKEN:
                type: string
                enum:
                - 0
                - 1
              internalStatus:
                type: string
                enum:
                - "N"
                - A
                - F
                - D
                - I
                - M
                - Z
                - B
                - C
                - H
                - V
                - X
                - Q
                - J
                - V
                - T
                - R
                - K
                - J
                - 8
                - 9
                - P
                - H
              amountMemoDebit:
                default: 0.0
                type: string
              nbrOfTokenizedCards:
                default: 0.0
                maximum: 99.0
                type: number
                minimum: 0.0
              blockCode1:
                format: uppercase
                type: string
              rEISSCONTOLMETHOD:
                default: 0.0
                maximum: 9.0
                type: number
                minimum: 0.0
              blockCode2:
                format: uppercase
                type: string
              blockCode1Date:
                format: date
                type: string
        rELNAME:
          format: uppercase
          description: Name on the relationship Record  (if relationship is active)
          type: string
          example: ' '
        status:
          description: Status of the Relationship Record  (if relationship is active)
          type: string
          enum:
          - 0
          - 1
          - 8
          - P
          - 9
          example: ""
    CustomersNameAddressUpdResp:
      type: object
      properties:
        postalCode1:
          format: uppercase
          type: string
          maxLength: 10
          example: ""
        city1:
          format: uppercase
          description: City 1
          type: string
          maxLength: 30
          example: ""
        businessUnit:
          default: 0.0
          description: Identification number of the organization associated with thisAccount
            Base Segment record. The values are 001–998.
          type: number
          example: 100
        nameLine21:
          format: uppercase
          description: Name Line 2 1
          type: string
          maxLength: 40
          example: ""
        firstName1:
          format: uppercase
          description: First Name 1
          type: string
          maxLength: 40
          example: ABC
        emailAddress1:
          format: uppercase
          description: Email Address 1
          type: string
          maxLength: 60
          example: SAM@FISERV.COM
        homePhoneFlag1:
          description: Home Phone Flag 1
          type: string
          enum:
          - 0
          - 1
          - 2
          example: ""
        userDefinedField41:
          format: uppercase
          description: User Defined Field 4 1
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1.0
          example: "Y"
        stateProvince1:
          format: uppercase
          description: State/Province 1
          type: string
          maxLength: 3
          example: ""
        middleName1:
          format: uppercase
          description: Middle Name 1
          type: string
          maxLength: 40
          example: ""
        faxNumber1:
          format: uppercase
          description: Fax Number 1
          type: string
          maxLength: 20
          example: ""
        addressLine21:
          format: uppercase
          description: Address Line 2 1
          type: string
          maxLength: 40
          example: ""
        addressLine41:
          format: uppercase
          description: Address Line 4 1
          type: string
          maxLength: 40
          example: ""
        lastName1:
          format: uppercase
          description: Last Name 1
          type: string
          maxLength: 40
          example: ""
        faxPhoneFlag1:
          description: Fax Phone Flag 1
          type: string
          enum:
          - 0
          - 1
          - 2
          example: ""
        nameLine31:
          format: uppercase
          description: Name Line 3 1
          type: string
          maxLength: 40
          example: ""
        nameLine11:
          format: uppercase
          description: Name Line 1 1
          type: string
          maxLength: 40
          example: ""
        mobileNumber1:
          format: uppercase
          description: Mobile Number 1
          type: string
          maxLength: 20
          example: 112233
        accountNumber:
          format: uppercase
          description: Must be numeric and greater than zero. Max length = 19. Should
            be a valid customer number.
          type: string
          maxLength: 19.0
          example: "0001000000000150191"
        countryCode1:
          format: uppercase
          description: Country Code 1
          type: string
          maxLength: 3
          example: ""
        languageIndicator1:
          format: uppercase
          description: Language Indicator 1
          type: string
          maxLength: 3
          example: ""
        addressLine31:
          format: uppercase
          description: Address Line 3 1
          type: string
          maxLength: 40
          example: ""
        sMSFlag1:
          description: SMS Flag 1
          type: string
          enum:
          - 0
          - 1
          example: ""
        homePhoneNumber1:
          format: uppercase
          description: Home Phone Number 1
          type: string
          maxLength: 20
          example: 1234567
        addressLine11:
          format: uppercase
          description: Address Line 1 1
          type: string
          maxLength: 40
          example: ""
        houseNumber1:
          format: uppercase
          description: House Number  1
          type: string
          maxLength: 20
          example: ""
        mobilePhoneFlag1:
          description: Mobile Phone Flag 1
          type: string
          enum:
          - 0
          - 1
          - 2
          example: ""
        dateOfBirth1:
          format: uppercase
          description: Date Of Birth 1
          type: string
          example: ""
    CustomersNameAddressInquireResp:
      type: object
      properties:
        postalCode1:
          format: uppercase
          description: Postal Code-Postal code portion of the mailing address of the
            owner
          type: string
          maxLength: 10
          example: 2011
        city1:
          format: uppercase
          description: City-City portion of the mailing address of the owner
          type: string
          maxLength: 30
          example: SYDNEY
        nameLine21:
          format: uppercase
          type: string
          maxLength: 40
        businessUnit:
          default: 0.0
          description: Business Unit -Identification number of the organization associated
            with thisAccount Base Segment record. The values are 001–998.
          type: number
          example: 100
        firstName1:
          format: uppercase
          type: string
          maxLength: 40
        emailAddress1:
          format: uppercase
          description: Email-that indicates the e-mail address of the owner
          type: string
          maxLength: 60
          example: QM422E7RJT@XVRAI.NET
        homePhoneFlag1:
          description: "Home Phone Flag-this field is a code that specifies whether\
            \ theyou have the owner’s permission to call this number. The values 0\
            \ =No, do not contact the customer at this number,1=Yes, you can contact\
            \ the customer at thisnumber (Default) 2=Preferred contact method"
          type: string
          example: 0
        userDefinedField41:
          type: string
        stateProvince1:
          format: uppercase
          description: State/Province-Abbreviation of the state or province portion
            of the mailingaddress of the owner
          type: string
          maxLength: 3
          example: NSW
        middleName1:
          format: uppercase
          type: string
          maxLength: 40
        faxNumber1:
          format: uppercase
          description: Language Indicator-User-defined code that indicates the language
            spoken by theowner.
          type: string
          maxLength: 20
          example: ' '
        addressLine21:
          format: uppercase
          description: Address Line 2-Mailing address for the owner
          type: string
          maxLength: 40
          example: ' '
        addressLine41:
          format: uppercase
          type: string
          maxLength: 40
        lastName1:
          format: uppercase
          type: string
          maxLength: 40
        faxPhoneFlag1:
          description: "Fax Phone Flagthis field is a code that specifies whether\
            \ theyou have the owner’s permission to call this number. The values 0\
            \ =No, do not contact the customer at this number,1=Yes, you can contact\
            \ the customer at thisnumber (Default) 2=Preferred contact method"
          type: string
          example: 0
        nameLine31:
          format: uppercase
          type: string
          maxLength: 40
        nameLine11:
          format: uppercase
          type: string
          maxLength: 40
        mobileNumber1:
          format: uppercase
          description: Mobile Number-that indicates the mobile telephone number ofthe
            owner
          type: string
          maxLength: 20
          example: +61440372725
        countryCode1:
          format: uppercase
          description: Country Code-Thevalue entered must be a valid country code
            previously definedin the Security Subsystem and Common Routines (SSC)
            system
          type: string
          maxLength: 3
          example: AU
        accountNumber:
          format: uppercase
          description: Must be numeric and greater than zero. Max length = 19. Should
            be a valid customer number.
          type: string
          maxLength: 19.0
          example: 0001000000000150191
        languageIndicator1:
          format: uppercase
          description: Language Indicator-User-defined code that indicates the language
            spoken by theowner.
          type: string
          maxLength: 3
          example: AUS
        addressLine31:
          format: uppercase
          description: Address Line 3-Mailing address for the owner
          type: string
          maxLength: 40
          example: ' '
        sMSFlag1:
          description: "SMS Flag-Code that indicates whether an SMS (short message\
            \ service)message can be sent to the owner. The values are 0=No, do not\
            \ contact the customer via SMS, 1=Yes, you can contact the customer via\
            \ SMS(Default)"
          type: string
          example: 0
        homePhoneNumber1:
          format: uppercase
          description: Home Phone Number-that indicates the home telephone number
            ofthe owner
          type: string
          maxLength: 20
          example: +61440372725
        addressLine11:
          format: uppercase
          description: Address Line 1-Mailing address for the owner
          type: string
          maxLength: 40
          example: 77 30 HARVEY ISLAND
        houseNumber1:
          format: uppercase
          type: string
          maxLength: 20
        mobilePhoneFlag1:
          description: "Mobile Phone Flag-this field is a code that indicates whether\
            \ youhave the owner’s permission to call this number. The values are0\
            \ =No, do not contact the customer at this number,1=Yes, you can contact\
            \ the customer at thisnumber (Default) 2=Preferred contact method"
          type: string
          example: 0
        dateOfBirth1:
          format: uppercase
          type: string
    ListCustomersCardsResp:
      type: object
      properties:
        totalAvailable:
          default: 0.0
          description: Total Available balance at the relationship level
          type: string
          example: $0.00
        dateofBirth:
          format: date
          type: string
        businessUnit:
          format: uppercase
          type: string
        homePhoneNumber:
          format: uppercase
          type: string
        gender:
          type: string
          enum:
          - 0
          - 1
          - 2
        mobileNumber:
          format: uppercase
          type: string
        nameLine1:
          format: uppercase
          type: string
        emailAddress:
          format: uppercase
          type: string
        sSNID:
          format: uppercase
          type: string
        workPhoneNumber:
          format: uppercase
          type: string
        cREDITlimit:
          default: 0.0
          description: Overall Credit Limit at the relationship level  (if relationship
            is active)
          type: string
          example: $0.00"
        addressLine1:
          format: uppercase
          type: string
        addressLine2:
          format: uppercase
          type: string
        addressLine3:
          format: uppercase
          type: string
        addressLine4:
          format: uppercase
          type: string
        relationshipnbr:
          format: uppercase
          type: string
        billingLvl:
          description: Flag indicating the Level of billing is at relationship level
            or at subordnate account level
          type: string
          enum:
          - 0
          - 1
          - 2
          example: 0
        userDefinedField4:
          format: uppercase
          type: string
        numberofCards:
          format: uppercase
          type: string
        numberofAccounts:
          format: uppercase
          type: string
        customerNumber:
          format: uppercase
          type: string
        customerName:
          format: uppercase
          type: string
        homeDistricName:
          format: uppercase
          type: string
        cardList:
          type: array
          items:
            type: object
            properties:
              cardholderType:
                default: 0.0
                maximum: 9.0
                type: number
                minimum: 0.0
              businessUnit:
                default: 0.0
                maximum: 999.0
                type: number
                minimum: 0.0
              iNTATMPOSFlag:
                format: uppercase
                type: string
              lastCardExpirationDate:
                format: date
                type: string
              cardIssueDate:
                format: date
                type: string
              lastCardAction:
                type: string
                enum:
                - 0
                - 1
                - 2
                - 3
                - 4
                - 5
                - 6
                - 7
                - 8
                - 9
              dateOpened:
                format: date
                type: string
              lastCardNeedActivation:
                format: uppercase
                type: string
              pinoffset:
                format: uppercase
                type: string
              productDescription:
                format: uppercase
                type: string
              posttoAccount:
                format: uppercase
                type: string
              blockDate:
                format: date
                type: string
              cardTechnology:
                type: string
                enum:
                - 0
                - 1
                - 3
                - 5
                - 2
                - 4
              mCCLIMIT10:
                default: 0.0
                type: string
              pLASTICSUPPRESSSTATUS:
                format: uppercase
                type: string
              cHEQUEACCOUNTNBR:
                format: uppercase
                type: string
              currCardAction:
                type: string
                enum:
                - 0
                - 1
                - 2
                - 3
                - 4
                - 5
                - 6
                - 7
                - 8
                - 9
              dATELASTWALLETUSED:
                format: uppercase
                type: string
              mOTOFlag:
                format: uppercase
                type: string
              embosserRecordStatus:
                type: string
                enum:
                - 0
                - 1
                - F
                - S
                - T
                - P
                - ' '
              cardNumber:
                format: uppercase
                type: string
              timeLastPlasticIssue:
                default: 0.0
                maximum: 9999999.0
                type: number
                minimum: -9999999.0
              numberofcards:
                format: uppercase
                type: string
              sAVINGSACCOUNTNBR:
                format: uppercase
                type: string
              eMBRNAME2:
                format: uppercase
                type: string
              digitalid:
                format: uppercase
                type: string
              maskCardnumber:
                format: uppercase
                type: string
              aTMFlag:
                format: uppercase
                type: string
              currentCardNeedActivation:
                format: uppercase
                type: string
              nameOnCard:
                format: uppercase
                type: string
              pOSFlag:
                format: uppercase
                type: string
              cardActivatedDate:
                format: date
                type: string
              pAYwaveFlag:
                format: uppercase
                type: string
              dATELASTPLASTICUSED:
                format: uppercase
                type: string
              blockCode:
                format: uppercase
                type: string
              product:
                default: 0.0
                maximum: 999.0
                type: number
                minimum: 0.0
              mCCLIMIT6:
                default: 0.0
                type: string
              cardSequence:
                default: 0.0
                maximum: 9999.0
                type: number
                minimum: 0.0
              warningCode:
                format: uppercase
                type: string
              mCCLIMIT7:
                default: 0.0
                type: string
              mCCLIMIT8:
                default: 0.0
                type: string
              mCCLIMIT9:
                default: 0.0
                type: string
              mCCLIMIT2:
                default: 0.0
                type: string
              mCCLIMIT3:
                default: 0.0
                type: string
              mCCLIMIT4:
                default: 0.0
                type: string
              mCCLIMIT5:
                default: 0.0
                type: string
              cashBackTranFlag:
                format: uppercase
                type: string
              mCCLIMIT1:
                default: 0.0
                type: string
              dATELASTPLASTICSUPRESED:
                format: uppercase
                type: string
              eCOMACTFlag:
                format: uppercase
                type: string
              cardExpirationDate:
                format: date
                type: string
        rELNAME:
          format: uppercase
          description: Name on the relationship Record  (if relationship is active)
          type: string
          example: ' '
        status:
          description: Status of the Relationship Record  (if relationship is active)
          type: string
          enum:
          - 0
          - 1
          - 8
          - P
          - 9
          example: ""
    BoardCustomerResp:
      type: object
      properties:
        product:
          default: 0.0
          description: Product - Identification number of the product associated with
            the  account or relationship
          type: number
          maxLength: 3
          example: 1
        businessUnit:
          default: 0.0
          description: Business Unit - Identification number of the business unit
            associated with the  account or relationship
          type: number
          maxLength: 3
          example: 600
        customerRecordcreationflag:
          format: uppercase
          description: Customer Record creation flag - This is the code that indicates
            customer record is successful or not
          type: string
          maxLength: 1.0
          example: "Y"
        customerNumber:
          format: uppercase
          description: Customer Number - The newly generated customer number
          type: string
          maxLength: 19.0
          example: 0000000001000000007
    BoardCustomerReq:
      type: object
      properties:
        dualFlag:
          default: 0.0
          description: Dual Flag - This field indicates whether CMS adds a duplicate
            customer  record in the associated business unit for dual currency processing
          type: number
          maxLength: 1
          example: 0
        postalCode1:
          format: uppercase
          description: Postal Code - Postal code
          type: string
          maxLength: 10.0
          example: 112345
        createCustomerRecord:
          default: "Y"
          description: Create Customer Record -  This is the identification number
            to assign to the new Customer Name/Address record
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "Y"
        city1:
          format: uppercase
          description: City - Name of Customer City
          type: string
          maxLength: 30.0
          example: La Vegas
        nameLine21:
          format: uppercase
          description: Name Line 2 - Customer Name Line 2
          type: string
          maxLength: 40.0
          example: ' Jacob '
        businessUnit:
          default: 0.0
          description: Business Unit - Identification number of the business unit
            associated with the  account or relationship
          type: number
          maxLength: 3
          example: 600
        firstName1:
          format: uppercase
          description: First Name - First Name of customer
          type: string
          maxLength: 40.0
          example: ' Samuel'
        cardholderFlag:
          default: 0
          description: Cardholder Flag - This is the code that indicates whether the
            card is issued as a primary or secondary card
          type: string
          enum:
          - 1
          - 0
          maxLength: 1
        nationalID1:
          format: uppercase
          description: National ID - Customer National ID Number
          type: string
          maxLength: 25.0
          example: 2363-12-2839-1
        state1:
          format: uppercase
          description: State - Name of state
          type: string
          maxLength: 3.0
          example: "FL"
        eMailFlag1:
          description: E-Mail Flag -
          type: string
          enum:
          - ZERO
          - 1
          - 2
          maxLength: 1
          example: 1
        middleName1:
          format: uppercase
          description: Middle Name - Middle name of Customer
          type: string
          maxLength: 40.0
          example: ' '
        addressLine21:
          format: uppercase
          description: Address Line 2 - Customer Address Line 2
          type: string
          maxLength: 40.0
          example: ' S.H. Qo'
        createAccountRecord:
          default: "N"
          description: Create Account Record - This is the code that indicates whether
            to add a new account record
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "N"
        addressLine41:
          format: uppercase
          description: Address Line 4 - Customer Address Line 4
          type: string
          maxLength: 40.0
          example: USA
        altEMail1:
          format: uppercase
          description: Alt E-Mail - Customer alternate mail id
          type: string
          maxLength: 50.0
          example: abc1@google.com
        lastName1:
          format: uppercase
          description: Last Name - Last name of Customer
          type: string
          maxLength: 40.0
          example: Christopher
        addInsuranceProduct:
          default: "N"
          description: Add Insurance Product - This is the code that indicates whether
            to add an Insurance Product record
          type: string
          enum:
          - "N"
          - "Y"
          maxLength: 1
          example: "N"
        nameTypeInd21:
          description: Name Type Ind 2 - Name Indicator 2
          type: string
          enum:
          - ZERO
          - 1
          - 3
          maxLength: 1
          example: 0
        employeePhone1:
          format: uppercase
          description: Employee Phone -  Employee Phone Number
          type: string
          maxLength: 20.0
          example: 67894
        nameLine31:
          format: uppercase
          description: Name Line 3 - Customer Name Line 3
          type: string
          maxLength: 40.0
          example: Samuel
        nameLine11:
          format: uppercase
          description: Name Line 1 - Customer Name Line 1
          type: string
          maxLength: 40.0
          example: John
        product:
          default: 0.0
          description: Product - Identification number of the product associated with
            the  account or relationship
          type: number
          maxLength: 3
          example: 1
        gender1:
          description: Gender - Gender of customer
          type: string
          enum:
          - ZERO
          - 1
          - 2
          maxLength: 1
          example: 1
        title1:
          format: uppercase
          description: Title - Name of Customer
          type: string
          maxLength: 20.0
          example: ADWSQQ
        mobileNumber1:
          format: uppercase
          description: Mobile Number - customer mobile number
          type: string
          maxLength: 20.0
          example: 11231232
        suppressTKNataccntlevel:
          default: 0
          description: Suppress TKN at accnt level - Code that indicates to supress
            token at account level
          type: string
          enum:
          - ZERO
          - 1
          maxLength: 1
        homePhone1:
          format: uppercase
          description: Home Phone - residential phone number
          type: string
          maxLength: 20.0
          example: 11230342
        customerNumber:
          default: /
          format: uppercase
          description: Customer Number - Identifies the customer number of the Account
            Base Segment
          type: string
          maxLength: 19.0
          example: ""
        countryCode1:
          format: uppercase
          description: Country Code - code of country
          type: string
          maxLength: 3.0
          example: 'USA'
        residenceFlag1:
          description: Residence Flag - residential status
          type: string
          enum:
          - ZERO
          - 1
          - 2
          - 3
          maxLength: 1
          example: 1
        createRelationshipRecord:
          default: "N"
          description: Create Relationship Record - This is the code that indicates
            whether to add a new Relationship record
          type: string
          enum:
          - "N"
          - "Y"
          maxLength: 1
          example: "N"
        eMail1:
          format: uppercase
          description: E-Mail -  customer email
          type: string
          maxLength: 60.0
          example: abc@goole.com
        suppressLetter:
          default: 0
          description: Supress letter - Code that indicates whether CMS suppresses
            letters for accounts assigned this block code
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
        baseAccountNumber:
          default: /
          format: uppercase
          description: Base Account Number - This is the identification number to
            assign to the new Account Base Segment record
          type: string
          maxLength: 19.0
          example: /
        waiveMembershipFees:
          default: 0
          description: Waive Membership Fees - Code that indicates whether CMS waives
            account-level membership fees and supplemental card membership fees for
            accounts assigned this block code
          type: string
          enum:
          - 0
          - 1
          - 2
          - 3
          maxLength: 1
        addressLine31:
          format: uppercase
          description: Address Line 3 -  Customer Address Line 3
          type: string
          maxLength: 40.0
          example: California
        billingCycle:
          default: 0
          description: Billing Cycle - Cycle code that indicates the day of the month
            that CMS performs cycle processing for the account
          type: number
          maxLength: 1
        sameCustBaseNumber:
          default: "N"
          description: Same Cust/Base Number - This is the code that indicates whether
            CUSTOMER NUMBER and BASE ACCOUNT NUMBER are to be the same number
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "Y"
        coreBankingIndicator:
          default: B
          description: Core Banking Indicator - This is the code indicates type of
            bannking
          type: string
          enum:
          - B
          - S
          - T
          - ' '
          maxLength: 1
          example: B
        dateofBirth1:
          format: uppercase
          description: Date of Birth - Customer Date of Birth
          type: string
          maxLength: 10
          example: 01/02/2010
        createEmbosserRecords:
          default: "N"
          description: Create Embosser Records -This is the code that indicates whether
            to add a new Embosser record
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "N"
        addressLine11:
          format: uppercase
          description: Address Line 1 - Customer Address Line 1
          type: string
          maxLength: 40.0
          example: House No. 12
        nameTypeInd31:
          description: Name Type Ind 3 - Name Indiacator 3
          type: string
          enum:
          - ZERO
          - 1
          - 3
          maxLength: 1
          example: 0
        ownerCoowner:
          default: 1
          description: "Owner/Co-owner -  This is the Code that indicates whether\
            \ to display information  for the owner, co-owner, or both"
          type: string
          enum:
          - 1
          - 2
          maxLength: 1
          example: 1
        nameTypeInd11:
          description: Name Type Ind 1 - Name Indicator
          type: string
          enum:
          - ZERO
          - 1
          - 3
          maxLength: 1
          example: 0
    ListCustomersReq:
      type: object
      properties:
        lastName:
          format: uppercase
          description: 'Last Name - Last name of the Customer. '
          type: string
          maxLength: 40
          example: ""
        primaryDataSwitch:
          description: "Primary Data Switch - A primary search value must be supplied,\
            \ and can be based on one of four fields - last/business/generic/store\
            \ name, identification number, phone number, postal code or mobile device\
            \ id"
          type: string
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          maxLength: 1
          example: 1
        businessUnit:
          default: 0.0
          maximum: 999.0
          description: "Business Unit - Identification number associated with this\
            \ Account Base Segment record, the values are 001–998"
          type: number
          minimum: 0.0
          maxLength: 3
          example: 0
        user15:
          format: uppercase
          description: User 15 - User-defined field for the search. This field literal
            displays as USER 15 unless changed on the Organization record (ARMO11).
          type: string
          maxLength: 20
          example: ""
        user14:
          format: uppercase
          description: User 14 - User-defined field for the search. This field literal
            displays as User 14 unless changed on the Organization record (ARMO11).
          type: string
          maxLength: 20
          example: ""
        postalCode:
          format: uppercase
          description: Postal Code - Postal code portion of the mailing address of
            the owner
          type: string
          maxLength: 10
          example: ""
        dateOfBirth:
          format: date
          description: Date Of Birth - Date of Birth of Customer. The format is MM/DD/YYYY
            or DD/MM/YYYY depending on the date format established on the System record
            (DATE FORMAT on ARMS01).
          type: string
          maxLength: 10
          example: 0
        title:
          format: uppercase
          description: Title - Professional or honorary title of the customer
          type: string
          maxLength: 20
          example: ""
        suffix:
          format: uppercase
          description: "Suffix - Suffix for the customer. Examples include Jr., Sr.,\
            \ etc."
          type: string
          maxLength: 20
          example: ""
        primaryData:
          format: uppercase
          description: Primary Data - Search field as per Primary data switch
          type: string
          maxLength: 40
          example: 390539172
        firstName:
          format: uppercase
          description: First Name - First name of the customer
          type: string
          maxLength: 40
          example: ""
        phoneNumber:
          format: uppercase
          description: Phone Number - Phone Number of Customer
          type: string
          maxLength: 20
          example: ""
        mobileDeviceID:
          format: uppercase
          description: 'Mobile Device ID - Identification of a mobile device associated
            with a mobile payment instrument (PI) embosser. CMS does not validate
            this field; it is stored only. '
          type: string
          maxLength: 20
          example: ""
        countryCode:
          format: uppercase
          description: "Country Code - Country for the customer. If you use this field,\
            \ enter the exact country code"
          type: string
          maxLength: 3
          example: ""
        identificationNumber:
          format: uppercase
          description: Identification Number -  Code that indicates if this number
            is a Social Security number or other tax identification number.
          type: string
          maxLength: 25
          example: ""
        middleName:
          format: uppercase
          description: Middle Name - Middle name of the customer.
          type: string
          maxLength: 40
          example: ""
        optionalDataMatch:
          description: "Optional Data Match - Code that indicates the degree of matching\
            \ required for optional data fields. When an optional field contains a\
            \ value greater than spaces, this field defines whether the resulting\
            \ search data should match on all optional fields or on any optional field.\
            \ The values are: 0 = Display any optional field match (Default) 1 = Display\
            \ only those records that match all requested optional fields. "
          type: string
          enum:
          - 1
          - 0
          maxLength: 1
          example: 1
    ListCustomersResp:
      type: object
      properties:
        country:
          format: uppercase
          description: Country - The value entered must be a valid country code
          type: string
          maxLength: 3
          example: ""
        lastName:
          format: uppercase
          description: Last Name - Last name of the Customer.
          type: string
          maxLength: 40
          example: ""
        dateofBirth:
          format: uppercase
          description: Date of Birth - Date of birth of the customer. The format is
            MM/DD/YYYY or DD/MM/YYYY depending on the date format established on the
            System record (DATE FORMAT on ARMS01).
          type: string
          maxLength: 10
          example: 0000000
        firstname:
          format: uppercase
          description: First Name - First name of the customer
          type: string
          maxLength: 40
          example: ""
        businessUnit:
          format: uppercase
          description: "Business Unit - Identification number associated with this\
            \ Account Base Segment record, the values are 001–998"
          type: string
          maxLength: 3
          example: 0
        user15:
          format: uppercase
          description: User 15 - User-defined field for the search. This field literal
            displays as USER 15 unless changed on the Organization record (ARMO11).
          type: string
          maxLength: 20
          example: ""
        user14:
          format: uppercase
          description: User 14 - User-defined field for the search. This field literal
            displays as User 14 unless changed on the Organization record (ARMO11).
          type: string
          maxLength: 20
          example: ""
        postalCode:
          format: uppercase
          description: Postal Code - Postal code portion of the mailing address of
            the owner
          type: string
          maxLength: 10
          example: ""
        dateOfBirth:
          format: date
          description: Date Of Birth - The format is MM/DD/YYYY or DD/MM/YYYY depending
            on the date format established on the System record (DATE FORMAT on ARMS01).
          type: string
          maxLength: 10
          example: 00/00/0000
        title:
          format: uppercase
          description: Title - Professional or honorary title of the customer
          type: string
          maxLength: 20
          example: ""
        suffix:
          format: uppercase
          description: "Suffix - Suffix for the customer. Examples include Jr., Sr.,\
            \ etc."
          type: string
          maxLength: 20
          example: ""
        firstName:
          format: uppercase
          description: First Name - First name of the customer
          type: string
          maxLength: 40
          example: ""
        phoneNumber:
          format: uppercase
          description: Phone Number - Phone Number of Customer
          type: string
          maxLength: 20
          example: ""
        mobileDeviceId:
          format: uppercase
          description: 'Mobile Device ID - Identification of a mobile device associated
            with a mobile payment instrument (PI) embosser. CMS does not validate
            this field; it is stored only. '
          type: string
          maxLength: 20
          example: ""
        primaryKeyField:
          format: uppercase
          description: Primary Key Field - Key field provided in input request
          type: string
          maxLength: 40
          example: 390539172
        countryCode:
          format: uppercase
          description: "Country Code - Country for the customer. If you use this field,\
            \ enter the exact country code"
          type: string
          maxLength: 3
          example: ""
        identificationNumber:
          format: uppercase
          description: Identification Number - Code that indicates if this number
            is a Social Security number or other tax identification number.
          type: string
          maxLength: 25
          example: ""
        middleName:
          format: uppercase
          description: Middle Name - Middle name of the customer.
          type: string
          maxLength: 40
          example: ""
