openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.0.0
servers:
- url: https://stg34.visionplus.io:24500/fva_apac
tags:
- name: Product Management
paths:
  /v1/products/{productNumber}/cardControls:
    put:
      tags:
      - Product Management
      summary: Update Logo Card Controls
      description: This service is used to update the card controls at product level
        for the given product
      operationId: UpdateLogoCardControls
      x-group-name: Product Management
      x-proxy-name: Update Logo Card Controls
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: "Business Unit - Identification number associated with this Account\
          \ Base Segment record, the values are 001–998"
        required: true
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 600
      - name: productNumber
        in: path
        description: Product - This field is the Identification number of the Logo
          record
        required: true
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 001
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateLogoCardControlsReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateLogoCardControlsResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/products/{productNumber}/details:
    get:
      tags:
      - Product Management
      summary: Inquire Product
      description: This service provides the details for a given product
      operationId: InquireProduct
      x-group-name: Product Management
      x-proxy-name: Inquire Product
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: "Business Unit - Identification number associated with this Account\
          \ Base Segment record, the values are 001–998"
        required: true
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 600
      - name: productNumber
        in: path
        description: Product - This field is the Identification number of the Logo
          record
        required: true
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 001
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireProductResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'              
components:
  schemas:
    ErrorList:
      type: array
      items:
        type: object
        properties:
          errorCode:
            type: string
            example: XXXXXX
            description: Error code associated with the response
          errorMessage:
            type: string
            example: Some message from the service
            description: Error message associated with the response
    UpdateLogoCardControlsResp:
      type: object
      properties:
        businessUnit:
          default: 0.0
          description: "Business Unit - Identification number associated with this\
            \ Account Base Segment record, the values are 001–998"
          type: number
          maxLength: 3
          example: 600
        ecomFlag:
          description: ECOM Flag - Flag indicates ECOM transactions are active or
            not
          type: string
          enum:
          - 1
          - 0
          - ' '
          maxLength: 1
          example: 1
        yeartodateMaxAuthAmountOtherRiskCountry:
          default: 0.0
          description: Year-To-Date Max Auth Amount Other Risk Country - Maximum amount
            of authorizations in monetary units and subunits allowed for the cumulative
            year-to-date spending by an account in non-high-risk countries. Risk is
            designated by country code in the Financial Authorization System (FAS)
          type: string
          maxLength: 17
          example: 15000.00
        otcCashNumber:
          default: 0.0
          description: OTC Cash Number - Maximum number of ATM cash authorizations
            allowed for the frequency defined in the FREQ field
          type: number
          maxLength: 9
          example: 6
        yeartodateCountryRiskSpendLimitActive:
          description: Year-To-Date Country Risk Spending Limit Active - This is a
            flag that indicates whether a year-to-date spending limit for accounts
            initiating transactions in high-risk and non-high-risk countries is active
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: 1
        motoFlag:
          description: MOTO Flag - Flag indicates MOTO transactions are active or
            not
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "N"
        transactionLimitOtc:
          default: 0.0
          description: Transaction Limit OTC - This is the Maximum authorization amount
            in monetary units and subunits for a single ATM transaction
          type: string
          maxLength: 17
          example: 200.00
        atmCashNumber:
          default: 0.0
          description: ATM Cash Number - Maximum number of ATM cash authorizations
            allowed for the frequency defined in the FREQ field
          type: number
          maxLength: 9
          example: 5
        retailPurchaseNumber:
          default: 0.0
          description: Retail Purchase Number - Maximum number of retail authorizations
            allowed for the frequency defined in the MAXIMUM AUTHORIZATION LIMIT FREQUENCY
            field
          type: number
          maxLength: 9
          example: 10
        transactionLimitAtm:
          default: 0.0
          description: Transaction Limit ATM - This is the Maximum authorization amount
            in monetary units and subunits for a single ATM transaction
          type: string
          maxLength: 17
          example: 100.00
        yeartodateMaxAuthAmountHighRiskCountry:
          default: 0.0
          description: Year-To-Date Max Auth Amount High Risk Country - Maximum amount
            of authorizations in monetary units and subunits allowed for the cumulative
            year-to-date spending by an account in high-risk countries. Maximum amount
            of authorizations in monetary units and subunits allowed for the cumulative
            year-to-date spending by an account in high-risk countries
          type: string
          maxLength: 17
          example: 10000.00
        productnumber:
          default: 0.0
          description: Product - This field is the Identification number of the Logo
            record
          type: number
          maxLength: 3
          example: 001
        atmFlag:
          description: ATM Flag - Flag indicates ATM transactions are active or not
          type: string
          enum:
          - "Y"
          - "N"
          - ' '
          maxLength: 1
          example: "Y"
        maximumAuthorizationLimitFrequency:
          description: Maximum Authorization Limit Frequency - This is a flag which
            indicates the frequency for the maximum authorization parameters. This
            frequency applies to the RETAIL PURCHASE AMOUNT to TRANSACTION LIMIT RETAIL
            fields
          type: string
          enum:
          - 0
          - 1
          - 2
          - 3
          maxLength: 1
          example: 1
        posFlag:
          description: POS Flag - Flag indicates POS transactions are active or not
          type: string
          enum:
          - "Y"
          - "N"
          - ' '
          maxLength: 1
          example: "Y"
        intAtmPosFlag:
          description: "International ATM POS Flag - Flag indicates International\
            \ ATM, POS transactions are active or not"
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "N"
        otcCashAmount:
          default: 0.0
          description: OTC Cash Amount - Maximum amount in monetary units and subunits
            of ATM cash authorizations allowed for the frequency defined in the FREQ
            field
          type: string
          maxLength: 17
          example: 1500.00
        atmCashAmount:
          default: 0.0
          description: ATM Cash Amount - Maximum amount in monetary units and subunits
            of ATM cash authorizations allowed for the frequency defined in the FREQ
            field
          type: string
          maxLength: 17
          example: 2000.00
        transactionLimitRetail:
          default: 0.0
          description: Transaction Limit Retail - This is the Maximum amount in monetary
            units and subunits for a single retail authorization
          type: string
          maxLength: 17
          example: 10000.00
        retailPurchaseAmount:
          default: 0.0
          description: Retail Purchase Amount - Maximum amount in monetary units and
            subunits of retail authorizations allowed for the freqency defined in
            the FREQ field
          type: string
          maxLength: 17
          example: 100000.00
    UpdateLogoCardControlsReq:
      type: object
      properties:
        ecomFlag:
          description: ECOM Flag - Flag indicates ECOM transactions are active or
            not
          type: string
          enum:
          - 1
          - 0
          - ' '
          maxLength: 1
          example: 1
        yeartodateMaxAuthAmountOtherRiskCountry:
          default: 0.0
          description: Year-To-Date Max Auth Amount Other Risk Country - Maximum amount
            of authorizations in monetary units and subunits allowed for the cumulative
            year-to-date spending by an account in non-high-risk countries. Risk is
            designated by country code in the Financial Authorization System (FAS)
          type: string
          maxLength: 17
          example: 15000.00
        otcCashNumber:
          default: 0.0
          description: OTC Cash Number - Maximum number of ATM cash authorizations
            allowed for the frequency defined in the FREQ field
          type: number
          maxLength: 9
          example: 6
        yeartodateCountryRiskSpendLimitActive:
          description: Year-To-Date Country Risk Spending Limit Active - This is a
            flag that indicates whether a year-to-date spending limit for accounts
            initiating transactions in high-risk and non-high-risk countries is active
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: 1
        motoFlag:
          description: MOTO Flag - Flag indicates MOTO transactions are active or
            not
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "N"
        transactionLimitOtc:
          default: 0.0
          description: Transaction Limit OTC - This is the Maximum authorization amount
            in monetary units and subunits for a single ATM transaction
          type: string
          maxLength: 17
          example: 200.00
        atmCashNumber:
          default: 0.0
          description: ATM Cash Number - Maximum number of ATM cash authorizations
            allowed for the frequency defined in the FREQ field
          type: number
          maxLength: 9
          example: 5
        retailPurchaseNumber:
          default: 0.0
          description: Retail Purchase Number - Maximum number of retail authorizations
            allowed for the frequency defined in the MAXIMUM AUTHORIZATION LIMIT FREQUENCY
            field
          type: number
          maxLength: 9
          example: 10
        transactionLimitAtm:
          default: 0.0
          description: Transaction Limit ATM - This is the Maximum authorization amount
            in monetary units and subunits for a single ATM transaction
          type: string
          maxLength: 17
          example: 100.00
        yeartodateMaxAuthAmountHighRiskCountry:
          default: 0.0
          description: Year-To-Date Max Auth Amount High Risk Country - Maximum amount
            of authorizations in monetary units and subunits allowed for the cumulative
            year-to-date spending by an account in high-risk countries. Maximum amount
            of authorizations in monetary units and subunits allowed for the cumulative
            year-to-date spending by an account in high-risk countries
          type: string
          maxLength: 17
          example: 10000.00
        atmFlag:
          description: ATM Flag - Flag indicates ATM transactions are active or not
          type: string
          enum:
          - "Y"
          - "N"
          - ' '
          maxLength: 1
          example: "Y"
        maximumAuthorizationLimitFrequency:
          description: Maximum Authorization Limit Frequency - This is a flag which
            indicates the frequency for the maximum authorization parameters. This
            frequency applies to the RETAIL PURCHASE AMOUNT to TRANSACTION LIMIT RETAIL
            fields
          type: string
          enum:
          - 0
          - 1
          - 2
          - 3
          maxLength: 1
          example: 1
        posFlag:
          description: POS Flag - Flag indicates POS transactions are active or not
          type: string
          enum:
          - "Y"
          - "N"
          - ' '
          maxLength: 1
          example: "Y"
        intAtmPosFlag:
          description: "International ATM POS Flag - Flag indicates International\
            \ ATM, POS transactions are active or not"
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "N"
        otcCashAmount:
          default: 0.0
          description: OTC Cash Amount - Maximum amount in monetary units and subunits
            of ATM cash authorizations allowed for the frequency defined in the FREQ
            field
          type: string
          maxLength: 17
          example: 1500.00
        atmCashAmount:
          default: 0.0
          description: ATM Cash Amount - Maximum amount in monetary units and subunits
            of ATM cash authorizations allowed for the frequency defined in the FREQ
            field
          type: string
          maxLength: 17
          example: 2000.00
        transactionLimitRetail:
          default: 0.0
          description: Transaction Limit Retail - This is the Maximum amount in monetary
            units and subunits for a single retail authorization
          type: string
          maxLength: 17
          example: 10000.00
        retailPurchaseAmount:
          default: 0.0
          description: Retail Purchase Amount - Maximum amount in monetary units and
            subunits of retail authorizations allowed for the freqency defined in
            the FREQ field
          type: string
          maxLength: 17
          example: 100000.00
    InquireProductResp:
      type: object
      properties:
        businessUnit:
          default: 0.0
          description: "Business Unit - Identification number associated with this\
            \ Account Base Segment record, the values are 001–998"
          type: number
          maxLength: 3
          example: 600
        wspTokenEligible:
          description: 'WSP token Eligibility - This field is used to determine if
            a particular logo allows tokenization '
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: 1
        sweepOptionAllowed:
          description: Sweep Option Allowed - This flag indicates whether sweep processing
            is allowed for this product
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: 0
        markupIssuerActive:
          description: Markup Issuer Active - This is a flag that indicates whether
            the issuer-markup fee option is active for this product
          type: string
          enum:
          - 1
          - 0
          maxLength: 1
          example: 0
        paymentApplicationLevel:
          description: Payment Application Level - Code that indicates whether CMS
            applies payments to accounts with multiple credit plan segments by the
            plan priority defined on the Credit Plan Master record or the plan priority
            defined on the Logo record
          type: string
          enum:
          - P
          - L
          maxLength: 1
          example: P
        falcon6Active:
          description: Falcon 6 Active - This is a flag which indicates whether the
            scheme-markup fee option is active for this product
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: 0
        newCardPlastics:
          description: New Card Plastics - This flag indicates whether accounts in
            the product are eligible for an enhanced product
          type: string
          enum:
          - "N"
          - "Y"
          - B
          - F
          maxLength: 1
          example: "Y"
        additionalCardActivation:
          format: uppercase
          description: Addtional Card Activation - This flag indicates whether to
            use card activation for additional cards
          type: string
          maxLength: 1
          example: "Y"
        stateOfResidenceId:
          format: uppercase
          description: "Sate of Residence ID - Default Residence ID that identifies\
            \ the state, province, or country in which the account holder resides"
          type: string
          maxLength: 3.0
          example: SX1
        pinMailerNameaddress:
          description: PIN Mailer Name/Address - determines the name and address to
            print on PIN mailer wthe PIN and card mailer
          type: string
          enum:
          - 0
          - 1
          - 2
          - 3
          maxLength: 1
          example: 0
        newCardDefaultActive:
          description: New Card Default Active - Code that indicates whether the value
            in the ENHANCED PRODUCT field defaults to the Embosser records for new
            cards in this product
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: 0
        productDescription:
          format: uppercase
          description: Product Description - his filed is the description of the Logo
            record. This description enables you to identify the kind of accounts
            processed by this product
          type: string
          maxLength: 30.0
          example: VISA CREDIT CONSUMER
        markupActiveCreditFee:
          description: Markup Active Credit Fee - This is a flag which indicates whether
            the scheme-markup fee option is active for this product
          type: string
          enum:
          - 1
          - 0
          maxLength: 1
          example: 0
        paymentHolidaysAllowed:
          description: Payment Holidays Allowed - Flag that indicates whether the
            loans feature is active for the product
          type: string
          enum:
          - "N"
          - "Y"
          maxLength: 1
          example: "Y"
        tokenizationServiceActive:
          description: Tokenization Service Active - This flag indicates whether the
            online debit card processing feature is active for this product
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: 1
        newCardActivation:
          format: uppercase
          description: New Card Activation - This flag indicates whether to use card
            activation for new cards
          type: string
          maxLength: 1
          example: "Y"
        creditLimitBypass:
          description: Credit Limit Bypass - This is the field that determines whether
            accounts belonging to this product will be excluded from an adaptive control
            system (ACS) credit limit review
          type: string
          enum:
          - 0
          - 1
          - 2
          - 3
          maxLength: 1
          example: 0
        replacementCardActivation:
          format: uppercase
          description: Replacement Card Activation - This flag indicates whether to
            use card activation for replacement cards
          type: string
          maxLength: 1
          example: "Y"
        loanFeatureActive:
          description: Loan Feature Active - Flag that indicates whether the loans
            feature is active for the product
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: 1
        markupSchemeActive:
          description: Markup Scheme Active - This is a flag which indicates whether
            the scheme-markup fee option is active for this product
          type: string
          enum:
          - 1
          - 0
          maxLength: 1
          example: 0
        overlimitProcessingOptinIndicator:
          description: Overlimit Processing Opt-in Indicator - This field is a code
            that indicates whether the product participates in overlimit opt-in processing
          type: string
          enum:
          - 0
          - 1
          - 2
          maxLength: 1
          example: 0
        chippinCardAllowed:
          description: CHIP or PIN Card Allowed - This flag identifies whether smart
            cards can be issued for cards in this product
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: 1
        vipOverrideFlag:
          description: VIP override Flag
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "N"
        applicationMethodForPl:
          description: "This field (APPLICATION METHOD FOR P/L) determines the payment\
            \ application method for profit-and-loss accounts, which are charged-off\
            \ accounts"
          type: string
          enum:
          - B
          - C
          - D
          - H
          - P
          - K
          - L
          - U
          - M
          - "N"
          - O
          maxLength: 1
          example: D
        productnumber:
          default: 0.0
          description: Product - This field is the Identification number of the Logo
            record
          type: number
          maxLength: 3
          example: 001
        cardBureauFeedbackActive:
          description: Card Bureau Feedback Active - This flag indicates whether CMS
            uses the Card Bureau Feedback (ATAD) file to update the MAILER DATE field
            on the Embosser record
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: 0
        cardMailerNameaddress:
          description: Card Mailer Name/Address - determines the name and address
            to print on Card mailer
          type: string
          enum:
          - 0
          - 1
          - 2
          - 3
          maxLength: 1
          example: 0
        embossingFilesKeyType:
          description: Embosser Key Type - Key type for Embosser Files
          type: string
          enum:
          - B
          - E
          - F
          - G
          - H
          - ' '
          maxLength: 1
          example: B
        virtualCardEdits:
          description: Virtual Card Edits - This flag indicates whether accounts in
            the product are eligible for an enhanced product
          type: string
          enum:
          - X
          - "Y"
          - ' '
          maxLength: 1
          example: ' '
        quarterlyAffiliateCardProduct:
          format: uppercase
          description: "Quaterly Affilicate Card Product - Code that indicates the\
            \ card association card product. This field is required if the Logo record\
            \ processes bankcard accounts (TYPE OF ACCOUNTS PROCESSED field is D,\
            \ X, or Y) to identify the quarterly reporting classification or card\
            \ product"
          type: string
          maxLength: 3.0
          example: V1
        enhancedProductsEligible:
          description: Enhanced Products Eligible - This flag indicates whether accounts
            in the product are eligible for an enhanced product
          type: string
          enum:
          - 0
          - 1
          - 4
          maxLength: 1
          example: 0
        debitCardProcessActive:
          description: Debit Card Process Active - This flag indicates whether the
            online debit card processing feature is active for this product
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: 0
        sameDayEmboss:
          description: Same Day Embossing - This flag indicates whether same-day embossing
            is allowed for the accounts within the product.
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: 0
        processingControlLevel:
          description: Processing Control Level - This is a flag which indicates the
            processing control level for accounts in this product
          type: string
          enum:
          - S
          - O
          - L
          maxLength: 1
          example: O
        prepaymentsAllowed:
          description: Prepayment Allowed - This is a flag which indicates the processing
            control level for accounts in this product
          type: string
          enum:
          - 0
          - 2
          - 1
          maxLength: 1
          example: 0
        cardActionTableActive:
          description: Card Action Table Active - This flag indicates whether the
            enhanced PIN and card warehousing functionality provided by the card action
            table is enabled
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: 0
        directDebitcreditActive:
          description: Direct Debit/Credit Active - Code that indicates whether direct
            debit and direct credit processing is active for accounts in this product
          type: string
          enum:
          - "N"
          - "Y"
          - A
          maxLength: 1
          example: "N"
        crossBorder:
          description: Cross Border - This is the flag that indicates the alert setting
            for cross border transactions at the cardholder level
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: 0
        keyTypeForPinMailerFiles:
          description: PIN Mailer Key Type - Key type for PIN mailer
          type: string
          enum:
          - B
          - E
          - F
          - G
          - H
          - ' '
          maxLength: 1
          example: B
        stateOfIssueId:
          format: uppercase
          description: "State of Residence ID - This field identifies the state, province,\
            \ or country where the account was issued"
          type: string
          maxLength: 3.0
          example: SX1
        openToBuyCreditBalance:
          description: "Open to Buy Credit Balance - This field indicates whether\
            \ CMS includes the credit balance, disputed amounts, and original loan\
            \ amount when calculating the open-to-buy amount"
          type: string
          enum:
          - 0
          - 1
          - 2
          - 3
          maxLength: 1
          example: 1
        collectionsActive:
          description: Collections Active - This flag indicates whether CTA is active
          type: string
          enum:
          - "N"
          - "Y"
          maxLength: 1
          example: "Y"
        cardProductDisplay:
          description: Card Product Display - his filed is the description of the
            Logo record. This description enables you to identify the kind of accounts
            processed by this  product
          type: string
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          maxLength: 1
          example: 0
        reissueCardActivation:
          format: uppercase
          description: Reissue Card Activation - This flag indicates whether to use
            card activation for reissued cards
          type: string
          maxLength: 1
          example: "Y"
        authAlerts:
          description: Auth Alerts - This is a flag which indicates whether the scheme-markup
            fee option is active for this product
          type: string
          enum:
          - 0
          - 1
          - 2
          maxLength: 1
          example: 0
        applicationMethodForAr:
          description: Application Method for A/R - This Field determines the payment
            application method for accounts-receivable accounts which are non-charged-off
            accounts
          type: string
          enum:
          - B
          - C
          - D
          - H
          - P
          - K
          - L
          - U
          - M
          - "N"
          - O
          maxLength: 1
          example: H
        defaultCardTechnology:
          description: Default Card Technology - Default Card Technology to be used
            during new account setup
          type: string
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          maxLength: 1
          example: 3
        typeOfAccountsProcessed:
          description: Type of Accounts Processed - This flag identifies the type
            of accounts processed by the product
          type: string
          enum:
          - R
          - L
          - P
          - B
          - C
          - D
          - "Y"
          - X
          - Z
          maxLength: 1
          example: X
        loyaltyManagementActive:
          description: Loyalty Management Active - This flag indicates if the Loyalty
            Management System (LMS) is active for this product
          type: string
          enum:
          - 1
          - 0
          maxLength: 1
          example: 1
        delinquencyAgeing:
          description: "Delinquency Ageing - This field (APPLICATION METHOD FOR P/L)\
            \ determines the payment application method for profit-and-loss accounts,\
            \ which are charged-off accounts"
          type: string
          enum:
          - D
          - S
          maxLength: 1
          example: D
        approvedCardUse:
          description: Approved Card Use - This flag indicates if the cards that are
            assigned to accounts in this product are approved for local use only or
            international use
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: 0
        includeDisputedAmounts:
          description: Include Disputed Amount - Code that indicates whether CMS includes
            disputed amounts in the open-to-buy (OTB) calculation of accounts
          type: string
          enum:
          - ZERO
          - 1
          maxLength: 1
          example: 0
        secureCodeActive:
          description: Secure Code Active - Flag that indicates whether the Connection
            Management System (CCM) is active
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: 0
        scriptingActive:
          description: "Scripting Active - his is a flag which indicates whether the\
            \ smart card scripting functionality provided by CMS, FAS (Financial Authorization\
            \ System), ESS (EMV Scripting System), and RIS is active for this product."
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: 0
        sameDayEmbossingAllowed:
          description: Same Day Embossing Allowed -  This flag indicates whether to
            use card activation for new cards
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: 1
        manualPinResetAllowed:
          description: Manual PIN Reset Allowed - Flag that indicates whether the
            PIN try counter field on the Embosser record is allowed to be manually
            reset for accounts in this product
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: 1
        markupUserDefinedActive:
          description: Markup User Defined Active - This is a flag which indicates
            whether the scheme-markup fee option is active for this product
          type: string
          enum:
          - 1
          - 0
          maxLength: 1
          example: 0
        automaticAccountNumberGeneration:
          description: Automatic Account Number Generation - This flag indicates whether
            this product uses automatic account number and card number generation
          type: string
          enum:
          - "Y"
          - I
          - "N"
          maxLength: 1
          example: I      
