openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.0.0
servers:
- url: https://stg34.visionplus.io:24500/fva_apac
tags:
- name: Account Management
paths:
  /v1/accounts/{accountNumber}/balances:
    get:
      tags:
      - Account Management
      summary: Inquire Account Balances
      description: This service is inquire on the different balances on the account.
      operationId: InquireAccountBalances
      x-group-name: Account Management
      x-proxy-name: Inquire Account Balances
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: Identification number associated with this Account Base Segment
          record
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 600
      - name: accountNumber
        in: path
        description: Account Number - Unique Identification number of the Account
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19
          example: 0000000001000000065
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireAccountBalancesResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/accounts/{accountNumber}/transactions/lastStatement:
    get:
      tags:
      - Account Management
      summary: List Billed Transactions
      description: The service provides list of transactions along with detail information
        of transactions posted in the last statement cycle.
      operationId: ListBilledTransactions
      x-group-name: Account Management
      x-proxy-name: List Billed Transactions
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: product
        in: query
        description: Product associated with this Account. The values are 001–998
        required: true
        schema:
          default: 0.0
          type: number
          maxLength: 1
          example: 1
      - name: businessUnit
        in: query
        description: "Business Unit - Identification number associated with this Account\
          \ Base Segment record, the values are 001–998"
        required: true
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 100
      - name: statementDate
        in: query
        description: Statement Date - Period for which the user want to view the important
          statement details of the Account
        required: true
        schema:
          format: date
          type: string
          maxLength: 10
          example: 09/04/2021
      - name: accountNumber
        in: path
        description: Account Number - Unique Identification numbers of the Account
        required: true
        schema:
          type: string
          maxLength: 19
          example: 0002000010000001211
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBilledTransactionsResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/accounts/{accountRelationshipNbr}/transactions/memoPost:
    get:
      tags:
      - Account Management
      summary: List Outstanding Authorization
      description: This service provide details of the memo post transactions on a
        given account.
      operationId: ListOutstandingAuth
      x-group-name: Account Management
      x-proxy-name: List Outstanding Authorization
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: accountRelationshipNbr
        in: path
        description: Identification number of the Account Base Segment record.
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19
          example: 0000000001000000057
      - name: businessUnit
        in: query
        description: Identification number of the business unit associated with this
          Account Base Segment record.
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 600
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListOutstandingAuthResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/accounts/{accountRelationshipNbr}/transactions/cycleToDate:
    get:
      tags:
      - Account Management
      summary: List Unbilled Transactions
      description: This service provide details of the cycle-to-date transactions
        on a given account.
      operationId: ListUnbilledTransactions
      x-group-name: Account Management
      x-proxy-name: List Unbilled Transactions
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: accountRelationshipNbr
        in: path
        description: Identification number of the Account Base Segment record.
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19
          example: 0001000010000510001
      - name: businessUnit
        in: query
        description: Identification number of the business unit associated with this
          Account Base Segment record.
        schema:
          default: 0.0
          type: number
          maxLength: 1
          example: 100
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUnbilledTransactionsResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/accounts/{accountNumber}/monetaryAction:
    post:
      tags:
      - Account Management
      summary: Monetary Action
      description: This service is used to process the monetary action codes.
      operationId: MonetaryAction
      x-group-name: Account Management
      x-proxy-name: Monetary Action
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: cmsBusinessUnit
        in: query
        description: CMS Business Unit - Number that identifies the CMS business unit
          associated with the account. This number must be within the CMS business
          unit range specified on your Security record. Both your assigned ASM organization
          record and representative record must also permit access
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 3
          example: 600
      - name: accountNumber
        in: path
        description: Account Number - Number that identifies the account. You can
          enter either a card number or an account number
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 3
          example: 0006000011000000160
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MonetaryActionReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MonetaryActionResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/accounts/{accountNumber}/pricingControls:
    put:
      tags:
      - Account Management
      summary: Update Pricing Control
      description: This service is used update pricing control structure over an accounts
      operationId: UpdatePricingControl
      x-group-name: Account Management
      x-proxy-name: 'Update Pricing Control '
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: Business Unit  - Identification number of the business unit associated
          with this Account Base Segment record
        required: true
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 600
      - name: accountNumber
        in: path
        description: Account Number  - Identification number of the Account Base Segment
          record
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19
          example: 0006000011000000137
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePricingControlReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdatePricingControlResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/accounts/{accountNumber}/directDebit:
    put:
      tags:
      - Account Management
      summary: Update Accounts' Direct Debit
      description: This service is used to amend diret debit options at account level
      operationId: UpdateAccountsDirectDebit
      x-group-name: Account Management
      x-proxy-name: 'Update Accounts'' Direct Debit '
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: "Business Unit - Identification number associated with this Account\
          \ Base Segment record, the values are 001–998"
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 600
      - name: accountNumber
        in: path
        description: Account Number - Unique Identification numbers of the Account
        required: true
        schema:
          type: string
          maxLength: 19
          example: 0000000001000000057
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountsDirectDebitReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAccountsDirectDebitResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  
    get:
      tags:
      - Account Management
      summary: Inquire Direct Debit
      description: This service is used to get direct debit detail of account
      operationId: InquireDirectDebit
      x-group-name: Account Management
      x-proxy-name: Inquire Direct Debit
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: "Business Unit - Identification number associated with this Account\
          \ Base Segment record, the values are 001–998"
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 600
      - name: accountNumber
        in: path
        description: Account Number - Unique Identification numbers of the Account
        required: true
        schema:
          type: string
          maxLength: 19
          example: 0000000001000000057
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireDirectDebitResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/accounts/{accountNumber}/tempCreditLimit:
    put:
      tags:
      - Account Management
      summary: Update Temporary Credit Limit
      description: This service is used to update temporary credit limit of an account
      operationId: UpdateTemporaryCreditLimit
      x-group-name: Account Management
      x-proxy-name: Update Temporary Credit Limit
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: "Business Unit - Identification number associated with this Account\
          \ Base Segment record, the values are 001–998"
        required: true
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 600
      - name: accountNumber
        in: path
        description: Account Number - Unique Identification numbers of the Account
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19
          example: 0006000011000000103
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateTemporaryCreditLimitReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateTemporaryCreditLimitResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/accounts/{accountNumber}/statementDetails:
    get:
      tags:
      - Account Management
      summary: Inquire Statement
      description: This service is used to fetch statement details for a given statement
        date of cardholder account.
      operationId: InquireStatement
      x-group-name: Account Management
      x-proxy-name: Inquire Statement
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: statementDate
        in: query
        description: Statement Date - Identification number of the logo associated
          with this Account Base Segment record.
        required: true
        schema:
          format: date
          type: string
          maxLength: 10
          example: 18/08/2021
      - name: accountNumber
        in: path
        description: Account Number - Unique Identification numbers of the Account
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19
          example: "0006000011000000137"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireStatementResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/accounts/{accountNumber}/blockUnblock:
    put:
      tags:
      - Account Management
      summary: Block-Unblock Account
      description: This service is used to update the Account Block Code
      operationId: BlockUnblockAccount
      x-group-name: Account Management
      x-proxy-name: Block-Unblock Account
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: "Business Unit - Identification number associated with this Account\
          \ Base Segment record, the values are 001–998"
        required: true
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 100
      - name: accountNumber
        in: path
        description: Account Number - Unique Identification numbers of the Account
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19
          example: 0001000010000510481
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockUnblockAccountReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockUnblockAccountResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/accounts/{accountNumber}/chargeoff:
    put:
      tags:
      - Account Management
      summary: Update Account Charge-Off
      description: This service is used to update account charge-off status
      operationId: UpdateAccountChargeOff
      x-group-name: Account Management
      x-proxy-name: 'Update Account Charge-Off '
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: "Business Unit - Identification number associated with this Account\
          \ Base Segment record, the values are 001–998"
        required: true
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 600
      - name: accountNumber
        in: path
        description: Account Number - Unique Identification numbers of the Account
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19
          example: 0000000001000000057
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountChargeOffReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateAccountChargeOffResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/accounts/{accountNumber}/details:
    get:
      tags:
      - Account Management
      summary: Inquire Account Details
      description: The service provides the basic details of the account associated
        with the customer.
      operationId: AccountDetails
      x-group-name: Account Management
      x-proxy-name: Inquire Account Details
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: Identification number of the organization associated with thisAccount
          Base Segment record. The values are 001–998
        required: true
        schema:
          default: 0.0
          maximum: 999.0
          type: number
          minimum: 0.0
          maxLength: 3
          example: 200
      - name: accountNumber
        in: path
        description: Account- Customer account number. Must be numeric and greater
          than zero. Max length = 19. Should be a valid Account number.
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19
          example: 70369818052278
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetailsResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/accounts/{accountNumber}/creditLimit:
    put:
      tags:
      - Account Management
      summary: Update Credit limit
      description: This service is used to update permanent credit limit.
      operationId: CreditLimitUpdate
      x-group-name: Account Management
      x-proxy-name: Update Credit limit
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: "Business Unit - Identification number associated with this Account\
          \ Base Segment record, the values are 001–998"
        required: true
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 600
      - name: accountNumber
        in: path
        description: Account Number - Unique Identification numbers of the Account
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19
          example: 0006000011000000152
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreditLimitUpdateReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditLimitUpdateResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/accounts/boardAccount:
    post:
      tags:
      - Account Management
      summary: Board Account
      description: This service is used to board the new account
      operationId: BoardAccount
      x-group-name: Account Management
      x-proxy-name: Board Account
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardAccountReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardAccountResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/accounts/{accountNumber}/waiveFee:
    put:
      tags:
      - Account Management
      summary: Update Waive Fee
      description: This service is used to update the flags related to waive fees
        at account level
      operationId: UpdateWaiveFee
      x-group-name: Account Management
      x-proxy-name: Update Waive Fee
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: Business Unit  - Identification number of the business unit associated
          with this Account Base Segment record
        required: true
        schema:
          default: 0.0
          type: number
          example: 600
      - name: accountNumber
        in: path
        description: Account Number  - Identification number of the Account Base Segment
          record
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19.0
          example: "0000000001000000057"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWaiveFeeReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateWaiveFeeResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/account/{accountNumber}/statementPreference:
    put:
      tags:
      - Account Management
      summary: Update Statement Preferences
      description: This service is used to update the statement preference indicators
        for the given account
      operationId: UpdateStatementPreferences
      x-group-name: Account Management
      x-proxy-name: Update Statement Preferences
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: "Business Unit - Identification number associated with this Account\
          \ Base Segment record, the values are 001–998"
        required: true
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 600
      - name: accountNumber
        in: path
        description: Account Number - Unique Identification number of the Account
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19.0
          example: "0000000001000000123"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateStatementPreferencesReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateStatementPreferencesResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'              
  /v1/accounts/{accountNumber}/customersProfile:
    put:
      tags:
      - Account Management
      summary: Update Customer's Profile
      description: This service is used to update the customer profiles for a given
        account number
      operationId: UpdateCustomersProfile
      x-group-name: Account Management
      x-proxy-name: Update Customer's Profile
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: "Business Unit - Identification number associated with this Account\
          \ Base Segment record, the values are 001–998"
        required: true
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: "0"
      - name: accountNumber
        in: path
        description: Account Number - Unique Identification number of the Account
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19.0
          example: "0004440010000000017"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomersProfileReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCustomersProfileResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'              
  /v1/accounts/{accountNumber}/paymentHistory:
    get:
      tags:
      - Account Management
      summary: Inquire Payment History
      description: This service provides latest 6 payments details for a given account
        number
      operationId: InquirePaymentHistory
      x-group-name: Account Management
      x-proxy-name: Inquire Payment History
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: Business Unit - Identification number of the business unit. The
          values are 001-998.
        required: true
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 600
      - name: accountNumber
        in: path
        description: Account - Identification number of the account.
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19.0
          example: "0000000001000000115"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquirePaymentHistoryResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/accounts/{accountNumber}/billingCycle:
    put:
      tags:
      - Account Management
      summary: Update Billing Cycle
      description: This service is used to update the billing cycle for the given
        account
      operationId: UpdateBillingCycle
      x-group-name: Account Management
      x-proxy-name: Update Billing Cycle
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: "Business Unit - Identification number associated with this Account\
          \ Base Segment record, the values are 001–998"
        required: true
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 600
      - name: accountNumber
        in: path
        description: Account Number - Unique Identification number of the Account
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19.0
          example: "0000000001000000123"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateBillingCycleReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateBillingCycleResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/accounts/realTimePayments:
    post:
      tags:
      - Account Management
      summary: Real Time Payments
      description: This service is used post the real-time payments which increases
        open to buy immediately for a given account number
      operationId: RealTimePayments
      x-group-name: Account Management
      x-proxy-name: Real Time Payments
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RealTimePaymentsReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealTimePaymentsResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'              
components:
  schemas:
    InquireStatementResp:
      type: object
      properties:
        personalId:
          format: uppercase
          description: Personal ID - Personal ID
          type: string
          maxLength: 25
          example: ""
        fsEndBalance:
          default: 0.0
          maximum: 9.9999999999999E13
          description: FS End Balance - Amount of frequent shopper points accrued
            at the end of this cycle
          type: number
          minimum: 0.0
          maxLength: 14
          example: 0
        businessUnit:
          default: 0.0
          maximum: 999.0
          description: "Business Unit - Identification number associated with this\
            \ Account Base Segment record, the values are 001–998"
          type: number
          minimum: 0.0
          maxLength: 3
          example: 600
        altDuedelqThreshold:
          default: 0.0
          description: Alternate Due/Delinquency Threshold - Alternate minimum payment
            amount requested for the current statement date to prevent account delinquency
          type: string
          maxLength: 17
          example: $0.00
        dateLastStatement:
          format: date
          description: Date Last Statement - Date of the statement prior to this statement
          type: string
          maxLength: 10
          example: 05/08/2021
        ytdInterest:
          default: 0.0
          description: YTD Interest - Amount of finance charges assessed from the
            beginning of this calendar year through this statement
          type: string
          maxLength: 17
          example: $0.00
        daysInCycle:
          default: 0.0
          maximum: 99.0
          description: Days In Cycle - Number of days in the cycle covered by this
            statement
          type: number
          minimum: 0.0
          maxLength: 2
          example: 13
        dueDate:
          format: date
          description: Due Date - Due date of the payment billed on this account
          type: string
          maxLength: 10
          example: 18/09/2021
        alternateCustomerNumber:
          format: uppercase
          description: Alternate Customer Number - Number that identifies the alternate
            Customer Name/Address record containing an alternate address for statements
            and other correspondence
          type: string
          maxLength: 19
          example: ""
        accountRelationship:
          format: uppercase
          description: Account/Relationship - Account or Relationship Number
          type: string
          maxLength: 19
          example: 0006000011000000137
        interestThisStatement:
          default: 0.0
          description: Interest This Statement - Amount of generated interest billed
            on cycle date and accrued interest billed on payment
          type: string
          maxLength: 17
          example: $0.00
        currentPaymentDue:
          default: 0.0
          description: Current Payment Due - Amount billed as current due on this
            statement
          type: string
          maxLength: 17
          example: $0.00
        minimumPayment:
          default: 0.0
          maximum: 9.9999999999E10
          description: Minimum payment - Converted account minimum payment
          type: number
          minimum: 0.0
          maxLength: 11
          example: $0.00
        cashAvailable:
          default: 0.0
          description: Cash Available - Amount of the total cash credit limit available
            to this account
          type: string
          maxLength: 17
          example: $0.00
        creditLimit:
          default: 0.0
          description: Credit Limit - Total credit limit established for this account
          type: string
          maxLength: 17
          example: "$150,000.00"
        storeOrg:
          default: 0.0
          maximum: 999.0
          description: Store ORG - Organization number of the store of original purchase
          type: number
          minimum: 0.0
          maxLength: 3
          example: 600
        projectedDd:
          default: 0.0
          description: Projected DD - Projected payment amount of the direct debit
            calculated on cycle date
          type: string
          maxLength: 17
          example: $0.00
        ytdLateCharge:
          default: 0.0
          description: YTD Late Charge - Late charges assessed from the beginning
            of this calendar year through this statement
          type: string
          maxLength: 17
          example: $0.00
        statementTransactionDetails:
          type: array
          items:
            type: object
            properties:
              qualInd:
                format: uppercase
                type: string
                maxLength: 1
                description: Qualifying Indicator - Frequent shopper program number
                  for which the transaction qualified
                example: ' '
              amount:
                default: 0.0
                type: string
                description: Amount - Amount of the Transaction
                maxLength: 17
                example: "$1,000.00"
              cardSequence:
                default: 0.0
                maximum: 9999.0
                type: number
                minimum: 0.0
                description: Card Sequence - Card sequence that identifies the Embosser
                  record of the card that initiated the transaction
                maxLength: 4
                example: 0
              merchOrg:
                default: 0.0
                maximum: 999.0
                type: number
                minimum: -999.0
                description: Merchant ORG - Organization number for the merchant where
                  frequent shopper points were awarded
                maxLength: 13
                example: 0
              authorizationCode:
                format: uppercase
                type: string
                description: Auth Code - Authorization code assigned to the transaction
                maxLength: 6
                example: ' '
              transactionStatus:
                format: uppercase
                type: string
                description: Transaction Status -Transaction Status
                maxLength: 1
                example: ' '
              description:
                format: uppercase
                type: string
                description: Description - Description of the Transaction
                maxLength: 40
                example: INITIAL LOAN DISBURSEMENT
              cardNbr:
                format: uppercase
                type: string
                maxLength: 19
                description: Card Number - Card number that identifies the Embosser
                  record of the card that initiated the transaction
                example: 0006000011000000137
              store:
                default: 0.0
                maximum: 9.99999999E8
                type: number
                minimum: -9.99999999E8
                description: Store - Identification number of the store where the
                  transaction originated
                maxLength: 9
                example: 999999998
              dept:
                format: uppercase
                type: string
                maxLength: 4
                description: Department - Department code assigned to the transaction
                example: ' '
              transactionCode:
                default: 0.0
                maximum: 9999.0
                type: number
                minimum: 0.0
                description: Transaction Code - Transaction Code
                maxLength: 4
                example: 4565
              reference:
                format: uppercase
                type: string
                description: Reference - Reference number assigned to the transaction
                maxLength: 23
                example: 09999999980818000060018
              transactionType:
                format: uppercase
                type: string
                description: Transaction Type - Type of Transaction
                maxLength: 1
                example: D
              merchStore:
                default: 0.0
                maximum: 9.99999999E8
                type: number
                minimum: -9.99999999E8
                description: Merchant Store - Identification number of the store where
                  the transaction originated
                maxLength: 9
                example: 0
              eppConvInd:
                format: uppercase
                type: string
                maxLength: 1
                description: EPP Conversion Indicator -EPP Conversion Indicator
                example: ' '
              postDate:
                format: date
                type: string
                description: Post Date - Posting date of the transaction
                maxLength: 10
                example: 18/08/2021
              planSeq:
                default: 0.0
                maximum: 99.0
                type: number
                minimum: 0.0
                description: Plan Sequence - Plan sequence number
                maxLength: 2
                example: 1
              creditPlan:
                default: 0.0
                maximum: 99999.0
                type: number
                minimum: 0.0
                description: Credit Plan - Number that identifies the Credit Plan
                  Master record for the credit plan to which the transaction was posted
                maxLength: 5
                example: 70001
              logicModule:
                default: 0.0
                maximum: 999.0
                type: number
                minimum: 0.0
                description: Logic Module - Logic module associated with the transaction
                  code
                maxLength: 3
                example: 1
              sku:
                default: 0.0
                maximum: 9.99999999E8
                type: number
                minimum: -9.99999999E8
                description: SKU - Stock keeping unit (SKU) number associated with
                  the transaction
                maxLength: 9
                example: 0
              effectiveDate:
                format: date
                type: string
                description: Effective Date - Effective date of the transaction in
                  month-day format (MMDD)
                maxLength: 10
                example: 18/08/2021
              catg:
                default: 0.0
                maximum: 99999.0
                type: number
                minimum: -99999.0
                description: Category - ISO standard category code of the merchant
                  where frequent shopper points were awarded
                maxLength: 5
                example: 0
        skipPaymentLevel:
          default: 0.0
          maximum: 9.0
          description: Skip Payment Level - Code that indicates if there is an account-level
            skip payment in effect
          type: number
          minimum: 0.0
          maxLength: 1
          example: 0
        creditClass:
          format: uppercase
          description: Credit Classification - This field provides an indication of
            the customer’s payment performance
          type: string
          maxLength: 2
          example: N1
        beginningBalance:
          default: 0.0
          description: Beginning Balance - Balance for this account at the beginning
            of this cycle
          type: string
          maxLength: 17
          example: $0.00
        currBalanceXchk:
          default: 0.0
          description: "Current Balance Xcheck - Cross-check against the current balance\
            \ for this account. This field displays the total beginning balance (minus\
            \ debits, plus credits) if the beginning balance is not the same as the\
            \ ending balance"
          type: string
          maxLength: 17
          example: "$1,000.00"
        currentBalance:
          default: 0.0
          maximum: 9.9999999999E10
          description: Current Balance - Converted account current balance
          type: number
          minimum: 0.0
          maxLength: 11
          example: $0.00
        deferBillBalance:
          default: 0.0
          description: Defer Bill Balance - Current balance to be deferred. This field
            displays in place of the CURR BAL XCHK field only when there is a balance
            to be deferred
          type: string
          maxLength: 17
          example: $0.00
        ytdDisclosedCharge:
          default: 0.0
          description: YTD Disclosed Charge - Amount of disclosed fees assessed from
            the beginning of this calendar year through this statement
          type: string
          maxLength: 17
          example: $0.00
        endBalancei:
          default: 0.0
          description: End Balance-1 - Ending Balance
          type: string
          maxLength: 17
          example: $0.00
        lastYtdInterest:
          default: 0.0
          description: Last YTD Interest - Total amount of finance charges paid in
            the last calendar year
          type: string
          maxLength: 17
          example: $0.00
        residenceId:
          format: uppercase
          description: "Residential ID - Code that identifies the state, province,\
            \ or country in which the account holder resides"
          type: string
          maxLength: 3
          example: 600
        debitsNumber:
          default: 0.0
          maximum: 999.0
          description: Debit Number - Number of Cycle-to-date debits
          type: number
          minimum: 0.0
          maxLength: 3
          example: 2
        internalStatus:
          format: uppercase
          description: Internal Status - Code that identifies the status of the account
          type: string
          maxLength: 1
          example: A
        scheduledPaymentAmount:
          default: 0.0
          description: Scheduled Payment Amount - Amount of scheduled payment for
            this account
          type: string
          maxLength: 17
          example: $0.00
        unbilledDebitBalance:
          default: 0.0
          description: Unbilled Debit Balance - Unbilled Debit Balance
          type: string
          maxLength: 17
          example: $0.00
        billIndicator:
          default: 0.0
          maximum: 9.0
          description: BILL IND - Code that indicates whether the PROJECTED DD and/or
            the CURR PMT DUE fields reflect cycle-to-date fees or an overlimit amount
            in addition to the scheduled payment amount
          type: number
          minimum: 0.0
          maxLength: 1
          example: 0
        billingCycle:
          default: 0.0
          maximum: 99.0
          description: Billing Cycle - Cycle code that indicates the day of the month
            that CMS performs cycle processing for the account
          type: number
          minimum: 0.0
          maxLength: 2
          example: 18
        noOfQualifiedTxns:
          format: uppercase
          description: Number of qualified Transactions - Number of qualified Transactions
          type: string
          maxLength: 5
          example: 0
        unResolvedCreditBalance:
          default: 0.0
          description: Unresolved Credit Balance - Unresolved Credit Balance
          type: string
          maxLength: 17
          example: $0.00
        shortName:
          format: uppercase
          description: Short Name - Name of the account holder on the Customer Name/Address
            record associated with the primary account in the relationship
          type: string
          maxLength: 20
          example: EPHTIARRAUHROE
        numberOfPlans:
          default: 0.0
          maximum: 99.0
          description: Number of Plans - Number of credit plans associated with this
            account
          type: number
          minimum: 0.0
          maxLength: 2
          example: 1
        planNextToken:
          format: uppercase
          description: Plan Next Token - Plan Token which is used to get next set
            of plan details
          type: string
          maxLength: 80
          example: ' '
        totalPastDue:
          default: 0.0
          description: Total Past Due - Total amount billed as past due at the time
            of this statement
          type: string
          maxLength: 17
          example: $0.00
        statementFlag:
          format: uppercase
          description: Statement Flag - This field is a statement flag that indicates
            the type of statement
          type: string
          maxLength: 1
          example: ""
        qualifyingGraceBalance:
          default: 0.0
          description: Qualifying Grace Balance - Calculated qualifying grace balance
          type: string
          maxLength: 17
          example: "$1,500.00"
        cashLimit:
          default: 0.0
          description: Cash Limit - Total cash credit limit established for this account
          type: string
          maxLength: 17
          example: "$3,000.00"
        creditsAmount:
          default: 0.0
          description: Credit Amount - Amount of Cycle-to-date credits
          type: string
          maxLength: 17
          example: $0.00
        totalPaymentDue:
          default: 0.0
          description: "Total Payment Due - Total payment amount due, including current\
            \ and past due, which is a sum total of all the consolidated subordinate\
            \ account total payment dues"
          type: string
          maxLength: 17
          example: $0.00
        fsAdjustedPoints:
          default: 0.0
          maximum: 9.99999999999E11
          description: FS Adjusted Points - Number of frequent shopper points adjusted
            this cycle
          type: number
          minimum: 0.0
          maxLength: 12
          example: 0
        tranNextToken:
          format: uppercase
          description: Transaction Next Token - Transaction Token which is used to
            get next set of transactions
          type: string
          maxLength: 80
          example: ' '
        dateThisStatement:
          format: date
          description: Statement Date - Effective date of this statement
          type: string
          maxLength: 10
          example: 18/08/2021
        fsEarned:
          default: 0.0
          maximum: 9.99999999999E11
          description: FS Earned - Number of frequent shopper points the customer
            earned cycle-to-date
          type: number
          minimum: 0.0
          maxLength: 12
          example: 0
        employeeCode:
          format: uppercase
          description: Employee Code - User-defined employee code
          type: string
          maxLength: 2
          example: ""
        fsDisbursedPoints:
          default: 0.0
          maximum: 9.99999999999E11
          description: FS Disbursed Points - Amount of cycle-to-date frequent shopper
            points disbursed to this customer
          type: number
          minimum: 0.0
          maxLength: 12
          example: 0
        endBalance:
          default: 0.0
          description: End Balance - Ending balance of the relationship at the time
            of the statement. This amount is the sum of the ending balances for the
            subordinate accounts in the relationship
          type: string
          maxLength: 17
          example: "$1,500.00"
        fixedPaymentAmount:
          default: 0.0
          description: Fixed Payment Amount - Fixed payment amount for this account
          type: string
          maxLength: 17
          example: $500.00
        graceintFree:
          default: 0.0
          description: "Grace/Int Free - Total current due, if plans are interest\
            \ free or deferred"
          type: string
          maxLength: 17
          example: $0.00
        cycleDue:
          default: 0.0
          maximum: 9.0
          description: Cycle Due - Cycle due code that indicates the level of contractual
            delinquency for the account at the time of the statement
          type: number
          minimum: 0.0
          maxLength: 1
          example: 0
        debitsAmount:
          default: 0.0
          description: Debit Amount - Amount of Cycle-to-date debits
          type: string
          maxLength: 17
          example: "$1,500.00"
        ytdOverlimitCharge:
          default: 0.0
          description: APP INST Amount - APP INST Amount
          type: string
          maxLength: 17
          example: $0.00
        corresCustomerNumber:
          format: uppercase
          description: Corresponding Customer Number - Number that identifies the
            Customer Name/Address record that contains the correspondence customer
            address for statements and other correspondence
          type: string
          maxLength: 19
          example: ' '
        amountOfQualifiedTxns:
          default: 0.0
          description: Amount of qualified Transactions - Amount of qualified Transactions
          type: string
          maxLength: 17
          example: $0.00
        product:
          default: 0.0
          maximum: 999.0
          description: Product - Identification number of the logo associated with
            this Account Base Segment record.
          type: number
          minimum: 0.0
          maxLength: 3
          example: 600
        creditPlanInterestRateHistory:
          type: array
          items:
            type: object
            properties:
              lmtNo:
                format: uppercase
                type: string
                description: Limit ID - Limit ID
                maxLength: 2
                example: ' '
              creditPlan:
                default: 0.0
                maximum: 99999.0
                type: number
                minimum: 0.0
                description: Credit Plan - Credit plan number associated with the
                  account
                maxLength: 5
                example: 0
              periodicInterestRate:
                format: uppercase
                type: string
                description: Periodic Interest rate - Periodic interest rate
                maxLength: 17
                example: 0.0000000%
              upToLimit:
                format: uppercase
                type: string
                description: Up To Limit - Interest limit in whole monetary units
                  for the interest rate listed in the previous PERIODIC and ANNUAL
                  fields
                maxLength: 17
                example: $0.00
              annualInterestRate:
                format: uppercase
                type: string
                description: Annual Interest rate - Annual interest rate
                maxLength: 9
[...]
