openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.0.0
servers:
- url: 'https://stg34.visionplus.io:24500/fva_apac'
paths:    
  /v1/cards/{cardNumber}/activate: 
    put:
      tags:
      - Card Management
      x-group-name: Card Management
      x-proxy-name: Activate Card
      summary: Activate Card
      description: This service is used to activate the card after successful verification of the cardholder.
      operationId: Card Activate
      parameters: 
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request for mapping the response on their side. Any value passed in the request message will be return back as-is in the API response message
        schema:
          maxLength: 40
          minLength: 0
          type: string
          example: ABC123
      - name: X-Name
        in: header
        required: true
        description: User’s sign-on name. The value passed in this field will be validated within application for user's authority to consume the requested API
        schema:
          maxLength: 30
          minLength: 0
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        required: true
        description: A unique random ID assigned to the requestor once authenticated to the First Vision application. Value passed in this field will be used within application to authenticate the valid signed-on user
        schema:
          maxLength: 20
          minLength: 0
          type: string
          example: 00000AUNAB
      - name: cardNumber
        in: path
        required: true
        description : "Token Number assigned to the cardholder embosser record."
        schema:
          maxLength: 19
          type: string
          format: uppercase
          example: '0009846801010273613'
      - name: businessUnit
        in: query
        required: true
        description : 'Identification number of the organization associated
          with thisAccount Base Segment record,The values are 001–998'
        schema:
          type: number
          default: 0.0
          example: 100
      
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardActivateReq'
              
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCardActivateResp'
              examples: 
                ActivateCard: {$ref: '#/components/examples/CardActivateResp'}

        400:
          description: The request cannot be validated
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ErrorList'}
              example:
                400:
                  $ref: '#/components/examples/400-Errors'
        401:
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                401:
                  $ref: '#/components/examples/401-Errors'
        404:
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                404:
                  $ref: '#/components/examples/404-Errors'
        500:
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                500:
                  $ref: '#/components/examples/500-Errors'
        503:
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                503:
                  $ref: '#/components/examples/503-Errors'
        504:
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                504:
                  $ref: '#/components/examples/504-Errors'
  
  /v1/cards/{cardNumber}/blockUnblock:
    put:
      tags:
      - Card Management
      x-group-name: Card Management
      x-proxy-name: Block-Unblock Card
      summary: Block-Unblock Card
      description: This service is used to update the block codes and the reason codes for the block codes for cards and accounts. Same service can be used to unblock the card by passing spaces in the block-code field of the request body.
      operationId: cardsBlock
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request for mapping the response on their side. Any value passed in the request message will be return back as-is in the API response message
        schema:
          maxLength: 40
          minLength: 0
          type: string
          example: ABC123
      - name: X-Name
        in: header
        required: true
        description: User’s sign-on name. The value passed in this field will be validated within application for user's authority to consume the requested API
        schema:
          maxLength: 30
          minLength: 0
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        required: true
        description: A unique random ID assigned to the requestor once authenticated to the First Vision application. Value passed in this field will be used within application to authenticate the valid signed-on user
        schema:
          maxLength: 20
          minLength: 0
          type: string
          example: 00000AUNAB
      - name: cardNumber
        in: path
        required: true
        description : "Number that is embossed on the plastic card. "
        schema:
          maxLength: 19
          type: string
          format: uppercase
          example: '0009846801010273605'
      - name: businessUnit
        in: query
        required: true
        description : 'Identification number of the organization associated
          with thisAccount Base Segment record,The values are 001–998'
        schema:
          type: number
          default: 0.0
          example: 100
          
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardsBlockUnblockReq'
              
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardsBlockUnblockResp'
              examples:
                BlockCard: {$ref: '#/components/examples/BlockCardResp'}
        400:
          description: The request cannot be validated
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ErrorList'}
              example:
                400:
                  $ref: '#/components/examples/400-Errors'
        401:
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                401:
                  $ref: '#/components/examples/401-Errors'
        404:
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                404:
                  $ref: '#/components/examples/404-Errors'
        500:
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                500:
                  $ref: '#/components/examples/500-Errors'
        503:
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                503:
                  $ref: '#/components/examples/503-Errors'
        504:
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                504:
                  $ref: '#/components/examples/504-Errors'
  
  /v1/cards/{cardNumber}/transfer:
    put:
      tags:
      - Card Management
      x-group-name: Card Management
      x-proxy-name: Lost Stolen Card Transfer
      summary: Lost Stolen Card Transfer
      description: This Lost or Stolen service is used to block the lost card and request for the replacement card.
      operationId: cardTransfer
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request for mapping the response on their side. Any value passed in the request message will be return back as-is in the API response message
        schema:
          maxLength: 40
          minLength: 0
          type: string
          example: ABC123
      - name: X-Name
        in: header
        required: true
        description: User’s sign-on name. The value passed in this field will be validated within application for user's authority to consume the requested API
        schema:
          maxLength: 30
          minLength: 0
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        required: true
        description: A unique random ID assigned to the requestor once authenticated to the First Vision application. Value passed in this field will be used within application to authenticate the valid signed-on user
        schema:
          maxLength: 20
          minLength: 0
          type: string
          example: 00000AUNAB
      - name: cardNumber
        in: path
        required: true
        description : "Token Number assigned to the cardholder embosser record. "
        schema:
          maxLength: 19
          type: string
          format: uppercase
          example: '0009846801010001345'
      - name: businessUnit
        in: query
        required: true
        description : 'Identification number of the organization associated
          with thisAccount Base Segment record,The values are 001–998'
        schema:
          type: number
          default: 0.0
          example: 200
          
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardTransferReq'
           
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCardTransferResp'
              examples:
                CardTransfer: { $ref: '#/components/examples/CardTransferResp'}
                
        400:
          description: The request cannot be validated
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ErrorList'}
              example:
                400:
                  $ref: '#/components/examples/400-Errors'
        401:
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                401:
                  $ref: '#/components/examples/401-Errors'
        404:
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                404:
                  $ref: '#/components/examples/404-Errors'
        500:
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                500:
                  $ref: '#/components/examples/500-Errors'
        503:
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                503:
                  $ref: '#/components/examples/503-Errors'
        504:
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                504:
                  $ref: '#/components/examples/504-Errors'                  
  
  /v1/cards/{cardNumber}/profile:
    put:
      tags:
      - Card Management
      x-group-name: Card Management
      x-proxy-name: CardType Update
      summary: CardType Update
      description: This service is used to update the type of cardholder between primary and supplementary (Joint Cardholder).
      operationId: cardsProfile
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request for mapping the response on their side. Any value passed in the request message will be return back as-is in the API response message
        schema:
          maxLength: 40
          minLength: 0
          type: string
          example: ABC123
      - name: X-Name
        in: header
        required: true
        description: User’s sign-on name. The value passed in this field will be validated within application for user's authority to consume the requested API
        schema:
          maxLength: 30
          minLength: 0
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        required: true
        description: A unique random ID assigned to the requestor once authenticated to the First Vision application. Value passed in this field will be used within application to authenticate the valid signed-on user
        schema:
          maxLength: 20
          minLength: 0
          type: string
          example: 00000AUNAB
      - name: cardNumber
        in: path
        required: true
        description : "Token Number assigned to the cardholder embosser record. "
        schema:
          maxLength: 19
          type: string
          format: uppercase
          example: '0009846801010273613'
      - name: businessUnit
        in: query
        required: true
        description : 'Identification number of the organization associated
          with thisAccount Base Segment record,The values are 001–998'
        schema:
          type: number
          default: 0.0
          example: 100
      
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardProfileReq'
            
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCardsProfileResp'
              examples: 
                CardsProfile: { $ref: '#/components/examples/CardsProfileResp'}
        400:
          description: The request cannot be validated
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ErrorList'}
              example:
                400:
                  $ref: '#/components/examples/400-Errors'
        401:
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                401:
                  $ref: '#/components/examples/401-Errors'
        404:
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                404:
                  $ref: '#/components/examples/404-Errors'
        500:
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                500:
                  $ref: '#/components/examples/500-Errors'
        503:
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                503:
                  $ref: '#/components/examples/503-Errors'
        504:
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                504:
                  $ref: '#/components/examples/504-Errors'
  
  /v1/cards/{cardNumber}/validateCVV2:
    post:
      tags:
      - Card Management
      x-group-name: Card Management
      x-proxy-name: CVV2 Validation
      summary: CVV2 Validation
      description: The Card Secure Code Validation service is used to validate the CVV2 and optionally the expiry date of a given card.     This service is typically called before the card activation or PIN reset service to validate the cardholder.
      operationId: secureCode
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request for mapping the response on their side. Any value passed in the request message will be return back as-is in the API response message
        schema:
          maxLength: 40
          minLength: 0
          type: string
          example: EXCABC123
      - name: X-Name
        in: header
        required: true
        description: User’s sign-on name. The value passed in this field will be validated within application for user's authority to consume the requested API
        schema:
          maxLength: 30
          minLength: 0
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        required: true
        description: A unique random ID assigned to the requestor once authenticated to the First Vision application. Value passed in this field will be used within application to authenticate the valid signed-on user
        schema:
          maxLength: 20
          minLength: 0
          type: string
          example: 00000AUNAB
      - name: cardNumber
        in: path
        required: true
        description : "Token Number assigned to the cardholder embosser record. "
        schema:
          maxLength: 19
          type: string
          format: uppercase
          example: '0009846801010065787'
      - name: businessUnit
        in: query
        required: true
        description : 'Identification number of the organization associated
          with thisAccount Base Segment record,The values are 001–998'
        schema:
          type: number
          default: 0.0
          example: 100
          
          
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardsSecureCodeReq'

      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardsSecureCodeResp'
              examples: 
                CardsSecure: { $ref: '#/components/examples/CardSecureResp' }
        400:
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                400:
                  $ref: '#/components/examples/400-Errors'
        401:
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                401:
                  $ref: '#/components/examples/401-Errors'
        404:
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                401:
                  $ref: '#/components/examples/404-Errors'
        500:
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                500:
                  $ref: '#/components/examples/500-Errors'
        503:
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                503:
                  $ref: '#/components/examples/503-Errors'
        504:
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                504:
                  $ref: '#/components/examples/504-Errors'
  
  /v1/cards/{cardNumber}/spendLimits:
    put:
      tags:
      -  Card Management
      x-group-name: Card Management
      x-proxy-name: Spend Limit Updates
      summary: Spend Limit Updates
      description: This service is used to update the spending limits to control the card usage. These limits are set at individual card level.
      operationId: Card Limits
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request for mapping the response on their side. Any value passed in the request message will be return back as-is in the API response message
        schema:
          maxLength: 40
          minLength: 0
          type: string
          example: ABC123
      - name: X-Name
        in: header
        required: true
        description: User’s sign-on name. The value passed in this field will be validated within application for user's authority to consume the requested API
        schema:
          maxLength: 30
          minLength: 0
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        required: true
        description: A unique random ID assigned to the requestor once authenticated to the First Vision application. Value passed in this field will be used within application to authenticate the valid signed-on user
        schema:
          maxLength: 20
          minLength: 0
          type: string
          example: 00000AUNAB
      - name: cardNumber
        in: path
        required: true
        description : "Token Number assigned to the cardholder embosser record. "
        schema:
          maxLength: 19
          type: string
          format: uppercase
          example: '0009846801010273605'
      - name: businessUnit
        in: query
        required: true
        description : 'Identification number of the organization associated
          with thisAccount Base Segment record,The values are 001–998'
        schema:
          type: number
          default: 0.0
          example: 100
          
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardLimitReq'
                          
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCardLimitResp'
              examples: 
                CardsLimit: { $ref: '#/components/examples/CardLimitResp' }
        400:
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                400:
                  $ref: '#/components/examples/400-Errors'
        401:
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                401:
                  $ref: '#/components/examples/401-Errors'
        404:
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                401:
                  $ref: '#/components/examples/404-Errors'
        500:
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                500:
                  $ref: '#/components/examples/500-Errors'
        503:
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                503:
                  $ref: '#/components/examples/503-Errors'
        504:
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                504:
                  $ref: '#/components/examples/504-Errors'
  
  /v1/cards/{cardNumber}/clearPan:
    get:
      tags:
      - Card Management
      x-group-name: Card Management
      x-proxy-name: Fetch Clear PAN from Token
      summary: Fetch Clear PAN from Token
      description: This service is used to fetch the clear pan for the requested First Vision's Token PAN.
      operationId: cardClearPan
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request for mapping the response on their side. Any value passed in the request message will be return back as-is in the API response message
        schema:
          maxLength: 40
          minLength: 0
          type: string
          example: ABC123
      - name: X-Name
        in: header
        required: true
        description: User’s sign-on name. The value passed in this field will be validated within application for user's authority to consume the requested API
        schema:
          maxLength: 30
          minLength: 0
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        required: true
        description: A unique random ID assigned to the requestor once authenticated to the First Vision application. Value passed in this field will be used within application to authenticate the valid signed-on user
        schema:
          maxLength: 20
          minLength: 0
          type: string
          example: 00000AUNAB
      - name: businessUnit
        in: query
        description: Identification number of the organization associated with thisAccount Base Segment record,The values are 001–998
        required: true
        schema:
          maximum: 998.0
          minimum: 0.0
          type: number
          default: 0.0
          example: 100
      - name: cardNumber
        in: path
        description: Number that is embossed on the plastic card. ""
        required: true
        schema:
          maxLength: 19
          type: string
          format: uppercase
          example: '0009846801010273605'

      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cardsClearResponse'
              examples: 
                CardsClear: { $ref: '#/components/examples/CardClearResp' }
              
        400:
          description: The request cannot be validated
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ErrorList'}
              example:
                400:
                  $ref: '#/components/examples/400-Errors'
        401:
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                401:
                  $ref: '#/components/examples/401-Errors'
        404:
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                404:
                  $ref: '#/components/examples/404-Errors'
        500:
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                500:
                  $ref: '#/components/examples/500-Errors'
        503:
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                503:
                  $ref: '#/components/examples/503-Errors'
        504:
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                504:
                  $ref: '#/components/examples/504-Errors'      
                  
  /v1/cards/{cardNumber}/pinBlockChange:
    put:
      tags:
      - Card Management
      x-group-name: Card Management
      x-proxy-name: PIN Block Change
      summary: PIN Block Change
      description: The PIN Block Change Service is used to update the PIN Block with the prerequisite that the existing PIN block must be supplied and validated.
      operationId: pinBlock
      parameters:
      - name: X-Correl-Id
        in: header
        description: Any correlational text client's may want to send in the request for mapping the response on their side. Any value passed in the request message will be return back as-is in the API response message
        schema:
          maxLength: 40
          minLength: 0
          type: string
          example: ABC123
      - name: X-Name
        in: header
        required: true
        description: User’s sign-on name. The value passed in this field will be validated within application for user's authority to consume the requested API
        schema:
          maxLength: 30
          minLength: 0
          type: string
          example: 00000AUNAB
      - name: X-context
        in: header
        required: true
        description: A unique random ID assigned to the requestor once authenticated to the First Vision application. Value passed in this field will be used within application to authenticate the valid signed-on user
        schema:
          maxLength: 20
          minLength: 0
          type: string
          example: 00000AUNAB
      - name: businessUnit
        in: query
        description: Identification number of the organization associated with thisAccount Base Segment record,The values are 001–998
        required: true
        schema:
          maximum: 998.0
          minimum: 0.0
          type: number
          default: 0.0
          example: 200
      - name: cardNumber
        in: path
        description: Number that is embossed on the plastic card. ""
        required: true
        schema:
          maxLength: 19
          type: string
          format: uppercase
          example: '0009846801010273605'
          
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardPinReq'
      responses:
        200:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCardPinResp'
              examples: 
                CardsPin: { $ref: '#/components/examples/CardPinResp' }
        400:
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                400:
                  $ref: '#/components/examples/400-Errors'
        401:
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                401:
                  $ref: '#/components/examples/401-Errors'
        404:
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                401:
                  $ref: '#/components/examples/404-Errors'
        500:
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                500:
                  $ref: '#/components/examples/500-Errors'
        503:
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                503:
                  $ref: '#/components/examples/503-Errors'
        504:
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
              example:
                504:
                  $ref: '#/components/examples/504-Errors'
  /v1/cards/{cardNumber}/controls:
    put:
      tags:
      - Card Management
      summary: Update Card Controls
      description: This service updates the card controls for a given card number
      operationId: UpdateCardControls
      x-group-name: Card Management
      x-proxy-name: Update Card Controls
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: "Business Unit - Identification number associated with this Account\
          \ Base Segment record, the values are 001–998"
        required: true
        schema:
          default: 0.0
          type: number
          example: 600
      - name: cardNumber
        in: path
        description: Card Number - Number that is embossed on the plastic card. Enter
          a value in this field only if the card number is different from the post-to
          account number
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19.0
          example: "0000000001000000115"
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardControlsReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCardControlsResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'               
  /v1/cards/{cardNumber}/details:
    get:
      tags:
      - Card Management
      summary: Inquire Card Details
      description: This service is used to fetch card details
      operationId: InquireCardDetails
      x-group-name: Card Management
      x-proxy-name: Inquire Card Details
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: "Business Unit - Identification number associated with this Account\
          \ Base Segment record, the values are 001–998"
        required: true
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 600
      - name: cardNumber
        in: path
        description: Card Number - Number that is embossed on the plastic card. Enter
          a value in this field only if the card number is different from the post-to
          account number
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19.0
          example: "0009544410000000062"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireCardDetailsResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/cards/{cardNumber}/controlDetails:
    get:
      tags:
      - Card Management
      summary: Inquire Card Controls
      description: This service fetches the card controls for a given card number
      operationId: InquireCardControls
      x-group-name: Card Management
      x-proxy-name: Inquire Card Controls
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: "Business Unit - Identification number associated with this Account\
          \ Base Segment record, the values are 001–998"
        required: true
        schema:
          default: 0.0
          type: number
          example: 600
      - name: cardNumber
        in: path
        description: Card Number - Number that is embossed on the plastic card. Enter
          a value in this field only if the card number is different from the post-to
          account number
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19.0
          example: "0009544410000000062"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireCardControlsResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'                
                
components:
  schemas:
    CardsSecureCodeReq:
      required:
      - cVV2
      type: object
      properties:
        cVV2:
          maxLength: 3
          type: string
          example: '855'
          description: CVV2-valid CVV2 should be entered printed on the card
          format: uppercase
        expiryDateMMYY:
          maxLength: 4
          type: string
          example: '1123'
          description: Expire Date-valid card expire date should be provided which is of 4 character with MMYY format
          format: uppercase
        signonName:
          type: string
          example: ' ' 
          description: Signon name
        securitySignon:
          type: string
          example: ' '
          description: Security signon
        
    CardsClearReq:
      required:
      - indicator
      - businessUnit
      - cardNumber
      type: object
      properties:
        cardNumber:
          type: string
          description: Clear Pan - 19 digit Clear card number
          format: uppercase
        indicator:
          type: string
          description: Indicator - Value 'Y' should be passed
        businessUnit:
          type: number
          description: 'Identification number of the organization associated
          with thisAccount Base Segment record,The values are 001–998'
    cardsClearResponse:
      type: object
      properties:
        cardNumber:
          type: string
          example: '000404940CCCCC74818'
          description: Clear Pan - 19 digit Clear card number
          format: uppercase
    UpdateCardActivateReq:
      type: object
      properties:
        currentCardRequireActivation:
          type: string
          example: 'N'
          enum:
           - 'Y - Yes'
           - 'N - No'
          description: Current activation flag-Indicates whether cardactivation needs to occur for the most recently issued card values are N=No card activation is required or cardactivation has already occurred, Y=Card activation needs to occur
        lastCardActivation:
          type: string
          example: 'Y'
          description: Last card activation flag-indicates whether cardactivation needs to occur for the previously issuedcard values are N=No card activation is required or cardactivation has already occurred, Y=Card activation needs to occur   
    UpdateCardActivateResp:
      required:
      - businessUnit
      - postToAccountNumber
      - cardNumber
      - cardSequence
      type: object
      properties:
        businessUnit:
          type: number
          example: 100
          description: 'Identification number of the organization associated
          with thisAccount Base Segment record,The values are 001–998'
        cardSequence:
          type: number
          example: 1
          description: Card sequence- This a static value value 0001 should be passed
        postToAccountNumber:
          type: string
          example: '00010000CCCCC510760'
          description: Identification number of the Account Base Segment record towhich CMS posts transactions  received for this Embosser record
          maxLength: 19
        cardNumber:
          type: string
          example: '00098468CCCCC273613'
          description: Token Number assigned to the cardholder embosser record. ""
          maxLength: 19
        currentCardRequireActivation:
          type: string
          example: 'N'
          enum:
           - 'Y - Yes'
           - 'N - No'
          description: Current activation flag-Indicates whether cardactivation needs to occur for the most recently issued card values are N=No card activation is required or cardactivation has already occurred, Y=Card activation needs to occur
        cardActivatedDate: 
          type: string
          example: '01/10/2021'
          description: Card activated date- This date will identifies the card activated date, this is a system generated date this will be changed
        lastCardActivation:
          type: string
          example: 'Y'
          description: Last card activation flag-indicates whether cardactivation needs to occur for the previously issuedcard values are N=No card activation is required or cardactivation has already occurred, Y=Card activation needs to occur

    ErrorList:
      type: array
      items:
        type: object
        properties:
          errorCode:
            type: string
            example:  XXXXXXXX
            description: Error code associated with the response
          errorMessage:
            type: string
            example: Some message from the service
            description: Error message associated with the response
            
    UpdateCardTransferResp:
      required:
      - cardNumber
      type: object
      properties:
        blockCode:
          type: string
          example: 'L'
          description: Block Code- Block code of OLD card or fraud card this can be any value from A TO Z
          format: uppercase
        errorDescription:
          type: string
          example: ' '
          description: Error description
        errorType:
          type: string
          example: ' '
          description: Error Type
        serviceReturnCode:
          type: string
          example: ' '
          description: Service Return Code- This is specific to API return code the values are P AND F
        transactionReturnCode:
          type: string
          example: ' '
          description: Transaction return code
        errorCode:
          type: string
          example: ' '
          description: Error code
        maskCardnumber:
          type: string
          example: '000404940XXXXXX4481'
          description: Mask Pan Number- The clear card number will be masked with XXXX from 9 didgit to 15th didgit
          format: uppercase
        numberOfErrors:
          type: string
          example: '0'
          description: Number of errors- This will displays the number of errors in the service This is an occur cause which can store maxmum 20 erros
        transferToAccount:
          type: string
          example: '000100001NNNNNN3777'
          description: Transfer To Account- The account asscoicated to the old card
          format: uppercase
        transferToCustomer:
          type: string
          example: '984100001NNNNNN3777'
          description: Transfer To Customer-The customer asscoicated to the old card
          format: uppercase
        applicationReturnCode:
          type: string
          example: ' '
          description: Application Return code
        systemReturnCode:
          type: string
          example: ' '
          description: System retrun code
        cardNumber:
          type: string
          example: '000984680NNNNNN0089'
          description: New  card number- The new generated card number
          format: uppercase
        effectiveDate:
          type: string
          example: '10/01/2021'
          description: Effective Date-Date that the fraud card transfer is effective
          format: date
        transferFromAccount:
          type: string
          example: '000100001NNNNNN3777'
          description: Transfer From Account- The account asscoicated to the old card
          format: uppercase
    CardsSecureCodeResp:
      required:
      - cardNumber
      type: object
      properties:
        cardNumber:
          type: string
          example: '0009846CCCCCC065787'
          description: Card Number -Number that is embossed on the plastic card. ""
          format: uppercase
    UpdateCardProfileReq:
      type: object
      properties:
        cardholderType:
          type: string
          example: '1'
          description: Cardholder Type-Code that indicates whether the cardholder is the primarycardholder or an additional cardholder associated with theaccount. The value for this field is set in the card-adding processwith the first cardholder designated as the primary cardholderand the other cardholders as additional cardholders. The values are 0 =Additional cardholder 1=Primary cardholder.
  
    UpdateCardsProfileResp:
      required:
      - businessUnit
      - cardNumber
      - cardSequence
      - postToAccountNumber
      type: object
      properties:
        cardholderType:
          type: string
          example: '1'
          description: Cardholder Type-Code that indicates whether the cardholder is the primarycardholder or an additional cardholder associated with theaccount. The value for this field is set in the card-adding processwith the first cardholder designated as the primary cardholderand the other cardholders as additional cardholders. The values are 0 =Additional cardholder 1=Primary
            cardholder
          enum:
          - 0 - Additional
          - 1 - Primary
        businessUnit:
          type: number
          example: 100
          description: Identification number of the organization associated with thisAccount Base Segment record. The values are 001–998.
        cardSequence:
          type: number
          example: 1
          description: Card sequence- This a static value value 0001 should be passed
        postToAccountNumber:
          maxLength: 19
          type: string
          example: '000100001NNNNN0760'
          description: Identification number of the Account Base Segment record towhich CMS posts transactions received for this Embosser record
          format: uppercase
        cardNumber:
          maxLength: 19
          type: string
          example: '000984680NNNNN73613'
          description: Token Number assigned to the cardholder embosser record. ""
          format: uppercase
    UpdateCardPinReq:
      required:
      - requestedPinBlock
      type: object
      properties:
        product:
          type: number
          example: 1
          description: Product - Product associated with this Account. The values are 001–998
        requestedPinBlock:
          type: string
          maxLength: 16
          example: '6BA8F5DFB742A878'
          description: Requested pin block(New pin block)-The new pin block should be provided, This will be new pin Enter by customer
        currentPinBlock:
          type: string
          maxLength: 16
          format: uppercase
          example: ' '
          description: Current pin block( Old Pin Block)- The old pin block should be provided, This will be old pin Enter by customer
        pinOffset:
          type: number
          example: 0
          description: Current pin block( Old Pin Block)- The old pin block should be provided, This will be old pin Enter by customer
        pinChannel:
          type: string
          example: 'W'
          description: Pin channel-This field will identifiy the channel through which The request has been ititialted The valid values are A-ATM,I-IVR, W-WEB
        keyAssociation:
          type: string
          example: ' '
          description: Key association-The value will be used to read the keys stored in KMS files,from input we always recive spaces
        securitySignon:
          type: string
          example: ' '
          description: Security signon-valid signon id should be provided
        signonName:
          type: string
          example: ' '
          description: Signon name- valid signin name should be provided
        vgsFiller:
          type: string
          example: ' '
          description: Vgs filler- This is filler used for future purpose
        userFiller:
          type: string
          example: ' '
          description: User filler-This is filler used for future purpose
    
    UpdateCardPinResp:
      type: object
      properties:
        userFiller:
          type: string
          example: ' '
          description: User filler-This is filler used for future purpose
        filler:
          type: string
          example: ' '
          description: Vgs filler- This is filler used for future purpose
        cardNumber:
          type: string
          example: '0009543CCCCCCC80172'
          description: Card Number-if the service is sucessiful, the response the updated card number will be send this will
          format: uppercase
    UpdateCardTransferReq:
      required:
      - accountNumber
      - action
      - blockCode
      - cardReplacementIndicator
      - effectiveDate
      - operatorId
      - product
      - startDate
      - terminalId
      - transferToAccount
      - transferToCustomer
      type: object
      properties:
        accountNumber:
          maxLength: 19
          type: string
          example: '0002000010000181486'
          description: Account number-Account currently associated with the card
          format: uppercase  
        product:
          maximum: 999
          minimum: 0
          type: number
          example: 1
          description: Product - Product associated with this Account. The values
            are 001–998
        blockCode:
          maxLength: 1
          type: string
          example: 'L'
          description: Block code-Block code to apply to the transfer cardThe values
            are blank(or space) and A to Z
          format: uppercase
        cardReplacementIndicator:
          type: string
          example: '1'
          description: Card replacement indicator-Code that indicates whether CMS replaces the transfer card bygenerating a new Embosser record on the original account. The values are 0=Replace lost/stolen/fraud card (Default), 1=Do not replace lost/stolen/fraud card
          enum:
          - 0 - Replace
          - 1 - Do Not Replace
        terminalId:
          maxLength: 4
          type: string
          example: ' '
          description: Terminal id- The terminal from where the service was called
          format: uppercase
        customerBusinessUnit:
          maximum: 999
          minimum: 0
          type: number
          example: ' '
          description: Card transfer org-Identification number of the organization
            associated with thisAccount Base Segment record. The values are 001–9
        transferToAccount:
          maxLength: 19
          type: string
          example: ' '
          description: Transfer to account-Number of the account to which you want
            to transfer the cardYou can enter a specific account number or enter a
            slash (/) ifthe auto-generation functionality is active for account numbers.
          format: uppercase
        transferToCustomer:
          maxLength: 19
          type: string
          example: ' '
          description: Transfer to customer-Number that identifies the Customer Name/Address recordassociated with the transfer-to accountIf you are transferring the card to an existing accountdo notmake an entry in the CUSTOMER fieldCMS uses the customernumber associated with the existing account
          format: uppercase
        signonName:
          type: string
          example: ' '
          description: signon name
        action:
          type: string
          example: 'T'
          description: Action-This field issystem-generated; you cannot modify it.
            The values are R=Reverse a card transfer, T=Transfer the card (lost, stolen,
            or fraud).
          enum:
          - T - Transfer
          - R - Reversal
        securitySignon:
          type: string
          description: security signon
          example: ' '
        operatorId:
          maxLength: 3
          type: string
          example: ' '
          description: Operator id-user signon operator id
          format: uppercase
        effectiveDate:
          type: string
          example: ' '
          description: Effective date-Date that the fraud card transfer is effective
            The value must be a date less than or equal to today’sdateThe default
            value is today’s date. If you enter a future date The system will abend
          format: date
        startDate:
          type: string
          example: ' '
          description: Start date- the date when the serivce was called
          format: date
    CardsBlockUnblockReq:
      type: object
      properties:
        blockCode:
          type: string
          example: 'X'
          description: Block code-The block code assigned to the Embosser record, Blcok code values can be be A- Z or SPACES
          enum:
          - X
          - E
          - F
          - G
          - ' '
       
    CardsBlockUnblockResp:
      required:
      - businessUnit
      - cardNumber
      - cardSequence
      - postToAccountNumber
      type: object
      properties:
        businessUnit:
          type: number
          example: 100
          description: Business Unit -Identification number of the organization associated
            with thisAccount Base Segment record. The values are 001–998.
        cardholderType:
          example: '1'
          type: string
          description: Card holder type-'Code that indicates whether the cardholder
            is the primarycardholder or an additional cardholder associated with theaccount.
            The value for this field is set in the card-adding processwith the first
            cardholder designated as the primary cardholderand the other cardholders
            as additional cardholders, values are 0=Additional cardholder, 1=Primary
            cardholder
          enum:
          - 1 - Primary
          - 0 - Additional
        blockCode:
          type: string
          example: 'E'
          description: Block code-The block code assigned to the Embosser record,
            Blcok code values can be be A- Z or SPACES
          enum:
          - X
          - E
          - F
          - G
          - ' '
        blockDate:
          type: string
          example: 00/00/0000
          description: Card block date-The date on which card is blocked
          format: uppercase
        cardSequence:
          type: number
          example: 0001
          description: Card sequence- This a static value value 0001 should be passed
        postToAccountNumber:
          maxLength: 19
          type: string
          example: ABCDEFGHIJABCDEFGHI
          description: Identification number of the Account
            Base Segment record towhich CMS posts transactions received for this Embosser
            record
          format: uppercase
        cardNumber:
          maxLength: 19
          type: string
          example: 00098468CCCCC273605
          description: Token Number assigned to the cardholder embosser record. Enter
            a value inthis field only if the card number is different from the post-toaccount
            number
          format: uppercase
        warningCode1:
          type: string
          example: '0'
          description: Warning Code1 -This field determine whether to authorize or
            decline authorizations for this Embosser record (card), These are display
            fieldscannot change the values The values are 0 =Normal authorizations
            (Default), 1=Decline, 2=Decline and pick up,3=Decline and pick up for
            fraud or lost/stolencard,4=Decline with referral,5=Approve after verifying
            cardholder ID,6=Decline for suspected fraud,8=Decline with a user exit,9=VIP
            account; always approve
          enum:
          - 0 - No Action
          - ' '
          - 1 - Decline Auth
          - 2 - Decline Pickup
          - 3 - Decline Fraud
          - 4 - Decline Refer
          - 6 - Decline Susp Fraud
          - 8 - Decline User Exit 
          - 9 - Approve Tip
    UpdateCardLimitReq:
      type: object
      properties:
        maximumAuthorizationsFrequency:
          type: string
          example: '1'
          description: Maximum authorization frequency-Code that indicates the frequency for the maximumauthorization parameters The values are 0=Not used,1=Daily,2=Cycle-to-date,3=Year-to-date
          enum:
          - 0 - Frequency Not Used
          - 1 - Daily Frequency
          - 2 - Cycle To Date Frequency
          - 3 - Year To Date Frequency
        maximumAmountATMCashAuthorizationsAllowed:
          type: string
          example: '10000'
          description: Maximum amount ATM cash authorization-Maximum amount in monetary units and subunits of ATM cashauthorizations allowed for this Embosser record for thefrequency defined in the FREQ field
          default: 0.0
        maximumNumberATMCashAuthorizationsAllowed:
          type: number
          example: 1
          description: Maximum number ATM cash authorization-Maximum number of ATM cash authorizations allowed for thisEmbosser record for the frequency defined in the FREQ field
        maximumAmountSingleATMTransactionAllowed:
          type: string
          example: 10000
          description: Maximum amount SINGLE ATM Transaction-Maximum authorization amount in monetary units and subunitsof a single ATM transaction allowed for this Embosser recordfor the frequency defined in the FREQ field
          default: 0.0
        maximumNumberOTCAuthorizationsAllowed:
          type: number
          example: 1
          description: Maximum number OTC  authorization-Maximum number of OTC authorizations
            allowed for thisEmbosser record for the frequency defined in the FREQ
            field
        maximumAmountOTCCashAuthorizationsAllowed:
          type: string
          example: 2000
          description: Maximum amount OTC cash authorization-Maximum amount in monetary units and subunits of OTC cashauthorizations allowed for this Embosser record for thefrequency defined in the FREQ field
        singleOTCCashAuthorizationAllowed:
          type: string
          example: 10000
          description: Maximum Amount Single OTC cash authorization allowed-Maximum amount in monetary units and subunits of OTCauthorizations allowed for this Embosser record for thefrequency defined in the FREQ field
          default: 0.0
        maximumAmountRetailAuthorizationsAllowed:
          type: string
          example: 1000
          description: Maximum amount retail authorization-Maximum amount in monetary units and subunits of retailauthorizations allowed for this Embosser record for thefrequency defined in the FREQ field
          default: 0.0
        maximumNumberRetailAuthorizationsAllowed:
          type: number
          example: 1
          description: Maximum number retail authorization-Maximum number of retail authorizations allowed for thisEmbosser record for the frequency defined in the FREQ field
        singleRetailAuthorizationAllowed:
          type: string
          example: '0000'
          description: Maximum Amount Single retail authorization allowed- Maximum amount in monetary units and subunits of OTCauthorizations allowed for 'this Embosser record for thefrequency defined in the FREQ field.
          default: 0.0
          
    UpdateCardLimitResp:
      required:
      - businessUnit
      - cardNumber
      - cardSequence
      - postToAccountNumber
      type: object
      properties:
        businessUnit:
          type: number
          example: 100
          description: Identification number of the organization associated with thisAccount Base Segment record. The values are 001–998.
        cardSequence:
          type: number
          description: Card sequence- This a static value value 0001 should be passed
        maximumNumberRetailAuthorizationsAllowed:
          type: number
          example: 1
          description: Maximum number retail authorization-Maximum number of retail authorizations allowed for thisEmbosser record for the frequency defined in the FREQ field
        maximumAmountSingleATMTransactionAllowed:
          type: string
          example: '1000'
          description: Maximum amount SINGLE ATM Transaction-Maximum authorization amount in monetary units and subunitsof a single ATM transaction allowed for this Embosser recordfor the frequency defined in the FREQ field
          default: 0.0
        singleOTCCashAuthorizationAllowed:
          type: string
          example: '100'
          description: Maximum Amount Single OTC cash authorization allowed-Maximum amount in monetary units and subunits of OTCauthorizations allowed for this Embosser record for thefrequency defined in the FREQ field
          default: 0.0
        postToAccountNumber:
          maxLength: 19
          type: string
          example: '0001000CCCCCC510760'
          description: Identification number of the Account Base Segment record towhich CMS posts transactions received for this Embosser record
          format: uppercase
        maximumAmountATMCashAuthorizationsAllowed:
          type: string
          example: '100'
          description: Maximum amount ATM cash authorization-Maximum amount in monetary units and subunits of ATM cashauthorizations allowed for this Embosser record for thefrequency defined in the FREQ field
          default: 0.0
        maximumNumberOTCAuthorizationsAllowed:
          type: number
          example: 1
          description: Maximum number OTC  authorization-Maximum number of OTC authorizations
            allowed for thisEmbosser record for the frequency defined in the FREQ
            field
        maximumNumberATMCashAuthorizationsAllowed:
          type: number
          example: 1
          description: Maximum number ATM cash authorization-Maximum number of ATM cash authorizations allowed for thisEmbosser record for the frequency defined in the FREQ field
        singleRetailAuthorizationAllowed:
          type: string
          example: '0'
          description: Maximum Amount Single retail authorization allowed- Maximum amount in monetary units and subunits of OTCauthorizations allowed for 'this Embosser record for thefrequency defined in the FREQ field.
          default: 0.0
        maximumAmountRetailAuthorizationsAllowed:
          type: string
          example: '1000'
          description: Maximum amount retail authorization-Maximum amount in monetary units and subunits of retailauthorizations allowed for this Embosser record for thefrequency defined in the FREQ field
          default: 0.0
        maximumAuthorizationsFrequnecy:
          type: string
          example: '1'
          description: Maximum authorization frequency-Code that indicates the frequency for the maximumauthorization parameters The values are 0=Not used,1=Daily,2=Cycle-to-date,3=Year-to-date
          enum:
          - 0 - Frequency Not Used
          - 1 - Daily Frequency
          - 2 - Cycle To Date Frequency
          - 3 - Year To Date Frequency
        maximumAmountOTCCashAuthorizationsAllowed:
          type: string
          example: '2000'
          description: Maximum amount OTC cash authorization-Maximum amount in monetary units and subunits of OTC cashauthorizations allowed for this Embosser record for thefrequency defined in the FREQ field
        cardNumber:
          maxLength: 19
          type: string
          example: '00098468CCCCC273605'
          format: uppercase
          description: Token Number assigned to the cardholder embosser record. ""
    UpdateCardControlsReq:
      type: object
      properties:
        ecomActSW:
          description: ECOM Active switch - ECOM Active switch
          type: string
          enum:
          - 0
          - 1
          example: 0
        aTMFlag:
          description: ATM Flag - ATM Flag
          type: string
          enum:
          - "Y"
          - "N"
          - ' '
          example: ' '
        iNTATMPOSFlag:
          description: International ATM POS Flag - International ATM POS Flag
          type: string
          enum:
          - "Y"
          - "N"
          example: "Y"
        mOTOFlag:
          description: MOTO Flag - MOTO Flag
          type: string
          enum:
          - "Y"
          - "N"
          example: "Y"
        pOSFlag:
          description: POS Flag - POS Flag
          type: string
          enum:
          - "Y"
          - "N"
          - ' '
          example: ' '
        cashBackTranFlag:
          description: Cash Back Transaction Flag -  Cash Back Transaction Flag
          type: string
          enum:
          - "Y"
          - "N"
          example: "Y"
        pAYwaveFlag:
          description: Pay Wave Switch - Pay Wave Switch
          type: string
          enum:
          - "Y"
          - "N"
          example: "N"
    UpdateCardControlsResp:
      type: object
      properties:
        ecomActSW:
          description: ECOM Active switch - ECOM Active switch
          type: string
          enum:
          - 0
          - 1
          example: 0
        businessUnit:
          default: 0.0
          description: "Business Unit - Identification number associated with this\
            \ Account Base Segment record, the values are 001–998"
          type: number
          example: 600
        cardSequence:
          default: 0.0
          description: Card Sequence - Identification number assigned to an Embosser
            record to distinguish between multiple cards issued with the same card
            number
          type: number
          example: 1
        aTMFlag:
          description: ATM Flag - ATM Flag
          type: string
          enum:
          - "Y"
          - "N"
          - ' '
          example: ' '
        iNTATMPOSFlag:
          description: International ATM POS Flag - International ATM POS Flag
          type: string
          enum:
          - "Y"
          - "N"
          example: "Y"
        mOTOFlag:
          description: MOTO Flag - MOTO Flag
          type: string
          enum:
          - "Y"
          - "N"
          example: "Y"
        pOSFlag:
          description: POS Flag - POS Flag
          type: string
          enum:
          - "Y"
          - "N"
          - ' '
          example: ' '
        cashBackTranFlag:
          description: Cash Back Transaction Flag -  Cash Back Transaction Flag
          type: string
          enum:
          - "Y"
          - "N"
          example: "Y"
        postToAccountNumber:
          format: uppercase
          description: "Post To Account Number - Code that indicates whether the account\
            \ being added is a transaction (cardholder), billing, control, or diversion\
            \ account. This field displays only in add mode (ARAB) and is open to\
            \ input only"
          type: string
          maxLength: 19.0
          example: "0006000022000000076"
        cardNumber:
          format: uppercase
          description: Card Number - Number that is embossed on the plastic card.
            Enter a value in this field only if the card number is different from
            the post-to account number
          type: string
          maxLength: 19.0
          example: "0000000001000000115"
        pAYwaveFlag:
          description: Pay Wave Switch - Pay Wave Switch
          type: string
          enum:
          - "Y"
          - "N"
          example: "N"
    InquireCardDetailsResp:
      type: object
      properties:
        cardholderType:
          description: Cardholders Type - Code that indicates whether the cardholder
            is the primary cardholder or an additional cardholder associated with
            the account.
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: 0
        businessUnit:
          default: 0.0
          description: "Business Unit - Identification number associated with this\
            \ Account Base Segment record, the values are 001–998"
          type: number
          maxLength: 3
          example: 600
        blockSecurityID:
          format: uppercase
          description: Block Security ID - Operator ID of the person who applied Block
            Code on Card
          type: string
          maxLength: 3.0
          example: ' '
        lastCardExpirationDate:
          format: uppercase
          description: Last Card Expiration Date - Date on which the previously issued
            card expired
          type: string
          maxLength: 10
          example: 00/00/0000
        cardIssueDate:
          format: uppercase
          description: Card Issue Date - The date when the most recently issued card
            was produced
          type: string
          maxLength: 10
          example: 00/00/0000
        lastCardActivation:
          description: Last Card Activation - Indicates whether card activation needs
            to occur for the previously issued card
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "N"
        postalCode:
          format: uppercase
          description: Postal Code - Postal code of the mailing address for cards
            and PIN mailers
          type: string
          maxLength: 10.0
          example: ' '
        pinOverride:
          type: string
          enum:
          - 0
          - 1
          - 2
          - ' '
        typeOfCardRequested:
          default: 0.0
          description: Type of Card Requested - This field (REQ) is a user-defined
            code that identifies the type of card requested
          type: number
          example: 0
        secureCodeActiveForAccount:
          description: Secure Code Active for Account - Code that indicates whether
            the account number has had at least one fully authenticated MasterCard
            SecureCode transaction and is eligible for SecureCode.
          type: string
          maxLength: 1
          example: 0
        firstIssueBranch:
          default: 0.0
          description: First Issue Branch - Branch number that identifies the card
            mailing location for the issue of new cards when the branch delivery option
            is used
          type: number
          maxLength: 9
          example: 0
        singleOTCCashAuthorizationAllowed:
          default: 0.0
          description: Single OTC Cash Authorization Allowed - Maximum amount in monetary
            units and subunits of OTC authorizations allowed for this Embosser record
            for the frequency defined in the FREQ field
          type: string
          maxLength: 17
          example: $0.00
        spendingLimitPrepaymentAvailable:
          default: 0.0
          description: Spending Limit Prepayment Available - Current amount of the
            temporary increase in the spending limit for this cardholder as a result
            of a spending limit prepayment transaction
          type: string
          maxLength: 17
          example: $0.00
        maximumAmountRetailAuthorizationsAllowed:
          default: 0.0
          description: Maximum Amount Retail Auths allowed - Maximum amount in monetary
            units and subunits of retail authorizations allowed for this Embosser
            record for the frequency defined in the FREQ field
          type: string
          maxLength: 17
          example: "$1,000.00"
        addressLine1:
          format: uppercase
          description: Address Line 1 - Address used for mailing the card and PIN
            mailer
          type: string
          maxLength: 40.0
          example: ' '
        addressLine2:
          format: uppercase
          description: Address Line 2 - Address used for mailing the card and PIN
            mailer
          type: string
          maxLength: 40.0
          example: ' '
        currentChipSequenceNumber:
          default: 0.0
          description: Current Chip Sequence Number - Chip sequence number of the
            most recently issued card
          type: number
          example: 0
        mailerDate:
          format: uppercase
          description: Mailer Date - Date the current card was mailed to the cardholder
          type: string
          maxLength: 10
          example: 00/00/0000
        mobileProvisionStatus:
          type: string
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
        emblem:
          default: 0.0
          type: number
        cardReissueDeliveryOption:
          description: Card Reissue Delivery Option - Delivery option for reissued
            cards
          type: string
          enum:
          - 0-999
          maxLength: 3
          example: 0
        blockDate:
          format: uppercase
          description: Block Code Date - Date the Block Code was assigned
          type: string
          maxLength: 10
          example: 00/00/0000
        name1TypeIndicator:
          description: Name 1 Type Indicator  - Type of name for EMBOSSED NAME 1.
            This field displays only for prepaid cards
          type: string
          maxLength: 1
          example: 0
        cardholderName1:
          format: uppercase
          description: "Cardholders Name 1 - Name of the card-holder. If you leave\
            \ this field blank, CMS uses the name entered in EMBOSSED NAME 1. This\
            \ field is used when nprinting name and address information"
          type: string
          maxLength: 40.0
          example: ' '
        digitalId:
          format: uppercase
          type: string
          maxLength: 10.0
        cardholderName2:
          format: uppercase
          description: Cardholders Name2 - Name of the card-holder used for mailing
            the card and PIN mailers
          type: string
          maxLength: 40.0
          example: ' '
        name2TypeIndicator:
          description: Name 2 Type Indicator - Type of name for EMBOSSED NAME 2. This
            field displays only for prepaid cards
          type: string
          maxLength: 1
          example: 0
        maximumNumberRetailAuthorizationsAllowed:
          default: 0.0
          description: Maximum Number Retail Auths allowed - Maximum number of retail
            authorizations allowed for this Embosser record for the frequency defined
            in the FREQ field
          type: number
          maxLength: 9
          example: 999999999
        stateProvince:
          format: uppercase
          description: State / Province - State or province of the mailing address
            for cards and PIN mailers
          type: string
          maxLength: 3.0
          example: ' '
        maximumAmountSingleATMTransactionAllowed:
          default: 0.0
          description: Maximum Amount Single ATM Transaction Allowed - Maximum authorization
            amount in monetary units and subunits of a single ATM transaction allowed
            for this Embosser record for the frequency defined in the FREQ field
          type: string
          maxLength: 17
          example: "$2,000.00"
        cardReissueDeliveryLocation:
          default: 0.0
          description: Card Reissue Delivery Location - Branch number that identifies
            the card mailing location for all reissued cards (all card actions except
            1) when the branch delivery option is used
          type: number
          maxLength: 9
          example: 0
        maximumAmountATMCashAuthorizationsAllowed:
          default: 0.0
          description: Maximum Amount ATM Cash Authorizations Allowed - Maximum amount
            in monetary units and subunits of ATM cash authorizations allowed for
            this Embosser record for the frequency defined in the FREQ field.
          type: string
          maxLength: 17
          example: "$1,000.00"
        warningBulletinDistributionRegion:
          format: uppercase
          description: Warning Bulletin Distribution Region - Code that identifies
            regions for distribution of the Recovery Card List or the Card Recovery
            Bulletin
          type: string
          maxLength: 9.0
          example: ' '
        maximumNumberATMCashAuthorizationsAllowed:
          default: 0.0
          description: Maximum Number ATM Cash Authorizations Allowed - Maximum number
            of ATM cash authorizations allowed for this Embosser record for the frequency
            defined in the FREQ field
          type: number
          maxLength: 9
          example: 999999999
        mobileDeviceID:
          format: uppercase
          type: string
          maxLength: 20.0
        languageIndicator:
          format: uppercase
          description: Language Indicator - User-defined code to indicate the language
            spoken by the cardholder
          type: string
          maxLength: 3.0
          example: ' '
        vISAPlusIndicator:
          description: "VISA Plus Indicator - Code that indicates whether the PLUS,\
            \ Cirrus, or Maestro symbol is displayed on the card"
          type: string
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          maxLength: 1
          example: 0
        embosserRecordStatus:
          description: Status - Status of Embosser record
          type: string
          maxLength: 1
          example: 0
        maximumAuthorizationsFrequnecy:
          description: "Maximum Authorizations Frequency - Code that indicates the\
            \ frequency for the maximum authorization parameters. This frequency code\
            \ applies to the RETAIL PURCH AMT through TXN LIMIT RETAIL fields, inclusive"
          type: string
          enum:
          - 0
          - 1
          - 2
          - 3
          maxLength: 1
          example: 1
        authorizationCriteriaTableIDNumber:
          format: uppercase
          description: Authorization Criteria Table ID Number - Identification number
            of the Authorization Criteria table assigned to the Embosser record
          type: string
          maxLength: 3.0
          example: ' '
        maximumAmountOTCCashAuthorizationsAllowed:
          default: 0.0
          description: Maximum Amount OTC Cash Authorizations Allowed - Maximum amount
            in monetary units and subunits of OTC cash authorizations allowed for
            this Embosser record for the frequency defined in the FREQ field
          type: string
          maxLength: 17
          example: "$1,000.00"
        cardDelayDays:
          default: 0.0
          type: number
        cardNumber:
          format: uppercase
          description: Card Number - Number that is embossed on the plastic card.
            Enter a value in this field only if the card number is different from
            the post-to account number
          type: string
          maxLength: 19.0
          example: "0009544410000000062"
        statusDateChange:
          format: uppercase
          description: Status Change Date - Date on which the status was last changed
          type: string
          maxLength: 10
          example: 00/00/0000
        transferEffectiveDate:
          format: uppercase
          description: Fraud Transfer Date - Date that a fraud card transfer for this
            embosser is effective
          type: string
          maxLength: 10
          example: 00/00/0000
        spendingLimitPrepaymentAmount:
          default: 0.0
          description: Spending Limit Prepayment Amount - Amount of the spending limit
            prepayment transaction that resulted in a temporary increase in the spending
            limit for this cardholder
          type: string
          maxLength: 17
          example: $0.00
        city:
          format: uppercase
          description: City - City portion of the mailing address for cards and PIN
            mailers
          type: string
          maxLength: 30.0
          example: ' '
        spendingCategoryStatistics:
          type: array
          items:
            type: object
            properties:
              spendingCategoryNumberWTD1:
                default: 0.0
                type: number
                description: Spending Category Number WTD - Total number of authorizations
                  for the spending category for this card week-to-date  (Sunday through
                  Saturday)
                maxLength: 9
                example: 999999999
              spendingCategoryNumberLTD1:
                default: 0.0
                type: number
                description: Spending Category Number LTD - Total number of authorizations
                  for the spending category for this card life-to-date
                maxLength: 9
                example: 999999999
              spendingCategoryAmountToday1:
                default: 0.0
                type: number
                description: Spending Category Amount Today - Total amount of authorizations
                  for the spending category for this card today
                maxLength: 17
                example: "$1,000.00"
              spendingCategoryNumberToday1:
                default: 0.0
                type: number
                description: Spending Category Number Today - Total number of authorizations
                  for the spending category for this card today
                maxLength: 9
                example: 999999999
              spendingCategoryNumberCTD1:
                default: 0.0
                type: number
                description: Spending Category Number CTD - Total number of authorizations
                  for the spending category for this card cycle-to-date
                maxLength: 9
                example: 999999999
              spendingCategoryAmountCTD1:
                default: 0.0
                type: string
                description: Spending Category Amount CTD - Total amount of authorizations
                  for the spending category for this card cycle-to-date
                maxLength: 17
                example: "$1,000.00"
              spendingCategoryAmountYTD1:
                default: 0.0
                type: string
                description: Spending Category Amount YTD - Total amount of authorizations
                  for the spending category for this card year-to-date
                maxLength: 17
                example: "$1,000.00"
              spendingCategoryAmountLTD1:
                default: 0.0
                type: string
                description: Spending Category Amount LTD - Total amount of authorizations
                  for the spending category for this card life-to-date
                maxLength: 17
                example: "$1,000.00"
              spendingCategoryNumberYTD1:
                default: 0.0
                type: number
                description: Spending Category Number YTD - Total number of authorizations
                  for the spending category for this card year-to-date
                maxLength: 9
                example: 999999999
              spendingCategoryAmountWTD1:
                default: 0.0
                type: string
                description: Spending Category Amount WTD - Total amount of authorizations
                  for the spending category for this card week-to-date (Sunday through
                  Saturday)
                maxLength: 17
                example: "$1,000.00"
        dateCurrentCardValid:
          format: uppercase
          type: string
        pOSServiceCode:
          format: uppercase
          description: POS Service Code - Code that indicates the type of point-of-sale
            service in effect for a card.
          type: string
          maxLength: 3.0
          example: ' '
        maximumNumberOTCAuthorizationsAllowed:
          default: 0.0
          description: Maximum Number OTC Cash Authorizations Allowed - Maximum number
            of OTC authorizations allowed for this Embosser record for the frequency
            defined in the FREQ field
          type: number
          maxLength: 9
          example: 999999999
        currentCardNeedActivation:
          description: Current Card Needs Activation - Indicates whether card activation
            needs to occur for the most recently issued card
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "N"
        nameOnCard:
          format: uppercase
          description: Name on Card - Name to be embossed on the first embossing line
            of the card. Enter the name exactly as it is to appear on the card
          type: string
          maxLength: 26.0
          example: DAVID TEST 2
        nameOn2ndLine:
          format: uppercase
          description: Name on 2nd Card - Type of name for EMBOSSED NAME 2. This field
            displays only for prepaid cards
          type: string
          maxLength: 26.0
          example: ' '
        secureIDStatusChanged:
          format: uppercase
          description: Secure ID Status Changed - operator ID of the person who changed
            the status
          type: string
          maxLength: 3.0
          example: C1X
        spendingLimitPrepaymentExpiryDate:
          format: uppercase
          description: Spending Limit Prepayment Amount - Date on which the temporary
            increase in the spending limit expires for this cardholder
          type: string
          maxLength: 10
          example: 00/00/0000
        fraudCardTransferNumber:
          format: uppercase
          description: Fraud Card Transfer Number - Number of the Embosser record
            replacement associated with a fraud card transfer
          type: string
          maxLength: 19.0
          example: ' '
        vISAMiniCardVersion:
          description: VISA Mini Card Version - Code that indicates the version of
            Visa Mini card
          type: string
          enum:
          - 0
          - 1
          - 2
          maxLength: 1
          example: 0
        cardsReturnedForEmbosser:
          default: 0.0
          description: Cards Returned for Embosser  - Number of cards that were returned
            for the current day
          type: number
          example: 0
        reasonCode:
          format: uppercase
          type: string
          maxLength: 1.0
        issuingAttemptsRemaining:
          default: 0.0
          description: Reissue Attempts - Number of issue or reissue attempts remaining
            for this card
          type: number
          maxLength: 3
          example: 0
        cardActivatedDate:
          format: uppercase
          description: Card Activated Date - Date on which the card is activated
          type: string
          maxLength: 10
          example: 19/08/2021
        expirationDate:
          format: uppercase
          description: Expiration Date - Date on which the most recently issued card
            expires
          type: string
          maxLength: 10
          example: 16/08/2024
        pINOffset:
          default: 0.0
          description: PIN Offset - Current PIN offset of the card
          type: number
          maxLength: 1
          example: 0
        userdefinedField5:
          format: uppercase
          description: User-defined Field 5 - User-defined code for this Embosser
            record. You can change the field name in the Logo record (EMB CODES 5
            on ARML23)
          type: string
          maxLength: 1.0
          example: ' '
        userdefinedField4:
          default: 0.0
          description: User-defined Field 4 - User-defined code or description for
            this Embosser record. You can change the field name in the Logo record
            (EMB CODES 3–4 on ARML23)
          type: number
          maxLength: 4
          example: 0
        product:
          default: 0.0
          type: number
        blockCode:
          format: uppercase
          description: Block Code -  Block Code assigned to the cardholder
          type: string
          maxLength: 1
          example: ' '
        numberOfCardsOutstanding:
          default: 0.0
          description: Number of Cards Outstanding - Number of cards currently outstanding
            for this embosser
          type: number
          example: 1
        typeOfCard:
          default: 0.0
          description: Type of Card - This field (CARD) is a user-defined code that
            indicates the type of plastic stock
          type: number
          example: 0
        previousPINOffset:
          default: 0.0
          description: Previous PIN Offset - Previous PIN offset of the card
          type: number
          example: 0
        authorizationSpendingLimits:
          type: array
          items:
            type: object
            properties:
              frequency1:
                type: string
                description: Frequency - Code that indicates the frequency for commercial
                  card spending limits
                maxLength: 1
                example: 0
              number1:
                default: 0.0
                type: number
                description: "Number - Number of transactions allowed for the frequency\
                  \ defined in the FREQ field. If this field is zero, the number of\
                  \ transactions is unlimited"
                maxLength: 9
                example: 5
              maximum1:
                default: 0.0
                type: number
                description: Maximum - Spending limit in monetary units and subunits
                  for each commercial card spending category
                maxLength: 17
                example: $0.00
        customersGender:
          type: string
          enum:
          - 0
          - 1
          - 2
        warningCode7:
          description: "Warning Code 2 - Warning codes 7, which determine whether\
            \ to authorize or decline authorizations for this Embosser record (card),\
[...]
