openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.0.0
servers:
- url: https://stg34.visionplus.io:24500/fva_apac
tags:
- name: Card Management
paths:
  /v1/cards/{cardNumber}/controls:
    put:
      tags:
      - Card Management
      summary: Update Card Controls
      description: This service updates the card controls for a given card number
      operationId: UpdateCardControls
      x-group-name: Card Management
      x-proxy-name: Update Card Controls
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: "Business Unit - Identification number associated with this Account\
          \ Base Segment record, the values are 001–998"
        required: true
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 600
      - name: cardNumber
        in: path
        description: Card Number - Number that is embossed on the plastic card. Enter
          a value in this field only if the card number is different from the post-to
          account number
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19
          example: 0000000001000000115
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardControlsReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCardControlsResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/cards/{cardNumber}/activate:
    put:
      tags:
      - Card Management
      summary: Activate Card
      description: This service is used to activate the card after successful verification
        of the cardholder.
      operationId: ActivateCard
      x-group-name: Card Management
      x-proxy-name: Activate Card
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: Business Unit - Identification number associated with this Account
          Base Segment record
        schema:
          default: 0.0
          type: number
          example: 100
      - name: cardNumber
        in: path
        description: Card Number - Token Number assigned to the cardholder embosser
          record.
        required: true
        schema:
          type: string
          maxLength: 19.0
          example: 0009846801010273613
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivateCardReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivateCardResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/cards/{cardNumber}/pinBlockChange:
    put:
      tags:
      - Card Management
      summary: Change PIN
      description: The PIN Block Change Service is used to update the PIN Block with
        the prerequisite that the existing PIN block must be supplied and validated.
      operationId: CardPinBlock
      x-group-name: Card Management
      x-proxy-name: 'Change PIN '
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: "Identification number of the organization associated with thisAccount\
          \ Base Segment record,The values are 001–998"
        required: true
        schema:
          default: 0.0
          maximum: 998.0
          type: number
          minimum: 0.0
          example: 600
      - name: cardNumber
        in: path
        description: Number that is embossed on the plastic card.
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19.0
          example: 0009544401000009153
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardPinBlockReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardPinBlockResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/cards/{cardNumber}/controlDetails:
    get:
      tags:
      - Card Management
      summary: Inquire Card Controls
      description: This service fetches the card controls for a given card number
      operationId: InquireCardControls
      x-group-name: Card Management
      x-proxy-name: Inquire Card Controls
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: "Business Unit - Identification number associated with this Account\
          \ Base Segment record, the values are 001–998"
        required: true
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 600
      - name: cardNumber
        in: path
        description: Card Number - Number that is embossed on the plastic card. Enter
          a value in this field only if the card number is different from the post-to
          account number
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19
          example: 0009544410000000062
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireCardControlsResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/cards/{cardNumber}/details:
    get:
      tags:
      - Card Management
      summary: Inquire Card
      description: This service is used to fetch card details
      operationId: InquireCardDetails
      x-group-name: Card Management
      x-proxy-name: Inquire Card
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: "Business Unit - Identification number associated with this Account\
          \ Base Segment record, the values are 001–998"
        required: true
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 600
      - name: cardNumber
        in: path
        description: Card Number - Number that is embossed on the plastic card. Enter
          a value in this field only if the card number is different from the post-to
          account number
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19.0
          example: 0009544410000000062
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InquireCardDetailsResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/cards/{cardNumber}/validateCVV2:
    post:
      tags:
      - Card Management
      summary: Validate CVV2
      description: The Card Secure Code Validation service is used to validate the
        CVV2 and optionally the expiry date of a given card. This service is typically
        called before the card activation or PIN reset service to validate the cardholder.
      operationId: cardSecureCode
      x-group-name: Card Management
      x-proxy-name: Validate CVV2
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: "Business Unit - Identification number associated with this Account\
          \ Base Segment record, the values are 001–998"
        required: true
        schema:
          default: 0.0
          maximum: 999.0
          type: number
          minimum: 0.0
          example: 100
      - name: cardNumber
        in: path
        description: Token Number assigned to the cardholder embosser record.
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19.0
          example: 0009846801010065787
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cardSecureCodeReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cardSecureCodeResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/cards/{cardNumber}/cardType:
    put:
      tags:
      - Card Management
      summary: Update Card Type
      description: This service is used to update the type of cardholder between primary
        and supplementary (Joint Cardholder).
      operationId: CardTypeUpdate
      x-group-name: Card Management
      x-proxy-name: Update Card Type
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: Business Unit - Identification number associated with this Account
          Base Segment record
        schema:
          default: 0.0
          type: number
          example: 600
      - name: cardNumber
        in: path
        description: Card Number - Token Number assigned to the cardholder embosser
          record.
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19.0
          example: 0009846801010273613
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardTypeUpdateReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardTypeUpdateResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/cards/{cardNumber}/clearPan:
    get:
      tags:
      - Card Management
      summary: Fetch Clear PAN from Token
      description: This service is inquire on the different balances on the account.
      operationId: FetchClearPan
      x-group-name: Card Management
      x-proxy-name: Fetch Clear PAN from Token
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: "Business Unit - Identification number associated with this Account\
          \ Base Segment record, the values are 001–998"
        schema:
          default: 0.0
          maximum: 998.0
          type: number
          minimum: 0.0
          example: 100
      - name: cardNumber
        in: path
        description: Number that is embossed on the plastic card.
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19.0
          example: 0009846801010273605
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FetchClearPanResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/cards/{cardNumber}/spendLimits:
    put:
      tags:
      - Card Management
      summary: Update Spend Limits
      description: This service is used to update the spending limits to control the
        card usage. These limits are set at individual card level.
      operationId: SpendLimitUpdate
      x-group-name: Card Management
      x-proxy-name: Spend Limit Updates
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: Business Unit - Identification number associated with this Account
          Base Segment record
        schema:
          default: 0.0
          type: number
          example: 100
      - name: cardNumber
        in: path
        description: Card Number - Token Number assigned to the cardholder embosser
          record.
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19.0
          example: 0009846801010000001
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpendLimitUpdateReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendLimitUpdateResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/cards/{cardNumber}/transfer:
    put:
      tags:
      - Card Management
      summary: Transfer Lost Stolen Card
      description: This Lost or Stolen service is used to block the lost card and
        request for the replacement card.
      operationId: LostStolenCardTransfer
      x-group-name: Card Management
      x-proxy-name: Lost Stolen Card Transfer
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: Business Unit - Identification number associated with this Account
          Base Segment record
        schema:
          default: 0.0
          maximum: 999.0
          type: number
          minimum: 0.0
          example: 100
      - name: cardNumber
        in: path
        description: Card Number - Token Number assigned to the card-holder embosser
          record.
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19.0
          example: 0009846801010001345
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LostStolenCardTransferReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LostStolenCardTransferResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/cards/{cardNumber}/blockUnblock:
    put:
      tags:
      - Card Management
      summary: Block-Unblock Card
      description: This service is used to update the block codes and the reason codes
        for the block codes for cards and accounts. Same service can be used to unblock
        the card by passing spaces in the block-code field of the request body.
      operationId: BlockUnblockCard
      x-group-name: Card Management
      x-proxy-name: Block Unblock Card
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: Business Unit - Identification number associated with this Account
          Base Segment record
        schema:
          default: 0.0
          type: number
          example: 100
      - name: cardNumber
        in: path
        description: Card Number - Token Number assigned to the cardholder embosser
          record.
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19.0
          example: 0009846801010273605
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockUnblockCardReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockUnblockCardResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
components:
  schemas:
    FetchClearPanResp:
      type: object
      properties:
        cardNumber:
          format: uppercase
          description: Clear Pan - 19 digit Clear card number
          type: string
          example: 0009846801010273605
    InquireCardControlsResp:
      type: object
      properties:
        businessUnit:
          default: 0.0
          description: "Business Unit - Identification number associated with this\
            \ Account Base Segment record, the values are 001–998"
          type: number
          maxLength: 3
          example: 600
        cardSequence:
          default: 0.0
          description: Card Sequence - Identification number assigned to an Embosser
            record to distinguish between multiple cards issued with the same card
            number
          type: number
          maxLength: 4
          example: 1
        maximumNumberRetailAuthorizationsAllowed:
          default: 0.0
          description: Maximum Number Retail Auths allowed - Maximum number of retail
            authorizations allowed for this Embosser record for the frequency defined
            in the FREQ field
          type: number
          maxLength: 9
          example: 999999999
        maximumAmountSingleATMTransactionAllowed:
          default: 0.0
          description: Maximum Amount Single ATM Transaction Allowed - Maximum authorization
            amount in monetary units and subunits of a single ATM transaction allowed
            for this Embosser record for the frequency defined in the FREQ field
          type: string
          maxLength: 17
          example: "$2,000.00"
        singleOTCCashAuthorizationAllowed:
          default: 0.0
          description: Single OTC Cash Authorization Allowed - Maximum amount in monetary
            units and subunits of OTC authorizations allowed for this Embosser record
            for the frequency defined in the FREQ field
          type: string
          maxLength: 17
          example: $0.00
        postToAccountNumber:
          format: uppercase
          description: "Post To Account Number - Code that indicates whether the account\
            \ being added is a transaction (cardholder), billing, control, or diversion\
            \ account. This field displays only in add mode (ARAB) and is open to\
            \ input only"
          type: string
          maxLength: 19
          example: 0006000022000000076
        maximumAmountATMCashAuthorizationsAllowed:
          default: 0.0
          description: Maximum Amount ATM Cash Authorizations Allowed - Maximum amount
            in monetary units and subunits of ATM cash authorizations allowed for
            this Embosser record for the frequency defined in the FREQ field.
          type: string
          maxLength: 17
          example: "$1,000.00"
        maximumNumberOTCAuthorizationsAllowed:
          default: 0.0
          description: Maximum Number OTC Cash Authorizations Allowed - Maximum number
            of OTC authorizations allowed for this Embosser record for the frequency
            defined in the FREQ field
          type: number
          maxLength: 9
          example: 999999999
        maximumNumberATMCashAuthorizationsAllowed:
          default: 0.0
          description: Maximum Number ATM Cash Authorizations Allowed - Maximum number
            of ATM cash authorizations allowed for this Embosser record for the frequency
            defined in the FREQ field
          type: number
          maxLength: 9
          example: 999999999
        singleRetailAuthorizationAllowed:
          default: 0.0
          description: Single Retail Authorization Allowed - Maximum amount in monetary
            units and subunits of retail authorizations allowed for this Embosser
            record for the frequency defined in the FREQ field
          type: string
          maxLength: 17
          example: "$999,999,999,999,999.99"
        maximumAmountRetailAuthorizationsAllowed:
          default: 0.0
          description: Maximum Amount Retail Auths allowed - Maximum amount in monetary
            units and subunits of retail authorizations allowed for this Embosser
            record for the frequency defined in the FREQ field
          type: string
          maxLength: 17
          example: "$1,000.00"
        maximumAuthorizationsFrequnecy:
          description: "Maximum Authorizations Frequency - Code that indicates the\
            \ frequency for the maximum authorization parameters. This frequency code\
            \ applies to the RETAIL PURCH AMT through TXN LIMIT RETAIL fields, inclusive"
          type: string
          enum:
          - 0
          - 1
          - 2
          - 3
          maxLength: 1
          example: 1
        maximumAmountOTCCashAuthorizationsAllowed:
          default: 0.0
          description: Maximum Amount OTC Cash Authorizations Allowed - Maximum amount
            in monetary units and subunits of OTC cash authorizations allowed for
            this Embosser record for the frequency defined in the FREQ field
          type: string
          maxLength: 17
          example: "$1,000.00"
        cardNumber:
          format: uppercase
          description: Card Number - Number that is embossed on the plastic card.
            Enter a value in this field only if the card number is different from
            the post-to account number
          type: string
          maxLength: 19
          example: 0009544410000000062
    CardPinBlockReq:
      type: object
      properties:
        userFiller:
          description: User filler-This is filler used for future purpose
          type: string
          example: ' '
        product:
          default: 0.0
          maximum: 999.0
          description: Product - Product associated with this Account. The values
            are 001–998
          type: number
          minimum: 0.0
          example: 1
        signonName:
          description: Signon name- valid signin name should be provided
          type: string
          example: ' '
        requestedPinBlock:
          format: uppercase
          description: "Requested pin block(New pin block)-The new pin block should\
            \ be provided, This will be new pin Enter by customer"
          type: string
          maxLength: 16.0
          example: 123456
        pinChannel:
          description: "Pin channel-This field will identifiy the channel through\
            \ which The request has been ititialted The valid values are A-ATM,I-IVR,\
            \ W-WEB"
          type: string
          enum:
          - A
          - I
          - W
          example: A
        securitySignon:
          description: Security signon-valid signon id should be provided
          type: string
          example: ' '
        currentPinBlock:
          format: uppercase
          description: "Requested pin block(New pin block)-The new pin block should\
            \ be provided, This will be new pin Enter by customer"
          type: string
          maxLength: 16.0
          example: ' '
        keyAssociation:
          format: uppercase
          description: "Key association-The value will be used to read the keys stored\
            \ in KMS files,from input we always recive spaces"
          type: string
          maxLength: 3.0
          example: ' '
        vgsFiller:
          description: Vgs filler- This is filler used for future purpose
          type: string
          example: ' '
        pinOffset:
          default: 0.0
          maximum: 9999.0
          description: "Current pin Offset( Old Pin Offset)- The old pin block should\
            \ be provided, This will be old pin Enter by customer"
          type: number
          minimum: 0.0
          example: 0
    cardSecureCodeReq:
      type: object
      properties:
        cVV2:
          format: uppercase
          description: Token Number assigned to the cardholder embosser record.
          type: string
          maxLength: 3.0
          example: 9.846801010065788E15
        expiryDateMMYY:
          format: uppercase
          description: Expire Date-valid card expire date should be provided which
            is of 4 character with MMYY format
          type: string
          maxLength: 4.0
          example: 1123
        signonName:
          type: string
        securitySignon:
          type: string
    InquireCardDetailsResp:
      type: object
      properties:
        cardholderType:
          description: Cardholders Type - Code that indicates whether the cardholder
            is the primary cardholder or an additional cardholder associated with
            the account.
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: 0
        businessUnit:
          default: 0.0
          description: "Business Unit - Identification number associated with this\
            \ Account Base Segment record, the values are 001–998"
          type: number
          maxLength: 3
          example: 600
        blockSecurityID:
          format: uppercase
          description: Block Security ID - Operator ID of the person who applied Block
            Code on Card
          type: string
          maxLength: 3.0
          example: ' '
        lastCardExpirationDate:
          format: uppercase
          description: Last Card Expiration Date - Date on which the previously issued
            card expired
          type: string
          maxLength: 10
          example: 00/00/0000
        cardIssueDate:
          format: uppercase
          description: Card Issue Date - The date when the most recently issued card
            was produced
          type: string
          maxLength: 10
          example: 00/00/0000
        lastCardActivation:
          description: Last Card Activation - Indicates whether card activation needs
            to occur for the previously issued card
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "N"
        postalCode:
          format: uppercase
          description: Postal Code - Postal code of the mailing address for cards
            and PIN mailers
          type: string
          maxLength: 10.0
          example: ' '
        pinOverride:
          type: string
          enum:
          - 0
          - 1
          - 2
          - ' '
        typeOfCardRequested:
          default: 0.0
          description: Type of Card Requested - This field (REQ) is a user-defined
            code that identifies the type of card requested
          type: number
          example: 0
        secureCodeActiveForAccount:
          description: Secure Code Active for Account - Code that indicates whether
            the account number has had at least one fully authenticated MasterCard
            SecureCode transaction and is eligible for SecureCode.
          type: string
          maxLength: 1
          example: 0
        firstIssueBranch:
          default: 0.0
          description: First Issue Branch - Branch number that identifies the card
            mailing location for the issue of new cards when the branch delivery option
            is used
          type: number
          maxLength: 9
          example: 0
        singleOTCCashAuthorizationAllowed:
          default: 0.0
          description: Single OTC Cash Authorization Allowed - Maximum amount in monetary
            units and subunits of OTC authorizations allowed for this Embosser record
            for the frequency defined in the FREQ field
          type: string
          maxLength: 17
          example: $0.00
        spendingLimitPrepaymentAvailable:
          default: 0.0
          description: Spending Limit Prepayment Available - Current amount of the
            temporary increase in the spending limit for this cardholder as a result
            of a spending limit prepayment transaction
          type: string
          maxLength: 17
          example: $0.00
        maximumAmountRetailAuthorizationsAllowed:
          default: 0.0
          description: Maximum Amount Retail Auths allowed - Maximum amount in monetary
            units and subunits of retail authorizations allowed for this Embosser
            record for the frequency defined in the FREQ field
          type: string
          maxLength: 17
          example: "$1,000.00"
        addressLine1:
          format: uppercase
          description: Address Line 1 - Address used for mailing the card and PIN
            mailer
          type: string
          maxLength: 40.0
          example: ' '
        addressLine2:
          format: uppercase
          description: Address Line 2 - Address used for mailing the card and PIN
            mailer
          type: string
          maxLength: 40.0
          example: ' '
        currentChipSequenceNumber:
          default: 0.0
          description: Current Chip Sequence Number - Chip sequence number of the
            most recently issued card
          type: number
          example: 0
        mailerDate:
          format: uppercase
          description: Mailer Date - Date the current card was mailed to the cardholder
          type: string
          maxLength: 10
          example: 00/00/0000
        mobileProvisionStatus:
          type: string
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
        emblem:
          default: 0.0
          type: number
        cardReissueDeliveryOption:
          description: Card Reissue Delivery Option - Delivery option for reissued
            cards
          type: string
          enum:
          - 0-999
          maxLength: 3
          example: 0
        blockDate:
          format: uppercase
          description: Block Code Date - Date the Block Code was assigned
          type: string
          maxLength: 10
          example: 00/00/0000
        name1TypeIndicator:
          description: Name 1 Type Indicator  - Type of name for EMBOSSED NAME 1.
            This field displays only for prepaid cards
          type: string
          maxLength: 1
          example: 0
        cardholderName1:
          format: uppercase
          description: "Cardholders Name 1 - Name of the card-holder. If you leave\
            \ this field blank, CMS uses the name entered in EMBOSSED NAME 1. This\
            \ field is used when nprinting name and address information"
          type: string
          maxLength: 40.0
          example: ' '
        digitalId:
          format: uppercase
          type: string
          maxLength: 10.0
        cardholderName2:
          format: uppercase
          description: Cardholders Name2 - Name of the card-holder used for mailing
            the card and PIN mailers
          type: string
          maxLength: 40.0
          example: ' '
        name2TypeIndicator:
          description: Name 2 Type Indicator - Type of name for EMBOSSED NAME 2. This
            field displays only for prepaid cards
          type: string
          maxLength: 1
          example: 0
        maximumNumberRetailAuthorizationsAllowed:
          default: 0.0
          description: Maximum Number Retail Auths allowed - Maximum number of retail
            authorizations allowed for this Embosser record for the frequency defined
            in the FREQ field
          type: number
          maxLength: 9
          example: 999999999
        stateProvince:
          format: uppercase
          description: State / Province - State or province of the mailing address
            for cards and PIN mailers
          type: string
          maxLength: 3.0
          example: ' '
        maximumAmountSingleATMTransactionAllowed:
          default: 0.0
          description: Maximum Amount Single ATM Transaction Allowed - Maximum authorization
            amount in monetary units and subunits of a single ATM transaction allowed
            for this Embosser record for the frequency defined in the FREQ field
          type: string
          maxLength: 17
          example: "$2,000.00"
        cardReissueDeliveryLocation:
          default: 0.0
          description: Card Reissue Delivery Location - Branch number that identifies
            the card mailing location for all reissued cards (all card actions except
            1) when the branch delivery option is used
          type: number
          maxLength: 9
          example: 0
        maximumAmountATMCashAuthorizationsAllowed:
          default: 0.0
          description: Maximum Amount ATM Cash Authorizations Allowed - Maximum amount
            in monetary units and subunits of ATM cash authorizations allowed for
            this Embosser record for the frequency defined in the FREQ field.
          type: string
          maxLength: 17
          example: "$1,000.00"
        warningBulletinDistributionRegion:
          format: uppercase
          description: Warning Bulletin Distribution Region - Code that identifies
            regions for distribution of the Recovery Card List or the Card Recovery
            Bulletin
          type: string
          maxLength: 9.0
          example: ' '
        maximumNumberATMCashAuthorizationsAllowed:
          default: 0.0
          description: Maximum Number ATM Cash Authorizations Allowed - Maximum number
            of ATM cash authorizations allowed for this Embosser record for the frequency
            defined in the FREQ field
          type: number
          maxLength: 9
          example: 999999999
        mobileDeviceID:
          format: uppercase
          type: string
          maxLength: 20.0
        languageIndicator:
          format: uppercase
          description: Language Indicator - User-defined code to indicate the language
            spoken by the cardholder
          type: string
          maxLength: 3.0
          example: ' '
        vISAPlusIndicator:
          description: "VISA Plus Indicator - Code that indicates whether the PLUS,\
            \ Cirrus, or Maestro symbol is displayed on the card"
          type: string
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          maxLength: 1
          example: 0
        embosserRecordStatus:
          description: Status - Status of Embosser record
          type: string
          maxLength: 1
          example: 0
        maximumAuthorizationsFrequnecy:
          description: "Maximum Authorizations Frequency - Code that indicates the\
            \ frequency for the maximum authorization parameters. This frequency code\
            \ applies to the RETAIL PURCH AMT through TXN LIMIT RETAIL fields, inclusive"
          type: string
          enum:
          - 0
          - 1
          - 2
          - 3
          maxLength: 1
          example: 1
        authorizationCriteriaTableIDNumber:
          format: uppercase
          description: Authorization Criteria Table ID Number - Identification number
            of the Authorization Criteria table assigned to the Embosser record
          type: string
          maxLength: 3.0
          example: ' '
        maximumAmountOTCCashAuthorizationsAllowed:
          default: 0.0
          description: Maximum Amount OTC Cash Authorizations Allowed - Maximum amount
            in monetary units and subunits of OTC cash authorizations allowed for
            this Embosser record for the frequency defined in the FREQ field
          type: string
          maxLength: 17
          example: "$1,000.00"
        cardDelayDays:
          default: 0.0
          type: number
        cardNumber:
          format: uppercase
          description: Card Number - Number that is embossed on the plastic card.
            Enter a value in this field only if the card number is different from
            the post-to account number
          type: string
          maxLength: 19.0
          example: 0009544410000000062
        statusDateChange:
          format: uppercase
          description: Status Change Date - Date on which the status was last changed
          type: string
          maxLength: 10
          example: 00/00/0000
        transferEffectiveDate:
          format: uppercase
          description: Fraud Transfer Date - Date that a fraud card transfer for this
            embosser is effective
          type: string
          maxLength: 10
          example: 00/00/0000
        spendingLimitPrepaymentAmount:
          default: 0.0
          description: Spending Limit Prepayment Amount - Amount of the spending limit
            prepayment transaction that resulted in a temporary increase in the spending
            limit for this cardholder
          type: string
          maxLength: 17
          example: $0.00
        city:
          format: uppercase
          description: City - City portion of the mailing address for cards and PIN
            mailers
          type: string
          maxLength: 30.0
          example: ' '
        spendingCategoryStatistics:
          type: array
          items:
            type: object
            properties:
              spendingCategoryNumberWTD1:
                default: 0.0
                type: number
                description: Spending Category Number WTD - Total number of authorizations
                  for the spending category for this card week-to-date  (Sunday through
                  Saturday)
                maxLength: 9
                example: 999999999
              spendingCategoryNumberLTD1:
                default: 0.0
                type: number
                description: Spending Category Number LTD - Total number of authorizations
                  for the spending category for this card life-to-date
                maxLength: 9
                example: 999999999
              spendingCategoryAmountToday1:
                default: 0.0
                type: number
                description: Spending Category Amount Today - Total amount of authorizations
                  for the spending category for this card today
                maxLength: 17
                example: "$1,000.00"
              spendingCategoryNumberToday1:
                default: 0.0
                type: number
                description: Spending Category Number Today - Total number of authorizations
                  for the spending category for this card today
                maxLength: 9
                example: 999999999
              spendingCategoryNumberCTD1:
                default: 0.0
                type: number
                description: Spending Category Number CTD - Total number of authorizations
                  for the spending category for this card cycle-to-date
                maxLength: 9
                example: 999999999
              spendingCategoryAmountCTD1:
                default: 0.0
                type: string
                description: Spending Category Amount CTD - Total amount of authorizations
                  for the spending category for this card cycle-to-date
                maxLength: 17
                example: "$1,000.00"
              spendingCategoryAmountYTD1:
                default: 0.0
                type: string
                description: Spending Category Amount YTD - Total amount of authorizations
                  for the spending category for this card year-to-date
                maxLength: 17
                example: "$1,000.00"
              spendingCategoryAmountLTD1:
                default: 0.0
                type: string
                description: Spending Category Amount LTD - Total amount of authorizations
                  for the spending category for this card life-to-date
                maxLength: 17
                example: "$1,000.00"
              spendingCategoryNumberYTD1:
                default: 0.0
                type: number
                description: Spending Category Number YTD - Total number of authorizations
                  for the spending category for this card year-to-date
                maxLength: 9
                example: 999999999
              spendingCategoryAmountWTD1:
                default: 0.0
                type: string
                description: Spending Category Amount WTD - Total amount of authorizations
                  for the spending category for this card week-to-date (Sunday through
                  Saturday)
                maxLength: 17
                example: "$1,000.00"
        dateCurrentCardValid:
          format: uppercase
          type: string
        pOSServiceCode:
          format: uppercase
          description: POS Service Code - Code that indicates the type of point-of-sale
            service in effect for a card.
          type: string
          maxLength: 3.0
          example: ' '
        maximumNumberOTCAuthorizationsAllowed:
          default: 0.0
          description: Maximum Number OTC Cash Authorizations Allowed - Maximum number
            of OTC authorizations allowed for this Embosser record for the frequency
            defined in the FREQ field
          type: number
          maxLength: 9
          example: 999999999
        currentCardNeedActivation:
          description: Current Card Needs Activation - Indicates whether card activation
            needs to occur for the most recently issued card
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "N"
        nameOnCard:
          format: uppercase
          description: Name on Card - Name to be embossed on the first embossing line
            of the card. Enter the name exactly as it is to appear on the card
          type: string
          maxLength: 26.0
          example: DAVID TEST 2
        nameOn2ndLine:
          format: uppercase
          description: Name on 2nd Card - Type of name for EMBOSSED NAME 2. This field
            displays only for prepaid cards
          type: string
          maxLength: 26.0
          example: ' '
        secureIDStatusChanged:
          format: uppercase
          description: Secure ID Status Changed - operator ID of the person who changed
            the status
          type: string
          maxLength: 3.0
          example: C1X
        spendingLimitPrepaymentExpiryDate:
          format: uppercase
          description: Spending Limit Prepayment Amount - Date on which the temporary
            increase in the spending limit expires for this cardholder
          type: string
          maxLength: 10
          example: 00/00/0000
        fraudCardTransferNumber:
          format: uppercase
          description: Fraud Card Transfer Number - Number of the Embosser record
            replacement associated with a fraud card transfer
          type: string
          maxLength: 19.0
          example: ' '
        vISAMiniCardVersion:
          description: VISA Mini Card Version - Code that indicates the version of
            Visa Mini card
          type: string
          enum:
          - 0
          - 1
          - 2
          maxLength: 1
          example: 0
        cardsReturnedForEmbosser:
          default: 0.0
          description: Cards Returned for Embosser  - Number of cards that were returned
            for the current day
          type: number
          example: 0
        reasonCode:
          format: uppercase
          type: string
          maxLength: 1.0
        issuingAttemptsRemaining:
          default: 0.0
          description: Reissue Attempts - Number of issue or reissue attempts remaining
            for this card
          type: number
          maxLength: 3
          example: 0
        cardActivatedDate:
          format: uppercase
          description: Card Activated Date - Date on which the card is activated
          type: string
          maxLength: 10
          example: 19/08/2021
        expirationDate:
          format: uppercase
          description: Expiration Date - Date on which the most recently issued card
            expires
          type: string
          maxLength: 10
          example: 16/08/2024
        pINOffset:
          default: 0.0
          description: PIN Offset - Current PIN offset of the card
          type: number
          maxLength: 1
          example: 0
        userdefinedField5:
          format: uppercase
          description: User-defined Field 5 - User-defined code for this Embosser
            record. You can change the field name in the Logo record (EMB CODES 5
            on ARML23)
          type: string
          maxLength: 1.0
          example: ' '
        userdefinedField4:
          default: 0.0
          description: User-defined Field 4 - User-defined code or description for
            this Embosser record. You can change the field name in the Logo record
            (EMB CODES 3–4 on ARML23)
          type: number
          maxLength: 4
          example: 0
        product:
          default: 0.0
          type: number
        blockCode:
          format: uppercase
          description: Block Code -  Block Code assigned to the cardholder
          type: string
          maxLength: 1
          example: ' '
        numberOfCardsOutstanding:
          default: 0.0
          description: Number of Cards Outstanding - Number of cards currently outstanding
            for this embosser
          type: number
          example: 1
        typeOfCard:
          default: 0.0
          description: Type of Card - This field (CARD) is a user-defined code that
            indicates the type of plastic stock
          type: number
          example: 0
        previousPINOffset:
          default: 0.0
          description: Previous PIN Offset - Previous PIN offset of the card
          type: number
          example: 0
        authorizationSpendingLimits:
          type: array
          items:
            type: object
            properties:
              frequency1:
                type: string
                description: Frequency - Code that indicates the frequency for commercial
                  card spending limits
                maxLength: 1
                example: 0
              number1:
                default: 0.0
                type: number
                description: "Number - Number of transactions allowed for the frequency\
                  \ defined in the FREQ field. If this field is zero, the number of\
                  \ transactions is unlimited"
                maxLength: 9
                example: 5
              maximum1:
                default: 0.0
                type: number
                description: Maximum - Spending limit in monetary units and subunits
                  for each commercial card spending category
                maxLength: 17
                example: $0.00
        customersGender:
          type: string
          enum:
          - 0
          - 1
          - 2
        warningCode7:
          description: "Warning Code 2 - Warning codes 7, which determine whether\
            \ to authorize or decline authorizations for this Embosser record (card),\
            \ which is not currently used at the card level"
          type: string
          enum:
          - 0
          - ' '
          - 1
          - 2
          - 3
          maxLength: 1
          example: 0
        typeOfMailer:
          format: uppercase
          description: Type of Mailer - This field (MAIL) is a user-defined code that
            identifies the type of card mailer to use to mail the card
          type: string
          maxLength: 2.0
          example: ' '
        pinDelayDays:
          default: 0.0
          description: PIN Delay Days -This field indicates the number of days to
            warehouse the PIN mailer before releasing it for printing
          type: number
          maxLength: 2
          example: 0
        customerNumber:
          format: uppercase
          description: Customer Number  - Customer number that identifies the Customer
            Name/Address record which lists the mailing address of the cardholder.
            The customer number entered must identify an existing Customer Name/Address
            record previously added into CMS
          type: string
          maxLength: 19.0
          example: ' '
        userdefinedField1:
          format: uppercase
          description: XUser-defined Field 1 - User-defined code or description for
            this Embosser record. You can change the field name in the Logo record
            (EMB CODES 1–2 on ARML23)
          type: string
          maxLength: 20.0
          example: ' '
        postToAccountNumber:
          format: uppercase
          description: "Post To Account Number - Code that indicates whether the account\
            \ being added is a transaction (cardholder), billing, control, or diversion\
            \ account. This field displays only in add mode (ARAB) and is open to\
            \ input only"
          type: string
          maxLength: 19.0
          example: 0006000022000000076
        userdefinedField3:
          format: uppercase
          description: User-defined Field 3 - User-defined code or description for
            this Embosser record. You can change the field name in the Logo record
            (EMB CODES 3–4 on ARML23)
          type: string
          maxLength: 19.0
          example: ' '
        warningCode1:
          description: "Warning Code 1 - Warning codes 1, which determine whether\
            \ to authorize or decline authorizations for this Embosser record (card)."
          type: string
          enum:
          - 0
          - ' '
          - 1
          - 2
          - 3
          - 4
          - 6
          - 8
          - 9
          maxLength: 1
          example: 0
        userdefinedField2:
          format: uppercase
          description: User-defined Field 2 - User-defined code or description for
            this Embosser record. You can change the field name in the Logo record
            (EMB CODES 1–2 on ARML23)
          type: string
          maxLength: 20.0
          example: ' '
        singleRetailAuthorizationAllowed:
          default: 0.0
          description: Single Retail Authorization Allowed - Maximum amount in monetary
            units and subunits of retail authorizations allowed for this Embosser
            record for the frequency defined in the FREQ field
          type: string
          maxLength: 17
          example: "$999,999,999,999,999.99"
        authorizationAccumulators:
          type: array
          items:
            type: object
            properties:
              accumulatedAuthorizationAmountCTD1:
                default: 0.0
                type: string
                description: Accumulator Auth Amt-2 - Total amount of ATM/OTC/Retail
                  cash authorizations for this card cycle-to-date
                maxLength: 17
                example: $10234.00
              accumulatedAuthorizationAmountYTD1:
                default: 0.0
                type: string
                description: Accumulator Auth Amt-3 - Total amount of ATM/OTC/Retail
                  cash authorizations for this card year-to-date
                maxLength: 17
                example: $123456.00
              accumulatedAuthorizationAmountToday1:
                default: 0.0
                type: string
                description: Accumulator Auth Amt-1 - Total amount of ATM/OTC/Retail
                  cash authorizations for this card today
                maxLength: 17
                example: $1000.00
              accumulatedAuthorizationNumberToday1:
                default: 0.0
                type: number
                description: Accumulator Auth NBR-1 - Total number of ATM/OTC/Retail
                  cash authorizations for this card today
                maxLength: 9
                example: 5
              accumulatedAuthorizationNumberCTD1:
                default: 0.0
                type: number
                description: Accumulator Auth NBR-2 - Total number of ATM/OTC/Retail
                  cash authorizations for this card cycle-to-date
                maxLength: 9
                example: 6
              accumulatedAuthorizationNumberYTD1:
                default: 0.0
                type: number
                description: Accumulator Auth NBR-3 - Total number of ATM/OTC/Retail
                  cash authorizations for this card year-to-date
                maxLength: 9
                example: 8
              accumulatedAuthorizationAmountLTD1:
                default: 0.0
                type: string
                description: Accumulator Auth Amt-4 - Total amount of ATM/OTC/Retail
                  cash authorizations for this card life-to-date
                maxLength: 17
                example: $1234560.00
              accumulatedAuthorizationNumberLTD1:
                default: 0.0
                type: number
                description: Accumulator Auth NBR-4 - Total number of ATM/OTC/Retail
                  cash authorizations for this card life-to-date
                maxLength: 9
                example: 12
        cardAction:
          description: Card Action - Card issue action code that determines the action
            CMS performs during the next run of the Card Issue program
          type: string
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          example: 1
        numberOfCardsRequested:
          default: 0.0
          description: Number of Cards Requested -  Identifies the number of cards
            required
          type: number
          example: 1
        warningBulletinLastDate:
          format: uppercase
          description: Warning Bulletin Last Date - Date on which the account last
            appeared on a warning bulletin
          type: string
          maxLength: 10
          example: 00/00/0000
        nextCardExpirationDate:
          format: uppercase
          description: Next Card Expiration Date - Next expiration date of the card
          type: string
          maxLength: 10
          example: 00/00/0000
        previousChipSequenceNumber:
          default: 0.0
          description: Previous Chip Sequence Number - Chip sequence number of the
            card issued prior to the most recently issued card
          type: number
          example: 0
        pINMailerSuppression:
          description: PIN Mailer Suppression - Flag indicating whether the PIN number
            and PIN mailer are produced.
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: 0
        datefirstcardVerify:
          format: uppercase
          description: Date First Card Verify - Date on which card activation requirements
            are enforced
          type: string
          maxLength: 10
          example: 00/00/0000
    CardTypeUpdateResp:
      type: object
      properties:
        cardholderType:
          description: Cardholder Type - Code that indicates whether the cardholder
            is the primary cardholder or an additional cardholder associated with
            theaccount
          type: string
          enum:
          - 0 - Additional
          - 1 - Primary
          example: 1
        businessUnit:
          default: 0.0
          description: Business Unit - Identification number associated with this
            Account Base Segment record
          type: number
          example: 600
        cardNumber:
          format: uppercase
          description: Card Number - Token Number assigned to the cardholder embosser
            record.
          type: string
          maxLength: 19.0
          example: 0009846801010273613
    CardPinBlockResp:
      type: object
      properties:
        userFiller:
          description: User filler-This is filler used for future purpose
          type: string
          example: ' '
        filler:
          description: Vgs filler- This is filler used for future purpose
          type: string
          example: ' '
        cardNumber:
          format: uppercase
          description: "Card Number-if the service is sucessiful, the response the\
            \ updated card number will be sent"
          type: string
          example: 0009544401000009153
    BlockUnblockCardResp:
      type: object
      properties:
        cardholderType:
          description: Card holder type - Code that indicates whether the cardholder
            is the primarycardholder or an additional cardholder associated with theaccount.  .
          type: string
          enum:
          - 1
          - 0
          example: 1
        blockCode:
          description: "Block code - The block code assigned to the Embosser record,\
            \ Blcok code values can be be A- Z or SPACES."
          type: string
          enum:
          - X
          - E
          - F
          - G
          - ' '
          example: X
        blockDate:
          format: uppercase
          description: Card block date - The date on which card is blocked.
          type: string
          example: 01/03/2020
        businessUnit:
          default: 0.0
          description: Business Unit - Identification number associated with this
            Account Base Segment record
          type: number
          example: 100
        cardNumber:
          format: uppercase
          description: Card Number - Token Number assigned to the cardholder embosser
            record.
          type: string
          maxLength: 19.0
          example: 0009846801010273605
        warningCode1:
          description: Warning Code 1 - Warning Code -This field determine whether
            to authorize or decline authorizations for this Embosser record (card).
          type: string
          enum:
          - 0
          - ' '
          - 1
          - 2
          - 3
          - 4
          - 6
          - 8
          - 9
          example: 1
    UpdateCardControlsResp:
      type: object
      properties:
        ecomActSW:
          description: ECOM Active switch - ECOM Active switch
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: 0
        businessUnit:
          default: 0.0
          description: "Business Unit - Identification number associated with this\
            \ Account Base Segment record, the values are 001–998"
          type: number
          maxLength: 3
          example: 600
        cardSequence:
          default: 0.0
          description: Card Sequence - Identification number assigned to an Embosser
            record to distinguish between multiple cards issued with the same card
            number
          type: number
          maxLength: 4
          example: 1
        aTMFlag:
          description: ATM Flag - ATM Flag
          type: string
          enum:
          - "Y"
          - "N"
          - ' '
          maxLength: 1
          example: ' '
        iNTATMPOSFlag:
          description: International ATM POS Flag - International ATM POS Flag
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "Y"
        mOTOFlag:
          description: MOTO Flag - MOTO Flag
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "Y"
        pOSFlag:
          description: POS Flag - POS Flag
          type: string
          enum:
          - "Y"
          - "N"
          - ' '
          maxLength: 1
          example: ' '
        cashBackTranFlag:
          description: Cash Back Transaction Flag -  Cash Back Transaction Flag
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "Y"
        postToAccountNumber:
          format: uppercase
          description: "Post To Account Number - Code that indicates whether the account\
            \ being added is a transaction (cardholder), billing, control, or diversion\
            \ account. This field displays only in add mode (ARAB) and is open to\
            \ input only"
          type: string
          maxLength: 19
          example: 0006000022000000076
        cardNumber:
          format: uppercase
          description: Card Number - Number that is embossed on the plastic card.
            Enter a value in this field only if the card number is different from
            the post-to account number
          type: string
          maxLength: 19
          example: 0000000001000000115
        pAYwaveFlag:
          description: Pay Wave Switch - Pay Wave Switch
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "N"
    SpendLimitUpdateResp:
      type: object
      properties:
        maximumNumberOTCAuthorizationsAllowed:
          default: 0.0
          description: Maximum number OTC  authorization-Maximum number of OTC authorizations
            allowed for thisEmbosser record for the frequency defined in the FREQ
            field
          type: number
          example: 1
        maximumNumberATMCashAuthorizationsAllowed:
          default: 0.0
          description: Maximum number ATM cash authorization-Maximum number of ATM
            cash authorizations allowed for thisEmbosser record for the frequency
            defined in the FREQ field
          type: number
          example: 1
        singleRetailAuthorizationAllowed:
          default: 0.0
          description: Maximum Amount Single retail authorization allowed- Maximum
            amount in monetary units and subunits of OTCauthorizations allowed for
            'this Embosser record for thefrequency defined in the FREQ field
          type: string
          example: 0000
        businessUnit:
          default: 0.0
          description: Business Unit - Identification number associated with this
            Account Base Segment record
          type: number
          example: 100
        maximumAuthorizationsFrequency:
          description: "Maximum authorization frequency-Code that indicates the frequency\
            \ for the maximum authorization parameters The values are 0=Not used,1=Daily,2=Cycle-to-date,3=Year-to-date"
          type: string
          enum:
          - 0
          - 1
          - 2
          - 3
          example: 1
        maximumAmountRetailAuthorizationsAllowed:
          default: 0.0
          description: Maximum amount retail authorization-Maximum amount in monetary
            units and subunits of retailauthorizations allowed for this Embosser record
            for thefrequency defined in the FREQ field
          type: string
          example: 10000
        maximumNumberRetailAuthorizationsAllowed:
          default: 0.0
          description: Maximum number retail authorization-Maximum number of retail
            authorizations allowed for thisEmbosser record for the frequency defined
            in the FREQ field
          type: number
          example: 1
        maximumAmountSingleATMTransactionAllowed:
          default: 0.0
          description: ' Maximum amount SINGLE ATM Transaction-Maximum authorization
            amount in monetary units and subunitsof a single ATM transaction allowed
            for this Embosser recordfor the frequency defined in the FREQ field'
          type: string
          example: 10000
        singleOTCCashAuthorizationAllowed:
          default: 0.0
          description: Maximum Amount Single OTC cash authorization allowed-Maximum
            amount in monetary units and subunits of OTCauthorizations allowed for
            this Embosser record for thefrequency defined in the FREQ field
          type: string
          example: 10000
        maximumAmountOTCCashAuthorizationsAllowed:
          default: 0.0
          description: Maximum amount OTC cash authorization-Maximum amount in monetary
            units and subunits of OTC cashauthorizations allowed for this Embosser
            record for thefrequency defined in the FREQ field
          type: string
          example: 20000
        maximumAmountATMCashAuthorizationsAllowed:
          default: 0.0
          description: Maximum amount ATM cash authorization-Maximum amount in monetary
            units and subunits of ATM cash authorizations allowed for this Embosser
            record for thefrequency defined in the FREQ field
          type: string
          example: 10000
        cardNumber:
          format: uppercase
          description: Card Number - Token Number assigned to the cardholder embosser
            record.
          type: string
          maxLength: 19.0
          example: 0009846801010000001
    UpdateCardControlsReq:
      type: object
      properties:
        ecomActSW:
          description: ECOM Active switch - ECOM Active switch
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: 0
        aTMFlag:
          description: ATM Flag - ATM Flag
          type: string
          enum:
          - "Y"
          - "N"
          - ' '
          maxLength: 1
          example: ' '
        iNTATMPOSFlag:
          description: International ATM POS Flag - International ATM POS Flag
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "Y"
        mOTOFlag:
          description: MOTO Flag - MOTO Flag
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "Y"
        pOSFlag:
          description: POS Flag - POS Flag
          type: string
          enum:
          - "Y"
          - "N"
          - ' '
          maxLength: 1
          example: ' '
        cashBackTranFlag:
          description: Cash Back Transaction Flag -  Cash Back Transaction Flag
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "Y"
        pAYwaveFlag:
          description: Pay Wave Switch - Pay Wave Switch
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1
          example: "N"
    ActivateCardReq:
      type: object
      properties:
        lastCardActivation:
          description: Last Card Activation required
          type: string
          enum:
          - "Y"
          - "N"
          example: "Y"
        currentCardRequireActivation:
          description: Current Card Required Activation.
          type: string
          enum:
          - "Y"
          - "N"
          example: "N"
    SpendLimitUpdateReq:
      type: object
      properties:
        maximumNumberOTCAuthorizationsAllowed:
          default: 0.0
          description: Maximum number OTC  authorization-Maximum number of OTC authorizations
            allowed for thisEmbosser record for the frequency defined in the FREQ
            field
          type: number
          example: 1
        maximumNumberATMCashAuthorizationsAllowed:
          default: 0.0
          description: Maximum number ATM cash authorization-Maximum number of ATM
            cash authorizations allowed for thisEmbosser record for the frequency
            defined in the FREQ field
          type: number
          example: 1
        singleRetailAuthorizationAllowed:
          default: 0.0
          description: Maximum Amount Single retail authorization allowed- Maximum
            amount in monetary units and subunits of OTCauthorizations allowed for
            'this Embosser record for thefrequency defined in the FREQ field
          type: string
          example: 0000
        maximumAmountRetailAuthorizationsAllowed:
          default: 0.0
          description: Maximum amount retail authorization-Maximum amount in monetary
            units and subunits of retailauthorizations allowed for this Embosser record
            for thefrequency defined in the FREQ field
          type: string
          example: 10000
        maximumAuthorizationsFrequency:
          description: "Maximum authorization frequency-Code that indicates the frequency\
            \ for the maximum authorization parameters The values are 0=Not used,1=Daily,2=Cycle-to-date,3=Year-to-date"
          type: string
          enum:
          - 0
          - 1
          - 2
          - 3
          example: 1
        maximumNumberRetailAuthorizationsAllowed:
          default: 0.0
          description: Maximum number retail authorization-Maximum number of retail
            authorizations allowed for thisEmbosser record for the frequency defined
            in the FREQ field
          type: number
          example: 1
        maximumAmountSingleATMTransactionAllowed:
          default: 0.0
          description: ' Maximum amount SINGLE ATM Transaction-Maximum authorization
            amount in monetary units and subunitsof a single ATM transaction allowed
            for this Embosser recordfor the frequency defined in the FREQ field'
          type: string
          example: 10000
        singleOTCCashAuthorizationAllowed:
          default: 0.0
          description: Maximum Amount Single OTC cash authorization allowed-Maximum
            amount in monetary units and subunits of OTCauthorizations allowed for
            this Embosser record for thefrequency defined in the FREQ field
          type: string
          example: 10000
        maximumAmountOTCCashAuthorizationsAllowed:
          default: 0.0
          description: Maximum amount OTC cash authorization-Maximum amount in monetary
            units and subunits of OTC cashauthorizations allowed for this Embosser
            record for thefrequency defined in the FREQ field
          type: string
          example: 20000
        maximumAmountATMCashAuthorizationsAllowed:
          default: 0.0
          description: Maximum amount ATM cash authorization-Maximum amount in monetary
            units and subunits of ATM cash authorizations allowed for this Embosser
            record for thefrequency defined in the FREQ field
          type: string
          example: 10000
    cardSecureCodeResp:
      type: object
      properties:
        cardNumber:
          format: uppercase
          type: string
    BlockUnblockCardReq:
      type: object
      properties:
        blockCode:
          description: "Block code - The block code assigned to the Embosser record,\
            \ Blcok code values can be be A- Z or SPACES."
          type: string
          enum:
          - X
          - E
          - F
          - G
          - ' '
          example: X
    ErrorList:
      type: array
      items:
        type: object
        properties:
          errorCode:
            type: string
            example: XXXXXX
            description: Error code associated with the response
          errorMessage:
            type: string
            example: Some message from the service
            description: Error message associated with the response
    LostStolenCardTransferReq:
      type: object
      properties:
        blockCode:
          format: uppercase
          description: Block code-Block code to apply to the transfer card. The values
            are blank(or space) and A to Z
          type: string
          maxLength: 1.0
          example: L
        product:
          default: 0.0
          maximum: 999.0
          description: Product - Product associated with this Account. The values
            are 001–998
          type: number
          minimum: 0.0
          example: 1
        cardReplacementIndicator:
          description: "Card replacement indicator-Code that indicates whether CMS\
            \ replaces the transfer card by generating a new Embosser record on the\
            \ original account. The values are 0=Replace lost/stolen/fraud card (Default),\
            \ 1=Do not replace lost/stolen/fraud card\""
          type: string
          enum:
          - 0 - Replace
          - 1 - Do Not Replace
          example: 0
        terminalId:
          format: uppercase
          description: Terminal id- The terminal from where the service was called
          type: string
          maxLength: 4.0
          example: ' '
        accountNumber:
          format: uppercase
          description: Account Number - Identification number of the Account Base
            Segment record to which CMS posts transactions received for this Embosser
            record.
          type: string
          maxLength: 19.0
          example: 0001000011000033827
        customerBusinessUnit:
          default: 0.0
          maximum: 999.0
          description: Card transfer org-Identification number of the organization
            associated with thisAccount Base Segment record. The values are 001–9
          type: number
          minimum: 0.0
          example: ' '
        transferToAccount:
          format: uppercase
          description: Transfer to account-Number of the account to which you want
            to transfer the cardYou can enter a specific account number or enter a
            slash (/) ifthe auto-generation functionality is active for account numbers.
          type: string
          maxLength: 19.0
          example: ' '
        transferToCustomer:
          format: uppercase
          description: Transfer to customer-Number that identifies the Customer Name/Address
            record associated with the transfer-to accountIf you are transferring
            the card to an existing accountdo notmake an entry in the CUSTOMER fieldCMS
            uses the customernumber associated with the existing account
          type: string
          maxLength: 19.0
          example: ' '
        signonName:
          description: Sign on Name
          type: string
          example: ' '
        action:
          description: "Action-This field issystem-generated; you cannot modify it.\
            \ The values are R=Reverse a card transfer, T=Transfer the card (lost,\
            \ stolen, or fraud)."
          type: string
          enum:
          - T - Transfer
          - R - Reversal
          example: T
        securitySignon:
          description: security signon
          type: string
          example: ' '
        processType:
          type: string
          enum:
          - 0
          - 1
        operatorId:
          format: uppercase
          description: Operator id-user signon operator id
          type: string
          maxLength: 3.0
          example: ' '
        effectiveDate:
          format: date
          description: Effective date-Date that the fraud card transfer is effective
            The value must be a date less than or equal to today’sdateThe default
            value is today’s date. If you enter a future date The system will abend"
          type: string
          example: ' '
[...]
