openapi: 3.0.1
info:
  title: Vision10 API Documentation
  description: V10 open API document.
  version: 1.0.0
servers:
- url: https://stg34.visionplus.io:24500/fva_apac
tags:
- name: Customer Management
paths:
  /v1/customers/boardCustomer:
    post:
      tags:
      - Customer Management
      summary: Board Customer
      description: This service is used to board the new customer
      operationId: BoardCustomer
      x-group-name: Customer Management
      x-proxy-name: Board Customer
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BoardCustomerReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BoardCustomerResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/customers/{customerNumber}/nameAddress:
    put:
      tags:
      - Customer Management
      summary: Update Customer Demographics
      description: This service will be used to update the customer demographic details
        such as Name / Address / Phone Number / Email ID/ Date of Birth of the given
        customer. The customer ID will be passed in the input request to retrieve
        the demographic information.
      operationId: UpdateCustomerDemographics
      x-group-name: Customer Management
      x-proxy-name: Update Customer Demographics
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: Business Unit - Identification number of the organization associated
          with thisAccount Base Segment record. The values are 001–998.
        required: true
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 100
      - name: customerNumber
        in: path
        description: Customer Number - This field is Identification number of the
          Name and Address record.
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19.0
          example: 0001000000000150191
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerDemographicsReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCustomerDemographicsResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  
    get:
      tags:
      - Customer Management
      summary: Inquire Customer Demographic
      description: This service is used to inquire customer's demographic details
      operationId: CustomersNameAddressInquire
      x-group-name: Customer Management
      x-proxy-name: Inquire Customer Demographic
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: businessUnit
        in: query
        description: Business Unit -Identification number of the organization associated
          with thisAccount Base Segment record. The values are 001–998.
        required: true
        schema:
          default: 0.0
          type: number
          maxLength: 3
          example: 100
      - name: customerNumber
        in: path
        description: Customer Number - This field is Identification number of the
          Name and Address record.
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19.0
          example: 0001000000000150191
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomersNameAddressInquireResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/customers/{customerNumber}/accountList:
    get:
      tags:
      - Customer Management
      summary: List Customer's Accounts
      description: This service provides account's details associated with a Customer
        number along with demographic details
      operationId: ListCustomersAccounts
      x-group-name: Customer Management
      x-proxy-name: List Customer's Accounts
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: customerNumber
        in: path
        description: Customer Number - This field is Identification number of the
          Name and Address record.
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19
          example: "0001000000000113902"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomersAccountsResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/customers/{customerNumber}/cardList:
    get:
      tags:
      - Customer Management
      summary: List Customer's Cards
      description: This service retrieves the card details associated with a Customer
        number along with demographic details
      operationId: ListCustomersCards
      x-group-name: Customer Management
      x-proxy-name: List Customer's Cards
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: customerNumber
        in: path
        description: Customer Number - This field is Identification number of the
          Name and Address record.
        required: true
        schema:
          format: uppercase
          type: string
          maxLength: 19
          example: "0001000000000113902"
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomersCardsResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  /v1/customers/searchCustomer:
    post:
      tags:
      - Customer Management
      summary: Search Customers
      description: "This service is used to retrieve customer's information based\
        \ on primary and optional search values like Last name, Indentification number,\
        \ Phone number etc."
      operationId: SearchCustomers
      x-group-name: Customer Management
      x-proxy-name: Search Customers
      parameters:
      - name: X-Correl-Id
        description: Any correlational text client's may want to send in the request
          for mapping the response on their side. Any value passed in the request
          message will be return back as-is in the API response message
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 40.0
          example: ABC123
        required: false
      - name: X-Name
        description: User’s sign-on name. The value passed in this field will be validated
          within application for user's authority to consume the requested API
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      - name: X-context
        description: A unique random ID assigned to the requestor once authenticated
          to the First Vision application. Value passed in this field will be used
          within application to authenticate the valid signed-on user
        in: header
        schema:
          minLength: 0.0
          type: string
          maxLength: 20.0
          example: 00000AUNAB
        required: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchCustomersReq'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchCustomersResp'
        "400":
          description: The request cannot be validated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "401":
          description: The request was unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "500":
          description: An unexpected internal server error occurred
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "404":
          description: The request resource does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "503":
          description: The service was unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
        "504":
          description: The request timed out while waiting for a response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorList'
  
components:
  schemas:
    UpdateCustomerDemographicsResp:
      type: object
      properties:
        postalCode1:
          format: uppercase
          description: Postal Code 1 -This is the Postal code portion of the mailing
            address of the owner.
          type: string
          maxLength: 10
          example: ""
        city1:
          format: uppercase
          description: City 1 - This field indicates the City portion of the mailing
            address of  the owner.
          type: string
          maxLength: 30
          example: DELHI
        businessUnit:
          default: 0.0
          description: Business Unit - Identification number of the organization associated
            with thisAccount Base Segment record. The values are 001–998.
          type: number
          maxLength: 3
          example: 100
        nameLine21:
          format: uppercase
          description: Name Line 2 1 - This field indicates the owner name.
          type: string
          maxLength: 40
          example: KK
        firstName1:
          format: uppercase
          description: First Name 1 - This field is the First name of the owner.
          type: string
          maxLength: 40
          example: ABC
        emailAddress1:
          format: uppercase
          description: Email Address 1 - This field indicates e-mail address of the
            owner.
          type: string
          maxLength: 60
          example: SAM@FISERV.COM
        homePhoneFlag1:
          description: Home Phone Flag 1 - This flag indicates that whether you have
            the owner’s permission to use this number.
          type: string
          enum:
          - 0
          - 1
          - 2
          maxLength: 1
          example: ""
        userDefinedField41:
          format: uppercase
          description: User Defined Field 4 1 - User-defined fields for an owner.
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1.0
          example: "Y"
        middleName1:
          format: uppercase
          description: Middle Name 1 - This field is the Middle name of the owner.
          type: string
          maxLength: 40
          example: ""
        faxNumber1:
          format: uppercase
          description: Fax Number 1 - This field is the owner’s fax number.
          type: string
          maxLength: 20
          example: ""
        addressLine21:
          format: uppercase
          description: Address Line 2 1 - This is mailing address for the owner.
          type: string
          maxLength: 40
          example: RAINBOW APTS
        smsFlag1:
          description: SMS Flag 1 - This flag indicates that whether you have the
            owner’s permission to use this number.
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: ""
        addressLine41:
          format: uppercase
          description: Address Line 4 1 - This is mailing address for the owner.
          type: string
          maxLength: 40
          example: ""
        lastName1:
          format: uppercase
          description: Last Name 1 - This field is the Last name of the owner.
          type: string
          maxLength: 40
          example: ""
        faxPhoneFlag1:
          description: Fax Phone Flag 1 - This flag indicates that whether you have
            the owner’s permission to use this number.
          type: string
          enum:
          - 0
          - 1
          - 2
          maxLength: 1
          example: ""
        stateprovince1:
          format: uppercase
          description: State/Province 1 - This field indicates the City portion of
            the mailing address of  the owner.
          type: string
          maxLength: 3
          example: ""
        nameLine31:
          format: uppercase
          description: Name Line 3 1 - This field indicates the owner name.
          type: string
          maxLength: 40
          example: ' '
        nameLine11:
          format: uppercase
          description: "Name Line 1 1 - This field indicates the owner personal name,\
            \ business name, or  a generic name."
          type: string
          maxLength: 40
          example: M S SWAMY
        mobileNumber1:
          format: uppercase
          description: Mobile Number 1 - This field is the owner’s mobile number.
          type: string
          maxLength: 20
          example: 112233
        accountNumber:
          format: uppercase
          description: Customer Number - This field is Identification number of the
            Name and Address record.
          type: string
          maxLength: 19.0
          example: 0001000000000150191
        countryCode1:
          format: uppercase
          description: Country Code 1 - The field is the country code. The value entered
            must be a valid country code previously defined in the Security Subsystem
            and Common Routines (SSC) system via the Country Code Definitions service.
          type: string
          maxLength: 3
          example: ""
        languageIndicator1:
          format: uppercase
          description: Language Indicator 1 - This is the Postal code portion of the
            mailing address of the owner.
          type: string
          maxLength: 3
          example: ""
        addressLine31:
          format: uppercase
          description: Address Line 3 1 - This is mailing address for the owner.
          type: string
          maxLength: 40
          example: DELHI
        homePhoneNumber1:
          format: uppercase
          description: Home Phone Number 1 - This field is the owner’s home telephone
            number.
          type: string
          maxLength: 20
          example: 1234567
        addressLine11:
          format: uppercase
          description: Address Line 1 1 - This is mailing address for the owner.
          type: string
          maxLength: 40
          example: FLAT NO:404
        houseNumber1:
          format: uppercase
          description: House Number  1 -This field indicates the owner name.
          type: string
          maxLength: 20
          example: ""
        mobilePhoneFlag1:
          description: Mobile Phone Flag 1 - This flag indicates that whether you
            have the owner’s permission to use this number.
          type: string
          enum:
          - 0
          - 1
          - 2
          maxLength: 1
          example: ""
        dateOfBirth1:
          format: uppercase
          description: "Date Of Birth 1, format is DD/MM/YYYY."
          type: string
          maxLength: 10
          example: 06/04/1986
    UpdateCustomerDemographicsReq:
      type: object
      properties:
        postalCode1:
          format: uppercase
          description: Postal Code 1 -This is the Postal code portion of the mailing
            address of the owner.
          type: string
          maxLength: 10
          example: ""
        city1:
          format: uppercase
          description: City 1 - This field indicates the City portion of the mailing
            address of  the owner.
          type: string
          maxLength: 30
          example: DELHI
        nameLine21:
          format: uppercase
          description: Name Line 2 1 - This field indicates the owner name.
          type: string
          maxLength: 40
          example: KK
        firstName1:
          format: uppercase
          description: First Name 1 - This field is the First name of the owner.
          type: string
          maxLength: 40
          example: ABC
        emailAddress1:
          format: uppercase
          description: Email Address 1 - This field indicates e-mail address of the
            owner.
          type: string
          maxLength: 60
          example: SAM@FISERV.COM
        homePhoneFlag1:
          description: Home Phone Flag 1 - This flag indicates that whether you have
            the owner’s permission to use this number.
          type: string
          enum:
          - 0
          - 1
          - 2
          maxLength: 1
          example: ""
        userDefinedField41:
          format: uppercase
          description: User Defined Field 4 1 - User-defined fields for an owner.
          type: string
          enum:
          - "Y"
          - "N"
          maxLength: 1.0
          example: "Y"
        middleName1:
          format: uppercase
          description: Middle Name 1 - This field is the Middle name of the owner.
          type: string
          maxLength: 40
          example: ""
        faxNumber1:
          format: uppercase
          description: Fax Number 1 - This field is the owner’s fax number.
          type: string
          maxLength: 20
          example: ""
        addressLine21:
          format: uppercase
          description: Address Line 2 1 - This is mailing address for the owner.
          type: string
          maxLength: 40
          example: RAINBOW APTS
        smsFlag1:
          description: SMS Flag 1 - This flag indicates that whether you have the
            owner’s permission to use this number.
          type: string
          enum:
          - 0
          - 1
          maxLength: 1
          example: ""
        addressLine41:
          format: uppercase
          description: Address Line 4 1 - This is mailing address for the owner.
          type: string
          maxLength: 40
          example: ""
        lastName1:
          format: uppercase
          description: Last Name 1 - This field is the Last name of the owner.
          type: string
          maxLength: 40
          example: ""
        faxPhoneFlag1:
          description: Fax Phone Flag 1 - This flag indicates that whether you have
            the owner’s permission to use this number.
          type: string
          enum:
          - 0
          - 1
          - 2
          maxLength: 1
          example: ""
        stateprovince1:
          format: uppercase
          description: State/Province 1 - This field indicates the City portion of
            the mailing address of  the owner.
          type: string
          maxLength: 3
          example: ""
        nameLine31:
          format: uppercase
          description: Name Line 3 1 - This field indicates the owner name.
          type: string
          maxLength: 40
          example: ' '
        nameLine11:
          format: uppercase
          description: "Name Line 1 1 - This field indicates the owner personal name,\
            \ business name, or  a generic name."
          type: string
          maxLength: 40
          example: M S SWAMY
        mobileNumber1:
          format: uppercase
          description: Mobile Number 1 - This field is the owner’s mobile number.
          type: string
          maxLength: 20
          example: 112233
        countryCode1:
          format: uppercase
          description: Country Code 1 - The field is the country code. The value entered
            must be a valid country code previously defined in the Security Subsystem
            and Common Routines (SSC) system via the Country Code Definitions service.
          type: string
          maxLength: 3
          example: ""
        languageIndicator1:
          format: uppercase
          description: Language Indicator 1 - This is the Postal code portion of the
            mailing address of the owner.
          type: string
          maxLength: 3
          example: ""
        addressLine31:
          format: uppercase
          description: Address Line 3 1 - This is mailing address for the owner.
          type: string
          maxLength: 40
          example: DELHI
        homePhoneNumber1:
          format: uppercase
          description: Home Phone Number 1 - This field is the owner’s home telephone
            number.
          type: string
          maxLength: 20
          example: 1234567
        addressLine11:
          format: uppercase
          description: Address Line 1 1 - This is mailing address for the owner.
          type: string
          maxLength: 40
          example: FLAT NO:404
        houseNumber1:
          format: uppercase
          description: House Number  1 -This field indicates the owner name.
          type: string
          maxLength: 20
          example: ""
        mobilePhoneFlag1:
          description: Mobile Phone Flag 1 - This flag indicates that whether you
            have the owner’s permission to use this number.
          type: string
          enum:
          - 0
          - 1
          - 2
          maxLength: 1
          example: ""
        dateOfBirth1:
          format: uppercase
          description: "Date Of Birth 1, format is DD/MM/YYYY."
          type: string
          maxLength: 10
          example: 06/04/1986
    ErrorList:
      type: array
      items:
        type: object
        properties:
          errorCode:
            type: string
            example: XXXXXX
            description: Error code associated with the response
          errorMessage:
            type: string
            example: Some message from the service
            description: Error message associated with the response
    
    
    CustomersNameAddressInquireResp:
      type: object
      properties:
        postalCode1:
          format: uppercase
          description: Postal Code-Postal code portion of the mailing address of the
            owner
          type: string
          maxLength: 10
          example: 2011
        city1:
          format: uppercase
          description: City-City portion of the mailing address of the owner
          type: string
          maxLength: 30
          example: SYDNEY
        nameLine21:
          format: uppercase
          type: string
          maxLength: 40
        businessUnit:
          default: 0.0
          description: Business Unit -Identification number of the organization associated
            with thisAccount Base Segment record. The values are 001–998.
          type: number
          maxLength: 3
          example: 100
        firstName1:
          format: uppercase
          type: string
          maxLength: 40
        emailAddress1:
          format: uppercase
          description: Email-that indicates the e-mail address of the owner
          type: string
          maxLength: 60
          example: QM422E7RJT@XVRAI.NET
        homePhoneFlag1:
          description: "Home Phone Flag-this field is a code that specifies whether\
            \ theyou have the owner’s permission to call this number. The values 0\
            \ =No, do not contact the customer at this number,1=Yes, you can contact\
            \ the customer at thisnumber (Default) 2=Preferred contact method"
          type: string
          example: 0
        userDefinedField41:
          type: string
        middleName1:
          format: uppercase
          type: string
          maxLength: 40
        faxNumber1:
          format: uppercase
          description: Language Indicator-User-defined code that indicates the language
            spoken by theowner.
          type: string
          maxLength: 20
          example: ' '
        addressLine21:
          format: uppercase
          description: Address Line 2-Mailing address for the owner
          type: string
          maxLength: 40
          example: ' '
        smsFlag1:
          description: "SMS Flag-Code that indicates whether an SMS (short message\
            \ service)message can be sent to the owner. The values are 0=No, do not\
            \ contact the customer via SMS, 1=Yes, you can contact the customer via\
            \ SMS(Default)"
          type: string
          maxLength: 1
          example: 0
        addressLine41:
          format: uppercase
          type: string
          maxLength: 40
        lastName1:
          format: uppercase
          type: string
          maxLength: 40
        faxPhoneFlag1:
          description: "Fax Phone Flagthis field is a code that specifies whether\
            \ theyou have the owner’s permission to call this number. The values 0\
            \ =No, do not contact the customer at this number,1=Yes, you can contact\
            \ the customer at thisnumber (Default) 2=Preferred contact method"
          type: string
          maxLength: 1
          example: 0
        stateprovince1:
          format: uppercase
          description: State/Province-Abbreviation of the state or province portion
            of the mailingaddress of the owner
          type: string
          maxLength: 3
          example: NSW
        nameLine31:
          format: uppercase
          type: string
          maxLength: 40
        nameLine11:
          format: uppercase
          type: string
          maxLength: 40
        mobileNumber1:
          format: uppercase
          description: Mobile Number-that indicates the mobile telephone number ofthe
            owner
          type: string
          maxLength: 20
          example: +61440372725
        countryCode1:
          format: uppercase
          description: Country Code-Thevalue entered must be a valid country code
            previously definedin the Security Subsystem and Common Routines (SSC)
            system
          type: string
          maxLength: 3
          example: AU
        accountNumber:
          format: uppercase
          description: Customer Number - This field is Identification number of the
            Name and Address record.
          type: string
          maxLength: 19.0
          example: 0001000000000150191
        languageIndicator1:
          format: uppercase
          description: Language Indicator-User-defined code that indicates the language
            spoken by theowner.
          type: string
          maxLength: 3
          example: AUS
        addressLine31:
          format: uppercase
          description: Address Line 3-Mailing address for the owner
          type: string
          maxLength: 40
          example: ' '
        homePhoneNumber1:
          format: uppercase
          description: Home Phone Number-that indicates the home telephone number
            ofthe owner
          type: string
          maxLength: 20
          example: +61440372725
        addressLine11:
          format: uppercase
          description: Address Line 1-Mailing address for the owner
          type: string
          maxLength: 40
          example: 77 30 HARVEY ISLAND
        houseNumber1:
          format: uppercase
          type: string
          maxLength: 20
        mobilePhoneFlag1:
          description: "Mobile Phone Flag-this field is a code that indicates whether\
            \ youhave the owner’s permission to call this number. The values are0\
            \ =No, do not contact the customer at this number,1=Yes, you can contact\
            \ the customer at thisnumber (Default) 2=Preferred contact method"
          type: string
          example: 0
        dateOfBirth1:
          format: uppercase
          description: "DOB - Date of Birth of the customer, format is MM/DD/YYYY"
          type: string
          example: 06/24/1986
    
    BoardCustomerResp:
      type: object
      properties:
        businessUnit:
          default: 0.0
          description: Business Unit - Identification number of the business unit
            associated with the  account or relationship
          type: number
          maxLength: 3
          example: 600
        customerNumber:
          format: uppercase
          description: Customer Number - The newly generated customer number
          type: string
          maxLength: 19.0
          example: 0000000001000000007
    BoardCustomerReq:
      type: object
      properties:
        dualFlag:
          default: 0.0
          description: Dual Flag - This field indicates whether CMS adds a duplicate
            customer  record in the associated business unit for dual currency processing
          type: number
          maxLength: 1
          example: 0
        postalCode1:
          format: uppercase
          description: Postal Code - Postal code
          type: string
          maxLength: 10.0
          example: 112345
        city1:
          format: uppercase
          description: City - Name of Customer City
          type: string
          maxLength: 30.0
          example: La Vegas
        nameLine21:
          format: uppercase
          description: Name Line 2 - Customer Name Line 2
          type: string
          maxLength: 40.0
          example: 'Jacob '
        businessUnit:
          default: 0.0
          description: Business Unit - Identification number of the business unit
            associated with the  account or relationship
          type: number
          maxLength: 3
          example: 600
        firstName1:
          format: uppercase
          description: First Name - First Name of customer
          type: string
          maxLength: 40.0
          example: Samuel
        state1:
          format: uppercase
          description: State - Name of state
          type: string
          maxLength: 3.0
          example: CL
        middleName1:
          format: uppercase
          description: Middle Name - Middle name of Customer
          type: string
          maxLength: 40.0
          example: ' '
        email1:
          format: uppercase
          description: E-Mail -  customer email
          type: string
          maxLength: 60.0
          example: abc@goole.com
        addressLine21:
          format: uppercase
          description: Address Line 2 - Customer Address Line 2
          type: string
          maxLength: 40.0
          example: S.H. Qo
        addressLine41:
          format: uppercase
          description: Address Line 4 - Customer Address Line 4
          type: string
          maxLength: 40.0
          example: USA
        lastName1:
          format: uppercase
          description: Last Name - Last name of Customer
          type: string
          maxLength: 40.0
          example: Christopher
        nameTypeInd21:
          description: Name Type Ind 2 - Name Indicator 2
          type: string
          enum:
          - ZERO
          - 1
          - 3
          maxLength: 1
          example: 0
        employeePhone1:
          format: uppercase
          description: Employee Phone -  Employee Phone Number
          type: string
          maxLength: 20.0
          example: 67894
        nameLine31:
          format: uppercase
          description: Name Line 3 - Customer Name Line 3
          type: string
          maxLength: 40.0
          example: Samuel
        nameLine11:
          format: uppercase
          description: Name Line 1 - Customer Name Line 1
          type: string
          maxLength: 40.0
          example: John
        product:
          default: 0.0
          description: Product - Identification number of the product associated with
            the  account or relationship
          type: number
          maxLength: 3
          example: 2
        gender1:
          description: Gender - Gender of customer
          type: string
          enum:
          - ZERO
          - 1
          - 2
          maxLength: 1
          example: 1
        title1:
          format: uppercase
          description: Title - Name of Customer
          type: string
          maxLength: 20.0
          example: ADWSQQ
        mobileNumber1:
          format: uppercase
          description: Mobile Number - Customer mobile number
          type: string
          maxLength: 20.0
          example: 11231232
        homePhone1:
          format: uppercase
          description: Home Phone - residential phone number
          type: string
          maxLength: 20.0
          example: 11230342
        nationalId1:
          format: uppercase
          description: National ID - Customer National ID Number
          type: string
          maxLength: 25.0
          example: 2363-12-2839-1
        countryCode1:
          format: uppercase
          description: Country Code - code of country
          type: string
          maxLength: 3.0
          example: USA
        residenceFlag1:
          description: Residence Flag - residential status
          type: string
          enum:
          - ZERO
          - 1
          - 2
          - 3
          maxLength: 1
          example: 1
        altEmail1:
          format: uppercase
          description: Alt E-Mail - Customer alternate mail id
          type: string
          maxLength: 50.0
          example: abc1@google.com
        addressLine31:
          format: uppercase
          description: Address Line 3 -  Customer Address Line 3
          type: string
          maxLength: 40.0
          example: California
        addressLine11:
          format: uppercase
          description: Address Line 1 - Customer Address Line 1
          type: string
          maxLength: 40.0
          example: House No. 12
        emailFlag1:
          description: E-Mail Flag - Email-ID of the Customer
          type: string
          enum:
          - ZERO
          - 1
          - 2
          maxLength: 1
          example: 1
        nameTypeInd31:
          description: Name Type Ind 3 - Name Indiacator 3
          type: string
          enum:
          - ZERO
          - 1
          - 3
          maxLength: 1
          example: 0
        nameTypeInd11:
          description: Name Type Ind 1 - Name Indicator
          type: string
          enum:
          - ZERO
          - 1
          - 3
          maxLength: 1
          example: 0
        dateOfBirth1:
          format: uppercase
          description: Date of Birth - Customer Date of Birth. Date format is 'DD/MM/YYYY'
          type: string
          maxLength: 10
          example: 01/02/2010
    ListCustomersCardsResp:
      type: object
      properties:
        totalAvailable:
          default: 0.0
          description: Total Available balance at the relationship level
          type: string
          maxLength: 17
          example: $0.00
        businessUnit:
          format: uppercase
          description: Business Unit of the Relationship account (if relationship
            is active)
          type: string
          maxLength: 3
          example: 0
        homePhoneNumber:
          format: uppercase
          description: Home Phone Number of the Customer
          type: string
          maxLength: 20
          example: ++61430010348
        ssnId:
          format: uppercase
          description: SSN ID of the Customer
          type: string
          maxLength: 25
          example: 113902
        gender:
          description: Gender of the Customer
          type: string
          enum:
          - 0
          - 1
          - 2
          maxLength: 1
          example: 0
        mobileNumber:
          format: uppercase
          description: Mobile Number of the Customer
          type: string
          maxLength: 20
          example: ++61430010348
        nameLine1:
          format: uppercase
          description: First Name of the Customer
          type: string
          maxLength: 40
          example: UATMFNCU448 TWOPPPUATMLNCUST448
        emailAddress:
          format: uppercase
          description: Email Address of the Customer
          type: string
          maxLength: 60
          example: UATMFNCU448@GMAIL.COM
        workPhoneNumber:
          format: uppercase
          description: Work Phone Number of the Customer
          type: string
          maxLength: 20
          example: ++61430010348
        addressLine1:
          format: uppercase
          description: Address line 1 of the Customer
          type: string
          maxLength: 40
          example: 62 CHARTERIS DR
        creditLimit:
          default: 0.0
          description: Overall Credit Limit at the relationship level  (if relationship
            is active)
          type: string
          maxLength: 17
          example: $0.00"
        addressLine2:
          format: uppercase
          description: Address Line 2 of the Customer
          type: string
          maxLength: 40
          example: ""
        addressLine3:
          format: uppercase
          description: Address Line 3 of the Customer
          type: string
          maxLength: 40
          example: ""
        addressLine4:
          format: uppercase
          description: Address Line 4 of the Customer
          type: string
          maxLength: 40
          example: ""
        billingLvl:
          description: Flag indicating the Level of billing is at relationship level
            or at subordnate account level
          type: string
          enum:
          - 0
          - 1
          - 2
          maxLength: 1
          example: 0
        userDefinedField4:
          format: uppercase
          description: User Defined Field 4
          type: string
          maxLength: 1
          example: ""
        numberOfAccounts:
          format: uppercase
          description: Number of Accounts associated with the Customer
          type: string
          maxLength: 3
          example: 1
        dateOfBirth:
          format: date
          description: "Date of Birth of the Customer, format is DD/MM/YYYY"
          type: string
          maxLength: 10
          example: 14/11/1940
        customerNumber:
          format: uppercase
          description: Customer Number - This field is Identification number of the
            Name and Address record.
          type: string
          maxLength: 19
          example: 0001000000000113902
        customerName:
          format: uppercase
          description: Name of the Customer
          type: string
          maxLength: 40
          example: UATMFNCU448
        homeDistricName:
          format: uppercase
          description: Home Distric Name of the Customer
          type: string
          maxLength: 20
          example: ""
        cardList:
          type: array
          items:
            type: object
            properties:
              cardholderType:
                default: 0.0
                maximum: 9.0
                type: number
                minimum: 0.0
                description: Type of Cardholder - Main or Supplementary
                maxLength: 1
                example: 1
              businessUnit:
                default: 0.0
                maximum: 999.0
                type: number
                minimum: 0.0
                description: Business Unit - Identification number of the business
                  unit associated with the  customer
                maxLength: 3
                example: 100
              lastCardExpirationDate:
                format: date
                type: string
                description: "Expiration Date of the last card issued to cardholder,\
                  \ format is DD/MM/YYYY"
                maxLength: 10
                example: 00/00/0000
              cardIssueDate:
                format: date
                type: string
                description: "Date the Card is Issued, format is DD/MM/YYYY"
                maxLength: 10
                example: 28/09/2020
              lastCardAction:
                type: string
                enum:
                - 0
                - 1
                - 2
                - 3
                - 4
                - 5
                - 6
                - 7
                - 8
                - 9
                description: Last Embossing Action requested on the card
                maxLength: 1
                example: 1
              dateLastWalletUsed:
                format: uppercase
                type: string
                description: "Date the last wallet associated with card is used, format\
                  \ is DD/MM/YYYY"
                maxLength: 10
                example: 0
              dateOpened:
                format: date
                type: string
                description: "Date the Card is issued, format is DD/MM/YYYY"
                maxLength: 10
                example: 17/09/2020
              ecomActFlag:
                format: uppercase
                type: string
                description: Flag for e-commerce usage
                maxLength: 1
                example: "Y"
              maskCardNumber:
                format: uppercase
                type: string
                description: Mask Card number of the actual card number associated
                  with the card Id
                maxLength: 19
                example: 000984680XXXXXX9405
              lastCardNeedActivation:
                format: uppercase
                type: string
                description: Last Card Need Activation
                maxLength: 1
                example: "Y"
              productDescription:
                format: uppercase
                type: string
                description: Description of the Card
                maxLength: 30
                example: VISA PLATINUM DEBIT
              mccLimit9:
                default: 0.0
                type: string
                description: Occurence-9 of the MCC limit applied on the Card
                maxLength: 11
                example: $0.00
              mccLimit8:
                default: 0.0
                type: string
                description: Occurence-8 of the MCC limit applied on the Card
                maxLength: 11
                example: $0.00
              blockDate:
                format: date
                type: string
                description: "Date the Block Code is assigned on the card, format\
                  \ is DD/MM/YYYY."
                maxLength: 10
                example: 00/00/0000
              mccLimit7:
                default: 0.0
                type: string
                description: Occurence-7 of the MCC limit applied on the Card
                maxLength: 11
                example: $0.00
              mccLimit6:
                default: 0.0
                type: string
                description: Occurence-6 of the MCC limit applied on the Card
                maxLength: 11
                example: $0.00
              digitalId:
                format: uppercase
                type: string
                description: digital id of the wallet
                maxLength: 10
                example: ' '
              mccLimit1:
                default: 0.0
                type: string
                description: Occurence-1 of the MCC limit applied on the Card
                maxLength: 11
                example: $0.01
              cardTechnology:
                type: string
                enum:
                - 0
                - 1
                - 3
                - 5
                - 2
                - 4
                description: Technology (chip / magnetic / contactless) used to emboss
                  the card
                maxLength: 1
                example: 3
              mccLimit5:
                default: 0.0
                type: string
                description: Occurence-5 of the MCC limit applied on the Card
                maxLength: 11
                example: $0.00
              mccLimit4:
                default: 0.0
                type: string
                description: Occurence-4 of the MCC limit applied on the Card
                maxLength: 11
                example: $0.00
              mccLimit3:
                default: 0.0
                type: string
                description: Occurence-3 of the MCC limit applied on the Card
                maxLength: 11
                example: $0.00
              mccLimit2:
                default: 0.0
                type: string
                description: Occurence-2 of the MCC limit applied on the Card
                maxLength: 11
                example: $0.00
              currCardAction:
                type: string
                enum:
                - 0
                - 1
                - 2
                - 3
                - 4
                - 5
                - 6
                - 7
                - 8
                - 9
                description: Current Embossing Action requested on the card
                maxLength: 1
                example: 0
              embosserRecordStatus:
                type: string
                enum:
                - 0
                - 1
                - F
                - S
                - T
                - P
                - ' '
                description: Status of the card
                maxLength: 1
                example: 0
              intAtmPosFlag:
                format: uppercase
                type: string
                description: Flag for international ATM POS usage
                maxLength: 1
                example: "Y"
              plasticSuppressStatus:
                format: uppercase
                type: string
                description: Flag for plastic usage suppression
                maxLength: 1
                example: "N"
              cardNumber:
                format: uppercase
                type: string
                description: Card Number - Token Number assigned to the cardholder
                  embosser record
                maxLength: 19
                example: 0009846801010009405
              timeLastPlasticIssue:
                default: 0.0
                maximum: 9999999.0
                type: number
                minimum: -9999999.0
                description: Time Last Plastic Issue
                maxLength: 6
                example: 131201
              payWaveFlag:
                format: uppercase
                type: string
                description: Flag for Paywave usage
                maxLength: 1
                example: "Y"
              mccLimit10:
                default: 0.0
                type: string
                description: Occurence-10 of the MCC limit applied on the Card
                maxLength: 11
                example: $0.00
              savingsAccountNbr:
                format: uppercase
                type: string
                description: Saving Account number associated with the card (Debit
                  Card Only)
                maxLength: 17
                example: ' '
              motoFlag:
                format: uppercase
                type: string
                description: Flag to determine MOTO transaction is allowed
                maxLength: 1
                example: ' '
              currentCardNeedActivation:
                format: uppercase
                type: string
                description: Current Card Activation Status
                maxLength: 1
                example: "Y"
              nameOnCard:
                format: uppercase
                type: string
                description: Embossed Name On Card
                maxLength: 26
                example: U T UATMLNCUST448
              pinOffset:
                format: uppercase
                type: string
                description: Pin offset
                maxLength: 6
                example: 329861
              cardActivatedDate:
                format: date
                type: string
                description: "Date the card is activated, format is DD/MM/YYYY"
                maxLength: 10
                example: 00/00/0000
              blockCode:
                format: uppercase
                type: string
                description: Block Code on the card
                maxLength: 1
                example: ' '
              product:
                default: 0.0
                maximum: 999.0
                type: number
                minimum: 0.0
                description: Product associated with the Card
                maxLength: 3
                example: 001
              cardSequence:
                default: 0.0
                maximum: 9999.0
                type: number
                minimum: 0.0
                description: Sequence of the card ID
                maxLength: 4
                example: 1
              warningCode:
                format: uppercase
                type: string
                description: Warning Code applied to the card
                maxLength: 1
                example: 0
              embrName2:
                format: uppercase
                type: string
                description: Embossed Name-2 on the Card
                maxLength: 26
                example: ' '
              cashBackTranFlag:
                format: uppercase
                type: string
                description: Flag for cashback usage
                maxLength: 1
                example: "Y"
              chequeAccountNbr:
                format: uppercase
                type: string
                description: Checking Account number associated with the card (Debit
                  Card Only)
                maxLength: 19
                example: ' '
              postToAccount:
                format: uppercase
                type: string
                description: Account to which the card is linked
                maxLength: 19
                example: 0001000011000052268
              atmFlag:
                format: uppercase
                type: string
                description: Flag for ATM usage
                maxLength: 1
                example: "Y"
              cardExpirationDate:
                format: date
                type: string
                description: "Expiration Date on the card, format is DD/MM/YYYY"
                maxLength: 10
                example: 16/09/2023
              posFlag:
                format: uppercase
                type: string
                description: Flag for POS usage
                maxLength: 1
                example: "Y"
              numberOfCards:
                format: uppercase
                type: string
                description: Number of wallet token associated with card
                maxLength: 2
                example: 0
              dateLastPlasticUsed:
                format: uppercase
                type: string
                description: "Date the last plastic is used, format is DD/MM/YYYY"
                maxLength: 10
                example: 13815
              dateLastPlasticSupresed:
                format: uppercase
                type: string
                description: "Date the last plastic usage is suppressed, format is\
                  \ DD/MM/YYYY"
                maxLength: 10
                example: 0
        relName:
          format: uppercase
          description: Name on the relationship Record  (if relationship is active)
          type: string
          maxLength: 40
          example: ' '
        numberOfCards:
          format: uppercase
          description: Number of Cards associated with the Customer
          type: string
          maxLength: 3
          example: 1
        relationshipNbr:
          format: uppercase
          description: Relationship number associated with the customer (if relationship
            is active)
          type: string
          maxLength: 19
          example: ""
        status:
          description: Status of the Relationship Record  (if relationship is active)
          type: string
          enum:
          - 0
          - 1
          - 8
          - P
          - 9
          maxLength: 1
          example: ""
    ListCustomersAccountsResp:
      type: object
      properties:
        totalAvailable:
          default: 0.0
          description: Total Available balance at the relationship level
          type: string
          maxLength: 17
          example: $0.00
        businessUnit:
          format: uppercase
          description: Business Unit of the Relationship account (if relationship
            is active)
          type: string
          maxLength: 3
          example: 0
        homePhoneNumber:
          format: uppercase
          description: Home Phone Number of the Customer
          type: string
          maxLength: 20
          example: ++61430010348
        ssnId:
          format: uppercase
          description: SSN ID of the Customer
          type: string
          maxLength: 25
          example: 113902
        gender:
          description: Gender of the Customer
          type: string
          enum:
          - 0
          - 1
          - 2
          maxLength: 1
          example: 0
        mobileNumber:
          format: uppercase
          description: Mobile Number of the Customer
          type: string
          maxLength: 20
          example: ++61430010348
        nameLine1:
          format: uppercase
          description: First Name of the Customer
          type: string
          maxLength: 40
          example: UATMFNCU448 TWOPPPUATMLNCUST448
        emailAddress:
          format: uppercase
          description: Email Address of the Customer
          type: string
          maxLength: 60
          example: UATMFNCU448@GMAIL.COM
        workPhoneNumber:
          format: uppercase
          description: Work Phone Number of the Customer
          type: string
          maxLength: 20
          example: ++61430010348
        addressLine1:
          format: uppercase
          description: Address line 1 of the Customer
          type: string
          maxLength: 40
          example: 62 CHARTERIS DR
        creditLimit:
          default: 0.0
          description: Overall Credit Limit at the relationship level  (if relationship
            is active)
          type: string
          maxLength: 17
          example: $0.00"
        addressLine2:
          format: uppercase
          description: Address Line 2 of the Customer
          type: string
          maxLength: 40
          example: ' '
        addressLine3:
          format: uppercase
          description: Address Line 3 of the Customer
          type: string
          maxLength: 40
          example: ' '
        addressLine4:
          format: uppercase
          description: Address Line 4 of the Customer
          type: string
          maxLength: 40
          example: ""
        billingLvl:
          description: Flag indicating the Level of billing is at relationship level
            or at subordnate account level
          type: string
          enum:
          - 0
          - 1
          - 2
          maxLength: 1
          example: 0
        userDefinedField4:
          format: uppercase
          description: User Defined Field 4
          type: string
          maxLength: 1
          example: ""
        numberOfAccounts:
          format: uppercase
          description: Number of Accounts associated with the Customer
          type: string
          maxLength: 3
          example: 1
        dateOfBirth:
          format: date
          description: "Date of Birth of the Customer, format is DD/MM/YYYY"
          type: string
          maxLength: 10
          example: 14/11/1940
        customerNumber:
          format: uppercase
          description: Customer Number - This field is Identification number of the
            Name and Address record.
          type: string
          maxLength: 19
          example: 0001000000000113902
        customerName:
          format: uppercase
          description: Name of the Customer
          type: string
          maxLength: 40
          example: UATMFNCU448
        homeDistricName:
          format: uppercase
          description: Home Distric Name of the Customer
          type: string
          maxLength: 20
          example: ""
        relName:
          format: uppercase
          description: Name on the relationship Record  (if relationship is active)
          type: string
          maxLength: 40
          example: ' '
        accountList:
          type: array
          items:
            type: object
            properties:
              product:
                format: uppercase
                type: string
                description: Product associated with the account
                maxLength: 3
                example: 1
              businessUnit:
                format: uppercase
                type: string
                description: Business Unit - Identification number of the business
                  unit associated with the  account
                maxLength: 3
                example: 100
              amountMemoCredit:
                default: 0.0
                type: string
                description: Amount of Credit Authorization applied on hte account
                maxLength: 17
                example: $0.00
              ddaAccountNumber:
                format: uppercase
                type: string
                description: Debit Account number associated with the account
                maxLength: 17
                example: 890005226
              mailingIndicator:
                type: string
                enum:
                - H
                - O
                description: Mailing Indicator for sending mails to either Office
                  Address or Home Address
                maxLength: 1
                example: ' '
              blockCode2Date:
                format: date
                type: string
                description: "Date the Block Code 2 is applied, format is DD/MM/YYYY"
                maxLength: 10
                example: 00/00/0000
              accountNumber:
                format: uppercase
                type: string
                description: Account ID assigned to the customer for a given product
                maxLength: 19
                example: 0001000011000052268
              suppressToken:
                type: string
                enum:
                - 0
                - 1
                description: Flag to supporess the wallet token creation
                maxLength: 1
                example: 0
              internalStatus:
                type: string
                enum:
                - "N"
                - A
                - F
                - D
                - I
                - M
                - Z
                - B
                - C
                - H
                - V
                - X
                - Q
                - J
                - V
                - T
                - R
                - K
                - J
                - 8
                - 9
                - P
                - H
                description: Status of the account
                maxLength: 1
                example: D
              reissContolMethod:
                default: 0.0
                maximum: 9.0
                type: number
                minimum: 0.0
                description: Flag to indicate method to reissue
                maxLength: 1
                example: 0
              amountMemoDebit:
                default: 0.0
                type: string
                description: 'Amount of Debit Authorization that holds the Open to
                  Buy '
                maxLength: 17
                example: $0.00
              nbrOfTokenizedCards:
                default: 0.0
                maximum: 99.0
                type: number
                minimum: 0.0
                description: Number of wallet cards associated with account
                maxLength: 2
                example: 0
              blockCode1:
                format: uppercase
                type: string
                description: Block Code 1 on the account
                maxLength: 1
                example: A
              blockCode2:
                format: uppercase
                type: string
                description: Block Code 2 on the account
                maxLength: 1
                example: ""
              blockCode1Date:
                format: date
                type: string
                description: "Date the Block Code 1 is applied, format is DD/MM/YYYY"
                maxLength: 10
                example: 19/08/2021
        numberOfCards:
          format: uppercase
          description: Number of Cards associated with the Customer
          type: string
          maxLength: 3
          example: 1
        relationshipNbr:
          format: uppercase
          description: Relationship number associated with the customer (if relationship
            is active)
          type: string
          maxLength: 19
          example: ""
        status:
          description: Status of the Relationship Record  (if relationship is active)
          type: string
          enum:
          - 0
          - 1
          - 8
          - P
          - 9
          maxLength: 1
          example: ""
    SearchCustomersResp:
      type: object
      properties:
        country:
          format: uppercase
          description: Country - The value entered must be a valid country code
          type: string
          maxLength: 3
          example: ""
        lastName:
          format: uppercase
          description: Last Name - Last name of the Customer.
          type: string
          maxLength: 40
          example: ""
        businessUnit:
          format: uppercase
          description: "Business Unit - Identification number associated with this\
            \ Account Base Segment record, the values are 001–998"
          type: string
          maxLength: 3
          example: 0
        user15:
          format: uppercase
          description: User 15 - User-defined field for the search. This field literal
            displays as USER 15 unless changed on the Organization record (ARMO11).
          type: string
          maxLength: 20
          example: ""
        user14:
          format: uppercase
          description: User 14 - User-defined field for the search. This field literal
            displays as User 14 unless changed on the Organization record (ARMO11).
          type: string
          maxLength: 20
          example: ""
        postalCode:
          format: uppercase
          description: Postal Code - Postal code portion of the mailing address of
            the owner
          type: string
          maxLength: 10
          example: ""
        dateOfBirth:
          format: uppercase
          description: Date of Birth - Format is DD/MM/YYYY.
          type: string
          maxLength: 10
          example: 01/09/1990
        title:
          format: uppercase
          description: Title - Professional or honorary title of the customer
          type: string
          maxLength: 20
          example: ""
        suffix:
          format: uppercase
          description: "Suffix - Suffix for the customer. Examples include Jr., Sr.,\
            \ etc."
          type: string
          maxLength: 20
          example: ""
        token:
          type: array
          items:
            type: object
            properties:
              country:
                format: uppercase
                type: string
                description: Country - The value entered must be a valid country code
                  previously definedin the Security Subsystem and Common Routines
                  (SSC) system
                maxLength: 3
                example: ""
              businessUnit:
                default: 0.0
                maximum: 999.0
                type: number
                minimum: 0.0
                description: "Business Unit - Identification number associated with\
                  \ this Account Base Segment record, the values are 001–998"
                maxLength: 3
                example: 600
              user15:
                format: uppercase
                type: string
                description: User 15 - User-defined field for the search. This field
                  literal displays as USER 15 unless changed on the Organization record
                  (ARMO11).
                maxLength: 20
                example: ""
              user14:
                format: uppercase
                type: string
                description: User 14 - User-defined field for the search. This field
                  literal displays as User 14 unless changed on the Organization record
                  (ARMO11).
                maxLength: 20
                example: ""
              postalCode:
                format: uppercase
                type: string
                description: Postal Code - Postal code portion of the mailing address
                  of the owner
                maxLength: 10
                example: ""
              nameField:
                format: uppercase
                type: string
                description: 'Name Field '
                maxLength: 30
                example: MR CRUOSAREOBUCDK C CUACOEBKNQ
              lastbusinesstoregenricName:
                format: uppercase
                type: string
                description: Last/Busines/Store/Genric Name
                maxLength: 40
                example: CUACOEBKNQJRXD
              dateOfBirth:
                format: uppercase
                type: string
                description: Date of Birth. Format is DD/MM/YYYY.
                maxLength: 10
                example: 24/04/1990
              suffix:
                format: uppercase
                type: string
                description: "Suffix - Suffix for the customer. Examples include Jr.,\
                  \ Sr., etc."
                maxLength: 20
                example: ""
              title:
                format: uppercase
                type: string
                description: Title - Professional or honorary title of the customer
                maxLength: 20
                example: ""
              nameAndOtherDetails:
                format: uppercase
                type: string
                description: Name and Other Details
                maxLength: 76
                example: CUACOEBKNQJRXD/CRUOSAREOBUCDK/C/390539172/          /0000000
                  ///////
              firstName:
                format: uppercase
                type: string
                description: First Name - First name of the customer
                maxLength: 40
                example: CRUOSAREOBUCDK
              sourceCode:
                format: uppercase
                pattern: "^[O][1-4]$|^[C][1-4]$|^M1$|^MD$|^S1$|^SD$"
                type: string
                description: Source Code
                maxLength: 2
                example: O2
              phoneNumber:
                format: uppercase
                type: string
                description: Phone Number - Phone Number of Customer
                maxLength: 20
                example: 0950340942
              custstoremerch:
                format: uppercase
                type: string
                maxLength: 19
                description: "CUST#/STORE#/MERCH# - Number of the customer, store,\
                  \ or merchant record that was found to contain the name information."
                example: 0000000001000000024
              identificationNumber:
                format: uppercase
                type: string
                description: Identification Number - Code that indicates if this number
                  is a Social Security number or other tax identification number.
                maxLength: 25
                example: 390539172
              middleName:
                format: uppercase
                type: string
                description: Middle Name - Middle name of the customer.
                maxLength: 40
                example: C
        firstName:
          format: uppercase
          description: First Name - First name of the customer
          type: string
          maxLength: 40
          example: ""
        phoneNumber:
          format: uppercase
          description: Phone Number - Phone Number of Customer
          type: string
          maxLength: 20
          example: ""
        mobileDeviceId:
          format: uppercase
          description: 'Mobile Device ID - Identification of a mobile device associated
            with a mobile payment instrument (PI) embosser. CMS does not validate
            this field; it is stored only. '
          type: string
          maxLength: 20
          example: ""
        primaryKeyField:
          format: uppercase
          description: Primary Key Field - Key field provided in input request
          type: string
          maxLength: 40
          example: 390539172
        countryCode:
          format: uppercase
          description: "Country Code - Country for the customer. If you use this field,\
            \ enter the exact country code"
          type: string
          maxLength: 3
          example: ""
        identificationNumber:
          format: uppercase
          description: Identification Number - Code that indicates if this number
            is a Social Security number or other tax identification number.
          type: string
          maxLength: 25
          example: ""
        middleName:
          format: uppercase
          description: Middle Name - Middle name of the customer.
          type: string
          maxLength: 40
          example: ""
    SearchCustomersReq:
      type: object
      properties:
        lastName:
          format: uppercase
          description: 'Last Name - Last name of the Customer. '
          type: string
          maxLength: 40
          example: ""
        primaryDataSwitch:
          description: "Primary Data Switch - A primary search value must be supplied,\
            \ and can be based on one of four fields - last/business/generic/store\
            \ name, identification number, phone number, postal code or mobile device\
            \ id"
          type: string
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          maxLength: 1
          example: 1
        businessUnit:
          default: 0.0
          maximum: 999.0
          description: "Business Unit - Identification number associated with this\
            \ Account Base Segment record, the values are 001–998"
          type: number
          minimum: 0.0
          maxLength: 3
          example: 0
        user15:
          format: uppercase
          description: User 15 - User-defined field for the search. This field literal
            displays as USER 15 unless changed on the Organization record (ARMO11).
          type: string
          maxLength: 20
          example: ""
        user14:
          format: uppercase
          description: User 14 - User-defined field for the search. This field literal
            displays as User 14 unless changed on the Organization record (ARMO11).
          type: string
          maxLength: 20
          example: ""
        postalCode:
          format: uppercase
          description: Postal Code - Postal code portion of the mailing address of
            the owner
          type: string
          maxLength: 10
          example: ""
        dateOfBirth:
          format: date
          description: Date Of Birth - Date of Birth of Customer. Format is DD/MM/YYYY.
          type: string
          maxLength: 10
          example: 0
        title:
          format: uppercase
          description: Title - Professional or honorary title of the customer
          type: string
          maxLength: 20
          example: ""
        suffix:
          format: uppercase
          description: "Suffix - Suffix for the customer. Examples include Jr., Sr.,\
            \ etc."
          type: string
          maxLength: 20
          example: ""
        primaryData:
          format: uppercase
          description: Primary Data - Search field as per Primary data switch
          type: string
          maxLength: 40
          example: 390539172
        firstName:
          format: uppercase
          description: First Name - First name of the customer
          type: string
          maxLength: 40
          example: ""
        phoneNumber:
          format: uppercase
          description: Phone Number - Phone Number of Customer
          type: string
          maxLength: 20
          example: ""
        mobileDeviceId:
          format: uppercase
          description: 'Mobile Device ID - Identification of a mobile device associated
            with a mobile payment instrument (PI) embosser. CMS does not validate
            this field; it is stored only. '
          type: string
          maxLength: 20
          example: ""
        countryCode:
          format: uppercase
          description: "Country Code - Country for the customer. If you use this field,\
            \ enter the exact country code"
          type: string
          maxLength: 3
          example: ""
        identificationNumber:
          format: uppercase
          description: Identification Number -  Code that indicates if this number
            is a Social Security number or other tax identification number.
          type: string
          maxLength: 25
          example: ""
        middleName:
          format: uppercase
          description: Middle Name - Middle name of the customer.
          type: string
          maxLength: 40
          example: ""
        optionalDataMatch:
          description: "Optional Data Match - Code that indicates the degree of matching\
            \ required for optional data fields. When an optional field contains a\
            \ value greater than spaces, this field defines whether the resulting\
            \ search data should match on all optional fields or on any optional field.\
            \ The values are: 0 = Display any optional field match (Default) 1 = Display\
            \ only those records that match all requested optional fields. "
          type: string
          enum:
          - 1
          - 0
          maxLength: 1
          example: 1